{% extends 'EtuCoreBundle:Admin:layout.html.twig' %}

{% block title %}{{ 'core.admin.index.title'|trans }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('src/img/titles/gear.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<div class="padding20-all">
		<h3>{{ 'core.admin.index.title'|trans }}</h3>
		<p>{{ 'core.admin.index.welcome'|trans }}</p>
		<p>{{ 'core.admin.index.description'|trans }}</p>
	</div>
{% endblock %}
