{% extends 'EtuCoreBundle:Admin:layout.html.twig' %}

{% block title %}{{ 'base.admin_menu.items.dashboard'|trans }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/gear.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<div class="padding20-all">
		<h3>Charge serveur</h3>

		<pre>{{ top }}</pre>
	</div>
{% endblock %}