{% extends 'EtuCoreBundle:Admin:layout.html.twig' %}

{% block title %}{{ 'core.admin.pageCreate.title'|trans }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/gear.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<div class="padding20-all">
		<form method="post">
			{{ form_errors(form) }}

			<div class="control-group">
				<label class="control-label">{{ form_label(form.title, 'core.admin.pageCreate.name'|trans) }}</label>
				<div class="controls">
					{{ form_widget(form.title) }}
					<span class="help-block">{{ form_errors(form.title) }}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">{{ form_label(form.content, 'core.admin.pageCreate.content'|trans) }}</label>
				<div class="controls">
					{{ form_widget(form.content) }}
					<span class="help-block">{{ form_errors(form.content) }}</span>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					{{ form_rest(form) }}

					<button type="submit" class="btn">{{ 'core.admin.pageCreate.submit'|trans }}</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
