{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'admin.stats.title'|trans }}{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
		google.load("visualization", "1", { packages:["corechart"] });
		google.setOnLoadCallback(drawChart);

		function drawChart() {
			var unique_visitors = new google.visualization.LineChart(document.getElementById('unique_visitors'));
			unique_visitors.draw(google.visualization.arrayToDataTable({{ uniqueVisitors|raw }}), {});

			var pages_calls = new google.visualization.LineChart(document.getElementById('pages_calls'));
			pages_calls.draw(google.visualization.arrayToDataTable({{ pagesCalls|raw }}), {});

			var browsers = new google.visualization.PieChart(document.getElementById('browsers'));
			browsers.draw(google.visualization.arrayToDataTable({{ browsers|raw }}), {});

			var platforms = new google.visualization.PieChart(document.getElementById('platforms'));
			platforms.draw(google.visualization.arrayToDataTable({{ platforms|raw }}), {});

			var externalSources = new google.visualization.PieChart(document.getElementById('externalSources'));
			externalSources.draw(google.visualization.arrayToDataTable({{ externalSources|raw }}), {});
		}
	</script>
{% endblock %}

{% block content %}
	<div class="padding20-all">
		<h3>Statistiques générales</h3>

		<div class="block">
			<div class="block-title">Statistiques pour le mois actuel</div>

			<div class="row-fluid">
				<div class="span6">
					<table class="table">
						<tbody>
							<tr>
								<td style="width: 80%; border-top: 0;">Nombre de visiteurs uniques</td>
								<td style="border-top: 0;"><strong>{{ uniqueVisitorsCount }}</strong></td>
							</tr>
							<tr>
								<td>Nombre de chargements de page</td>
								<td><strong>{{ pagesCallsCount }}</strong></td>
							</tr>
							<tr>
								<td>Nombre moyen de pages visitées après la première</td>
								<td><strong>{{ averageVisitedPages }}</strong></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="span6">
					<table class="table">
						<tbody>
						{% if averageDuration is not null %}
							<tr>
								<td style="width: 80%; border-top: 0;">Durée moyenne d'une visite</td>
								<td style="border-top: 0;"><strong>{{ averageDuration|date('i') }} sec</strong></td>
							</tr>
						{% endif %}
						{% if averageTimeToLoad is not null %}
							<tr>
								<td>Durée moyenne de génération d'une page</td>
								<td><strong>{{ averageTimeToLoad }} ms</strong></td>
							</tr>
						{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span6">
				<div class="block">
					<div class="block-title">Nombre de visiteurs uniques le mois dernier</div>

					<div id="unique_visitors" style="width: 100%; height: 200px;"></div>
				</div>
			</div>
			<div class="span6">
				<div class="block">
					<div class="block-title">Nombre de chargements de pages le mois dernier</div>

					<div id="pages_calls" style="width: 100%; height: 200px;"></div>
				</div>
			</div>
		</div>

		<h3>Visiteurs</h3>

		<div class="row-fluid">
			<div class="span6">
				<div class="block">
					<div class="block-title">Navigateurs</div>

					<div id="browsers" style="width: 100%; height: 200px;"></div>
				</div>
			</div>
			<div class="span6">
				<div class="block">
					<div class="block-title">Platformes</div>

					<div id="platforms" style="width: 100%; height: 200px;"></div>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span6">
				<div class="block">
					<div class="block-title">Versions des navigateurs les plus utilisées</div>

					<table class="table table-hover">
						<thead>
						<tr>
							<th style="width: 25px;">#</th>
							<th>Nom</th>
							<th style="width: 100px;">Visiteurs</th>
							<th style="width: 100px;">Pourcentage</th>
						</tr>
						</thead>
						<tbody>
						{% for browser in browsersVersions %}
							<tr>
								<td>{{ browser.place }}</td>
								<td>{{ browser.name }}</td>
								<td>{{ browser.nb }}</td>
								<td>{{ browser.percentage }} %</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4">Pas d'information disponible</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<div class="span6">
				<div class="block">
					<div class="block-title">Routes les plus utilisées</div>

					<table class="table table-hover">
						<thead>
						<tr>
							<th style="width: 25px;">#</th>
							<th>Route</th>
							<th style="width: 100px;">Visiteurs</th>
							<th style="width: 100px;">Pourcentage</th>
						</tr>
						</thead>
						<tbody>
						{% for route in mostUsedRoutes %}
							<tr>
								<td>{{ route.place }}</td>
								<td>{{ route.route }}</td>
								<td>{{ route.nb }}</td>
								<td>{{ route.percentage }} %</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4">Pas d'information disponible</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<h3>Sources de traffic</h3>

		<div class="row-fluid">
			<div class="span6">
				<div class="block">
					<div class="block-title">Sources de visiteurs</div>

					<table class="table table-hover">
						<thead>
						<tr>
							<th style="width: 25px;">#</th>
							<th style="width: 50%;">Domaine</th>
							<th>Visiteurs</th>
							<th>Pourcentage</th>
						</tr>
						</thead>
						<tbody>
						{% for source in allExternalSources %}
							<tr>
								<td>{{ source.place }}</td>
								<td>{{ source.domain }}</td>
								<td>{{ source.nb }}</td>
								<td>{{ source.percentage }} %</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4">No external source available.</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="span6">
				<div class="block">
					<div class="block-title">Sources les plus importantes de visiteurs</div>

					<div id="externalSources" style="width: 100%; height: 250px;"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}