{% extends 'EtuCoreBundle:Admin:layout.html.twig' %}

{% block title %}{{ 'core.admin.stats.title'|trans }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/gear.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
		google.load("visualization", "1", { packages:["corechart"] });
		google.setOnLoadCallback(drawChart);

		function drawChart() {
			var unique_visitors = new google.visualization.LineChart(document.getElementById('unique_visitors'));
			unique_visitors.draw(google.visualization.arrayToDataTable({{ uniqueVisitors|raw }}), {});

			var pages_calls = new google.visualization.LineChart(document.getElementById('pages_calls'));
			pages_calls.draw(google.visualization.arrayToDataTable({{ pagesCalls|raw }}), {});

			var browsers = new google.visualization.PieChart(document.getElementById('browsers'));
			browsers.draw(google.visualization.arrayToDataTable({{ browsers|raw }}), {});

			var platforms = new google.visualization.PieChart(document.getElementById('platforms'));
			platforms.draw(google.visualization.arrayToDataTable({{ platforms|raw }}), {});

			var externalSources = new google.visualization.PieChart(document.getElementById('externalSources'));
			externalSources.draw(google.visualization.arrayToDataTable({{ externalSources|raw }}), {});
		}
	</script>
{% endblock %}

{% block content %}
	<div class="padding20-all">
		<p class="alert visible-phone">{{ 'core.admin.stats.mobile'|trans }}</p>

		<h3>{{ 'core.admin.stats.general'|trans }}</h3>

		<div class="block">
			<div class="block-title">{{ 'core.admin.stats.current_month'|trans }}</div>

			<div class="row-fluid">
				<div class="span6">
					<table class="table table-hover">
						<tbody>
							<tr>
								<td style="width: 80%; border-top: 0;">{{ 'core.admin.stats.unique_visitors_count'|trans }}</td>
								<td style="border-top: 0;"><strong>{{ uniqueVisitorsCount }}</strong></td>
							</tr>
							<tr>
								<td>{{ 'core.admin.stats.pages_calls_count'|trans }}</td>
								<td><strong>{{ pagesCallsCount }}</strong></td>
							</tr>
							<tr>
								<td>{{ 'core.admin.stats.average_visited_pages'|trans }}</td>
								<td><strong>{{ averageVisitedPages }}</strong></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="span6">
					<table class="table table-hover">
						<tbody>
						<tr>
							<td style="width: 70%; border-top: 0;">{{ 'core.admin.stats.average_duration'|trans }}</td>
							<td style="border-top: 0;"><strong>{{ averageDuration }} sec</strong></td>
						</tr>
						<tr>
							<td>{{ 'core.admin.stats.average_time_to_load'|trans }}</td>
							<td><strong>{{ averageTimeToLoad }} ms</strong></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="hidden-phone">
			<div class="row-fluid">
				<div class="span6">
					<div class="block">
						<div class="block-title">{{ 'core.admin.stats.unique_visitors'|trans }}</div>

						<div id="unique_visitors" style="width: 100%; height: 200px;"></div>
					</div>
				</div>
				<div class="span6">
					<div class="block">
						<div class="block-title">{{ 'core.admin.stats.pages_calls'|trans }}</div>

						<div id="pages_calls" style="width: 100%; height: 200px;"></div>
					</div>
				</div>
			</div>

			<h3>Visiteurs</h3>

			<div class="row-fluid">
				<div class="span6">
					<div class="block">
						<div class="block-title">{{ 'core.admin.stats.browsers'|trans }}</div>

						<div id="browsers" style="width: 100%; height: 200px;"></div>
					</div>
				</div>
				<div class="span6">
					<div class="block">
						<div class="block-title">{{ 'core.admin.stats.plaftorms'|trans }}</div>

						<div id="platforms" style="width: 100%; height: 200px;"></div>
					</div>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span6">
					<div class="block">
						<div class="block-title">{{ 'core.admin.stats.most_used_browsers_versions'|trans }}</div>

						<table class="table table-hover">
							<thead>
							<tr>
								<th style="width: 25px;">#</th>
								<th>{{ 'core.admin.stats.browser_name'|trans }}</th>
								<th style="width: 100px;">{{ 'core.admin.stats.browser_count'|trans }}</th>
								<th style="width: 100px;">{{ 'core.admin.stats.browser_percentage'|trans }}</th>
							</tr>
							</thead>
							<tbody>
							{% for browser in browsersVersions %}
								<tr>
									<td>{{ browser.place }}</td>
									<td>{{ browser.name }}</td>
									<td>{{ browser.nb }}</td>
									<td>{{ browser.percentage }} %</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="4">{{ 'core.admin.stats.no_info'|trans }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

				<div class="span6">
					<div class="block">
						<div class="block-title">{{ 'core.admin.stats.most_used_routes'|trans }}</div>

						<table class="table table-hover">
							<thead>
							<tr>
								<th style="width: 25px;">#</th>
								<th>{{ 'core.admin.stats.route_name'|trans }}</th>
								<th style="width: 100px;">{{ 'core.admin.stats.route_count'|trans }}</th>
								<th style="width: 100px;">{{ 'core.admin.stats.route_percentage'|trans }}</th>
							</tr>
							</thead>
							<tbody>
							{% for route in mostUsedRoutes %}
								<tr>
									<td>{{ route.place }}</td>
									<td>{{ route.route|limit(20) }}</td>
									<td>{{ route.nb }}</td>
									<td>{{ route.percentage }} %</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="4">{{ 'core.admin.stats.no_info'|trans }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<h3>{{ 'core.admin.stats.traffic_sources'|trans }}</h3>

			<div class="row-fluid">
				<div class="span6">
					<div class="block">
						<div class="block-title">{{ 'core.admin.stats.visitors_sources'|trans }}</div>

						<table class="table table-hover">
							<thead>
							<tr>
								<th style="width: 25px;">#</th>
								<th style="width: 40%;">{{ 'core.admin.stats.source_domain'|trans }}</th>
								<th>{{ 'core.admin.stats.source_count'|trans }}</th>
								<th>{{ 'core.admin.stats.source_percentage'|trans }}</th>
							</tr>
							</thead>
							<tbody>
							{% for source in allExternalSources %}
								<tr>
									<td>{{ loop.index }}</td>
									<td>{{ source.domain }}</td>
									<td>{{ source.countVisitors }}</td>
									<td>{{ source.percentage }} %</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="4">{{ 'core.admin.stats.no_info'|trans }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="span6">
					<div class="block">
						<div class="block-title">{{ 'core.admin.stats.most_common_sources'|trans }}</div>

						<div id="externalSources" style="width: 100%; height: 250px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}