{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'uvs.main.sendReview.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('src/img/titles/uvs.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block sidebar %}
    {{ render_subscribe_button('uv', uv.id) }}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="padding20-all">
        {% include 'EtuModuleUVBundle:Main:chooser.html.twig' %}

        <img src="{{ asset('src/img/uvs/'~uv.category~'.png') }}"
             class="uv-view-category"
             alt="{{ ('uvs.categories.'~uv.category)|trans }}"
             title="{{ ('uvs.categories.'~uv.category)|trans }}" />

        <h4>{{ uv.code }} - {{ uv.name }}</h4>

        <hr />

        <p>
            <a href="{{ path('uvs_view', {'slug': uv.slug, 'name': uv.name|slugify}) }}">
                <i class="icon-chevron-left"></i> {{ 'uvs.main.sendReview.back'|trans }}
            </a>
        </p>

        <hr />

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
    </div>
{% endblock %}
