{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'uvs.main.view.title'|trans({'%code%': uv.code}) }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/uvs.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block javascripts %}
	<script>
		$(function() {
			$( "#accordion" ).accordion();
		});
	</script>
{% endblock %}

{% block sidebar %}
	{{ render_subscribe_button('uv', uv.id) }}
	{{ parent() }}
{% endblock %}

{% block content %}
<div class="padding20-all">
	{% include 'EtuModuleUVBundle:Main:chooser.html.twig' %}

	<img src="{{ asset('img/uvs/'~uv.category~'.png') }}"
		 class="uv-view-category"
		 alt="{{ ('uvs.categories.'~uv.category)|trans }}"
		 title="{{ ('uvs.categories.'~uv.category)|trans }}" />

	<h4>{{ uv.code }} - {{ uv.name }}</h4>

	<div class="uv-view">
		<div class="uv-view-infos">
			{% if uv.isOld %}
				<div class="uv-view-infos-category">
					Cette UV n'existe plus
				</div>
			{% endif %}
			<div class="uv-view-infos-category">
				<div class="uv-view-infos-row">
					<div class="uv-view-infos-label">
						{{ ('uvs.categories.'~uv.category)|trans }}
					</div>
					<div class="uv-view-infos-value"></div>
				</div>
			</div>
			<div class="uv-view-infos-category">
				<div class="uv-view-infos-row">
					<div class="uv-view-infos-label">
						Crédits
					</div>
					<div class="uv-view-infos-value">
						{{ uv.credits }}
					</div>
				</div>
			</div>
			<div class="uv-view-infos-category">
				<div class="uv-view-infos-row">
					<div class="uv-view-infos-label">
						Cours magistral<br />
						Travaux dirigés<br />
						Travaux pratiques<br />
						Travail personnel
					</div>
					<div class="uv-view-infos-value">
						{{ uv.cm }}h<br />
						{{ uv.td }}h<br />
						{{ uv.tp }}h<br />
						{{ uv.the }}h
					</div>
				</div>
			</div>
			<div class="uv-view-infos-category">
				<div class="uv-view-infos-row">
					<div class="uv-view-infos-label">
						Semestre
					</div>
					<div class="uv-view-infos-value">
						{% if uv.automne and not uv.printemps %}
							Automne
						{% elseif uv.printemps and not uv.automne %}
							Printemps
						{% else %}
							Automne et printemps
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		<div class="uv-view-content">
			{% if uv.objectifs %}
				<h4>Programme</h4>

				<p>
					{{ uv.programme }}
				</p>
			{% endif %}

			{% if uv.objectifs %}
				<h4>Objectifs</h4>

				<p>
					{{ uv.objectifs }}
				</p>
			{% endif %}
		</div>
	</div>

	<div class="clear"></div>

	<hr />

	<div class="uv-view-reviews">
		<h4>Annales</h4>

		<div id="accordion">
			<h3>Section 1</h3>
			<div>
				<p>
					Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
					ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
					amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
					odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
				</p>
			</div>
			<h3>Section 2</h3>
			<div>
				<p>
					Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
					purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
					velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
					suscipit faucibus urna.
				</p>
			</div>
			<h3>Section 3</h3>
			<div>
				<p>
					Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
					Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
					ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
					lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
				</p>
				<ul>
					<li>List item one</li>
					<li>List item two</li>
					<li>List item three</li>
				</ul>
			</div>
			<h3>Section 4</h3>
			<div>
				<p>
					Cras dictum. Pellentesque habitant morbi tristique senectus et netus
					et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
					faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
					mauris vel est.
				</p>
				<p>
					Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
					inceptos himenaeos.
				</p>
			</div>
		</div>
	</div>
	<div class="uv-view-comments">
		<h4>Commentaires</h4>
	</div>
</div>
{% endblock %}
