{% extends '::layout-default.html.twig' %}

{% block title %}{{ 'error.404.title'|trans }}{% endblock %}

{% block page %}
    <section class="page">
        <div class="container page-container">

            <h2 class="page-title source-sans-pro">
                <img src="{{ asset('assets/img/titles/flux.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />

                {{ block('title') }}
            </h2>

            {% if message %}
                <div class="page-alert-mobile alert alert-{{ message.type }} display-for-1024">
                    {{ message.message|trans }}
                </div>
            {% endif %}

            <div class="content-error">
                <img src="{{ asset('assets/img/homer-doh.png') }}" />

                <div class="error-text">
                    <h1 class="error-doh">{{ 'error.404.subtitle'|trans }}</h1>

                    <h4>{{ 'error.404.content'|trans }}</h4>
                </div>

                <div class="clear"></div>
            </div>

        </div>
    </section>

    <footer class="container footer-bottom">
        <p>
            <a href="#" class="footer-link change-locale">
                {{ 'base.footer.change_locale'|trans }}
            </a>
            <a href="" id="next-change-locale-link" class="footer-link">
                {{ 'base.footer.legalities'|trans }}
            </a>
            <a href="" class="footer-link">
                {{ 'base.footer.help_us'|trans }}
            </a>
            <a href="" class="footer-link">
                {{ 'base.footer.developers'|trans }}
            </a>
            <span class="pull-right">
                {{ 'base.footer.1col_text'|trans|raw }}
            </span>
        </p>
    </footer>
{% endblock %}
