<div class="covoit-search-form">
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row-fluid">
            <div class="span4">
                {{ form_row(form.startCity) }}
                {{ form_row(form.date) }}
                {{ form_row(form.placesLeft) }}
            </div>
            <div class="span4">
                {{ form_row(form.endCity) }}
                {{ form_row(form.hourMin) }}
                {{ form_row(form.keywords) }}
            </div>
            <div class="span4">
                {{ form_row(form.priceMax) }}
                {{ form_row(form.hourMax) }}
                {{ form_row(form.dateBeforeAfter) }}
                {{ form_row(form.olds) }}
            </div>
        </div>

        {{ form_rest(form) }}

        <div class="align-center">
            <input type="submit" value="{{ 'covoit.search.submit'|trans }}" class="btn btn-default" />
        </div>
    {{ form_end(form) }}
</div>
