{% extends '::page-2cols.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/bundles/bugs.css') }}" type="text/css" />
{% endblock %}

{% block title %}{{ 'bugs.index.page.title'|trans }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/bugs.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<ul class="nav nav-tabs page-tabs">
		<li>
			<a href="{{ path('bugs_index') }}">{{ 'bugs.index.page.opened'|trans }}</a>
		</li>
		<li class="active page-tabs-resolved-active">
			<a href="{{ path('bugs_closed') }}">{{ 'bugs.index.page.resolved'|trans }}</a>
		</li>
		<li class="pull-right">
			<a href="{{ path('bugs_create') }}">
				<i class="icon-plus"></i>
				{{ 'bugs.index.page.create'|trans }}
			</a>
		</li>
	</ul>

	<div class="padding20-sides">
		{# display navigation #}
		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>

		{% for number, bug in pagination %}
			<a href="{{ path('bugs_view', {'id': bug.id, 'slug': bug.title|slugify}) }}" class="bug{% if number == 0 %} bug-first{% endif %}">
				<h5 class="bug-title">
					{{ bug.title }}

					<span class="label pull-right hidden-phone">
						{{ ('bugs.criticality.'~bug.criticality)|trans }}
					</span>
				</h5>

				<small class="muted bug-meta hidden-phone">
					{{ 'base.by'|trans|ucfirst }} {{ bug.user.fullName }}

					{% if bug.assignee %}
						<span class="text-success">
							({{ 'bugs.index.table.assigned_to'|trans({'%name%': bug.assignee.fullName}) }})
						</span>
					{% endif %}
				</small>

				<span class="pull-left visible-phone">
					<span class="label pull-right">
						{{ ('bugs.criticality.'~bug.criticality)|trans }}
					</span>
				</span>

				<small class="muted bug-meta pull-right">
					{% if bug.assignee %}
						{{ 'bugs.closed.closed_at_by'|trans({
							'%username%': bug.assignee.fullName,
							'%date%': time_diff(bug.closedAt)
						}) }}
					{% else %}
						{{ 'bugs.closed.closed_at'|trans({
							'%date%': time_diff(bug.closedAt)
						}) }}
					{% endif %}
				</small>

				<div class="clear"></div>
			</a>
		{% else %}
			<p>
				{{ 'bugs.closed.no_bug_closed'|trans }}
			</p>
		{% endfor %}

		{# display navigation #}
		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}