{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'bugs.index.page.title'|trans }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/bugs.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<ul class="nav nav-tabs page-tabs">
		<li>
			<a href="{{ path('bugs_index') }}">{{ 'bugs.index.page.opened'|trans }}</a>
		</li>
		<li class="active page-tabs-resolved-active">
			<a href="{{ path('bugs_closed') }}">{{ 'bugs.index.page.resolved'|trans }}</a>
		</li>
		<li class="pull-right">
			<a href="{{ path('bugs_create') }}">
				<i class="icon-plus"></i>
				{{ 'bugs.index.page.create'|trans }}
			</a>
		</li>
	</ul>

	<div class="padding20-sides">
		<table class="table table-hover table-bordered bugs-table">
			{% for number, bug in pagination %}
				<tr>
					<td class="bugs-table-number">
						#{{ number + 1 }}
					</td>
					<td>
						<strong>
							<a href="{{ path('bugs_view', {'id': bug.id, 'slug': bug.title|slugify}) }}">
								{{ bug.title }}
							</a>
						</strong>
						<br />
						<small class="muted">
							{{ 'base.by'|trans }} {{ bug.user.login }} - {{ time_diff(bug.createdAt) }}
							{% if bug.assignee %}
								- {{ 'bugs.index.table.assigned_to'|trans({'%name%': bug.assignee.fullName}) }}
							{% endif %}
							-
							<span class="label">
								{{ ('bugs.criticality.'~bug.criticality)|trans }}
							</span>
						</small>
					</td>
				</tr>
			{% else %}
				<tr>
					<td>
						{{ 'bugs.index.table.no_bug_opened'|trans }}
					</td>
				</tr>
			{% endfor %}
		</table>

		{# display navigation #}
		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}