{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'bugs.bugs.closed.title'|trans }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/bugs.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block sidebar %}
	{{ render_subscribe_button('issue', 0) }}
	{{ parent() }}
{% endblock %}

{% block content %}
	<ul class="nav nav-tabs page-tabs">
		<li>
			<a href="{{ path('bugs_index') }}">{{ 'bugs.bugs.state.opened'|trans }}</a>
		</li>
		<li class="active page-tabs-resolved-active">
			<a href="{{ path('bugs_closed') }}">{{ 'bugs.bugs.state.resolved'|trans }}</a>
		</li>
		{% if app.user.hasPermission('bugs.add') %}
			<li class="pull-right">
				<a href="{{ path('bugs_create') }}">
					<i class="icon-plus"></i>
					{{ 'bugs.bugs.create.title'|trans }}
				</a>
			</li>
		{% endif %}
	</ul>

	<div class="padding20-sides">
		{# display navigation #}
		<div class="navigation">
			{{ 'bugs.bugs.closed.count'|transchoice(pagination.totalItemCount, {'%count%': pagination.totalItemCount}) }}
			{{ knp_pagination_render(pagination) }}
		</div>

		{% for number, bug in pagination %}
			<a href="{{ path('bugs_view', {'id': bug.id, 'slug': bug.title|slugify}) }}" class="bug{% if number == 0 %} bug-first{% endif %}">
				<h5 class="bug-title muted">
					{{ bug.title }}

					<span class="label pull-right hidden-phone">
						{{ ('bugs.criticality.'~bug.criticality)|trans }}
					</span>
					<span class="pull-right bug-date">
						{{ time_diff(bug.createdAt)|ucfirst }}
					</span>
				</h5>

				<span class="pull-left visible-phone">
					{% if bug.criticality == 'security' %}
						<span class="label label-important pull-right">
							{{ ('bugs.criticality.'~bug.criticality)|trans }}
						</span>
					{% elseif bug.criticality == 'critical' or bug.criticality == 'major' %}
						<span class="label label-warning pull-right">
							{{ ('bugs.criticality.'~bug.criticality)|trans }}
						</span>
					{% elseif bug.criticality == 'minor' %}
						<span class="label label-info pull-right">
							{{ ('bugs.criticality.'~bug.criticality)|trans }}
						</span>
					{% else %}
						<span class="label pull-right">
							{{ ('bugs.criticality.'~bug.criticality)|trans }}
						</span>
					{% endif %}
				</span>

				<div class="clear"></div>
			</a>
		{% else %}
			<p>
				{{ 'bugs.bugs.closed.no_bug'|trans }}
			</p>
		{% endfor %}

		{# display navigation #}
		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}
