{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'bugs.bugs.create.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('src/img/titles/bugs.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs page-tabs">
        <li>
            <a href="{{ path('bugs_index') }}">{{ 'bugs.bugs.state.opened'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('bugs_closed') }}">{{ 'bugs.bugs.state.resolved'|trans }}</a>
        </li>
        <li class="pull-right active page-tabs-resolved-active">
            <a href="{{ path('bugs_create') }}">
                <i class="icon-plus"></i>
                {{ 'bugs.bugs.create.title'|trans }}
            </a>
        </li>
    </ul>

    <div class="padding20-sides">
        {{ form_start(form) }}
        {{ form_row(form.title)}}
        {{ form_row(form.criticality)}}
        {{ form_row(form.body)}}
        <div class="pull-right">
            {% include 'EtuModuleUploadBundle::upload_link.html.twig' %}
        </div>
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
