{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'bugs.bugs.edit.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/bugs.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs page-tabs">
        <li>
            <a href="{{ path('bugs_index') }}">{{ 'bugs.bugs.state.opened'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('bugs_closed') }}">{{ 'bugs.bugs.state.resolved'|trans }}</a>
        </li>
        {% if is_granted('ROLE_BUGS_POST') %}
            <li class="pull-right">
                <a href="{{ path('bugs_create') }}">
                    <i class="icon-plus"></i>
                    {{ 'bugs.bugs.create.title'|trans }}
                </a>
            </li>
        {% endif %}
    </ul>

    <div class="padding20-sides">
        {{ form_start(form) }}
        {{ form_row(form.title)}}
        {{ form_row(form.criticality)}}
        {{ form_row(form.body)}}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
