{% extends '::page-2cols.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/bundles/bugs.css') }}" type="text/css" />
{% endblock %}

{% block title %}{{ 'bugs.index.page.title'|trans }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/bugs.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block sidebar %}
	{{ render_subscribe_button('issue', 0) }}
	{{ parent() }}
{% endblock %}

{% block content %}
	<ul class="nav nav-tabs page-tabs">
		<li class="active page-tabs-resolved-active">
			<a href="{{ path('bugs_index') }}">{{ 'bugs.index.page.opened'|trans }}</a>
		</li>
		<li>
			<a href="{{ path('bugs_closed') }}">{{ 'bugs.index.page.resolved'|trans }}</a>
		</li>
		<li class="pull-right">
			<a href="{{ path('bugs_create') }}">
				<i class="icon-plus"></i>
				{{ 'bugs.index.page.create'|trans }}
			</a>
		</li>
	</ul>

	<div class="padding20-sides">
		{# display navigation #}
		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>

		{% for number, bug in pagination %}
			<a href="{{ path('bugs_view', {'id': bug.id, 'slug': bug.title|slugify}) }}" class="bug{% if number == 0 %} bug-first{% endif %}">
				<h5 class="bug-title">
					{{ bug.title }}

					{% if bug.criticality == 'security' %}
						<span class="label label-important pull-right">
							{{ ('bugs.criticality.'~bug.criticality)|trans }}
						</span>
					{% elseif bug.criticality == 'critical' or bug.criticality == 'major' %}
						<span class="label label-warning pull-right">
							{{ ('bugs.criticality.'~bug.criticality)|trans }}
						</span>
					{% elseif bug.criticality == 'minor' %}
						<span class="label label-info pull-right">
							{{ ('bugs.criticality.'~bug.criticality)|trans }}
						</span>
					{% else %}
						<span class="label pull-right">
							{{ ('bugs.criticality.'~bug.criticality)|trans }}
						</span>
					{% endif %}
				</h5>

				<small class="muted bug-meta">
					{{ 'base.by'|trans|ucfirst }} {{ bug.user.fullName }}

					{% if bug.assignee %}
						<span class="text-success">
							({{ 'bugs.index.table.assigned_to'|trans({'%name%': bug.assignee.fullName}) }})
						</span>
					{% endif %}
				</small>

				<small class="muted bug-meta pull-right">
					{{ time_diff(bug.createdAt)|ucfirst }}
				</small>
			</a>
		{% else %}
			<p>
				{{ 'bugs.index.table.no_bug_opened'|trans }}
			</p>
		{% endfor %}

		{# display navigation #}
		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}