{% extends '@EtuUser/Memberships/layout.html.twig' %}
{% set tab = 'memberships_orga_notifications' %}

{% block title %}{{ membership.organization.name }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/orga.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block membership_content %}
    <p class="alert alert-info">
        {{ 'user.memberships.notification.desc'|trans }}
    </p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
