{% extends '@EtuUser/Memberships/layout.html.twig' %}
{% set tab = 'memberships_orga' %}

{% block title %}{{ membership.organization.name }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/orga.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block membership_content %}
    <p>
        {{ 'user.memberships.orga.position'|trans({'%orga%': membership.organization.name}) }}
        <strong>{{ ('user.orga.role.'~membership.role)|trans }}</strong>.
    </p>
    <p>
        {{ 'user.memberships.orga.since'|trans({'%date%': membership.date|date('d/m/Y')}) }}
    </p>

    <hr />

    {% if permissions|length > 0 %}
        <p>
            {{ 'user.memberships.orga.permissions'|trans }}
        </p>
        <ul>
            {% for permission in permissions %}
                <li>{{ permission.description }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            {{ 'user.memberships.orga.no_permission'|trans }}
        </p>
    {% endif %}
{% endblock %}
