{% extends '::page-2cols.html.twig' %}

{% block title %}{{ membership.organization.name }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/orga.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<div class="padding20-all">
		<div class="row-fluid">
			<div class="span3 memberships">
				<ul class="nav nav-list">
					{% for m in memberships %}
						<li{% if membership.id == m.id %} class="active"{% endif %}>
							<a href="{{ path('memberships_orga', {'login': m.organization.login}) }}">
								{{ m.organization.name }}<br />
								{% if membership.id == m.id %}
									{{ ('user.orga.role.'~m.role)|trans }}
								{% else %}
									<span class="muted">{{ ('user.orga.role.'~m.role)|trans }}</span>
								{% endif %}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>

			<div class="span9">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="{{ path('memberships_orga', {'login': membership.organization.login}) }}">
							{{ 'user.memberships.menu.position'|trans }}
						</a>
					</li>
					{% if membership.hasPermission('edit_desc') %}
					<li>
						<a href="{{ path('memberships_orga_desc', {'login': membership.organization.login}) }}">
							{{ 'user.memberships.menu.orga'|trans }}
						</a>
					</li>
					{% endif %}

					{% if membership.hasPermission('deleguate') %}
					<li>
						<a href="{{ path('memberships_orga_permissions', {'login': membership.organization.login}) }}">
							{{ 'user.memberships.menu.permissions'|trans }}
						</a>
					</li>
					{% endif %}

					{% if membership.hasPermission('notify') %}
					<li>
						<a href="{{ path('memberships_orga_notifications', {'login': membership.organization.login}) }}">
							{{ 'user.memberships.menu.notifications'|trans }}
						</a>
					</li>
					{% endif %}

					{% if membership.hasPermission('edit_desc') %}
					<li>
						<a href="{{ path('memberships_orga_events', {'login': membership.organization.login}) }}">
							{{ 'user.memberships.menu.event'|trans }}
						</a>
					</li>
					{% endif %}

					{% if membership.hasPermission('daymail') and etu.modules.isEnabled('daymail') %}
					<li>
						<a href="{{ path('memberships_orga_daymail', {'login': membership.organization.login}) }}">
							{{ 'user.memberships.menu.daymail'|trans }}
						</a>
					</li>
					{% endif %}

					{% if etu.modules.isEnabled('assos') %}
						<li>
							<a href="{{ path('orgas_view', {'login': membership.organization.login}) }}">
								{{ 'user.memberships.menu.public'|trans }}
							</a>
						</li>
					{% endif %}
				</ul>

				<p>
					{{ 'user.memberships.orga.position'|trans({'%orga%': membership.organization.name}) }}
					<strong>{{ ('user.orga.role.'~membership.role)|trans }}</strong>.
				</p>
				<p>
					{{ 'user.memberships.orga.since'|trans({'%date%': membership.date|date('d/m/Y')}) }}
				</p>

				<hr />

				{% if permissions|length > 0 %}
				<p>
					{{ 'user.memberships.orga.permissions'|trans }}
				</p>
				<ul>
					{% for permission in permissions %}
						<li>{{ permission.description }}</li>
					{% endfor %}
				</ul>
				{% else %}
				<p>
					{{ 'user.memberships.orga.no_permission'|trans }}
				</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}