{% extends '@EtuUser/Memberships/layout.html.twig' %}
{% set tab = 'memberships_orga_permissions' %}

{% block title %}{{ membership.organization.name }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/orga.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block membership_content %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <ul id="search-results" class="asso-members">
        {% for member in pagination %}
            <li class="asso-members-item asso-members-item-member">
                <a href="{{ path('memberships_orga_permissions_edit', {'login': membership.organization.login, 'user': member.user.login}) }}">
                    <img src="{{ path('user_view_image_profil', {'avatar': member.user.avatar}) }}" alt="{{ member.user.fullName }}" title="{{ member.user.fullName }}" />
                    <h5>{{ member.user.fullName }}</h5>
                    <p>
                        {{ ('user.orga.role.'~member.role)|trans }}
                    </p>

                    <div class="clear"></div>
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="clear"></div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
