{% extends '@EtuUser/Memberships/layout.html.twig' %}
{% set tab = 'memberships_orga_permissions' %}

{% block title %}{{ membership.organization.name }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/orga.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block membership_content %}
    <div class="row-fluid">
        <div class="span2">
            <img src="{{ asset('uploads/photos/'~member.user.avatar) }}" alt="{{ member.user.fullName }}" title="{{ member.user.fullName }}" />
        </div>
        <div class="span10">
            <p>
                <strong>{{ member.user.fullName }}</strong>
            </p>
            <p>
                <em><span class="muted">{{ ('user.orga.role.'~member.role)|trans }}</span></em>
            </p>
        </div>
    </div>

    <hr />

    <form method="post" class="form-horizontal">
        {% for permission in permissions %}
            <div class="control-group">
                <label class="control-label" style="width: 80%; padding-right: 2%;" for="permissions[{{ permission.definition.name }}]">
                    {{ permission.definition.description }}
                </label>
                <div class="controls">
                    <input type="checkbox" class="permission" name="permissions[{{ permission.definition.name }}]"
                            {% if permission.checked %} checked="checked"{% endif %}
                            />
                </div>
            </div>
        {% endfor %}

        <hr />

        <p class="pull-right">
            <input type="hidden" name="sent" value="true" />

            <button type="submit" class="btn btn-primary">{{ 'user.orga.memberEdit.submit'|trans }}</button>
        </p>
    </form>
{% endblock %}
