{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'cumul.main.index.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/user.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">var logins = {{ logins|raw }}, root = '{{ path('cumul_index') }}';</script>
    <script type="text/javascript" src="{{ asset('assets/js/bundles/cumul.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="padding20-all">
        <div class="visible-phone">
            <p class="alert">
                {{ 'cumul.main.index.warning_phones'|trans }}
            </p>
        </div>

        <div class="hidden-phone">
            <div class="comparison-generator-file overlay">
                <div class="subpage">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a href="#textarea" data-toggle="tab">Liste textuelle</a>
                        </li>
                        <li>
                            <a href="#file" data-toggle="tab">Envoyer un fichier</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="textarea">
                            <form method="post" action="{{ path('cumul_import', {'type': 'textarea'}) }}">
                                <label for="list">
                                    <strong>Liste</strong>
                                </label>
                                <textarea placeholder="Copiez ici votre liste" id="list" name="import-textarea"></textarea>

                                <br />
                                <br />

                                <strong>Séparateur</strong>

                                <div class="gen-file-separator">
                                    <div class="separator-row">
                                        <div class="separator-radio">
                                            <input type="radio" name="separator-textarea" checked="checked" value="new-line" id="separator-new-line">
                                        </div>
                                        <div class="separator-label">
                                            <label for="separator-new-line">Nouvelle ligne</label>
                                        </div>
                                        <div class="separator-char"></div>
                                    </div>

                                    <div class="separator-row">
                                        <div class="separator-radio">
                                            <input type="radio" name="separator-textarea" value="char" id="separator-char">
                                        </div>
                                        <div class="separator-label">
                                            <label for="separator-char">Caractère :</label>
                                        </div>
                                        <div class="separator-char">
                                            <input type="text" name="separator-char" class="char input-small">
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <label for="datatype">
                                    <strong>Cette liste est composée de ...</strong>
                                </label>
                                <select id="datatype" name="import-data-type">
                                    <option value="fullName">Noms / Prénoms</option>
                                    <option value="login">Identifiants</option>
                                    <option value="studentId">Numéros étudiants</option>
                                </select>

                                <hr />

                                <div class="alert alert-block">
                                    <strong>Attention</strong> : cette liste va écraser la comparaison que vous effectuez actuellement.
                                </div>

                                <input type="submit" class="btn btn-primary" value="Importer">
                                <a href="#" onclick="$('.overlay').hide(); return false;" class="btn">Annuler</a>
                            </form>
                        </div>
                        <div class="tab-pane" id="file">
                            <div class="tab-pane active" id="file">
                                <form method="post" action="{{ path('cumul_import', {'type': 'file'}) }}" enctype="multipart/form-data">
                                    <label for="file">
                                        <strong>Fichier</strong>
                                    </label>
                                    <input type="file" id="file" name="import-file" />

                                    <br />
                                    <br />

                                    <strong>Séparateur</strong>

                                    <div class="gen-file-separator">
                                        <div class="separator-row">
                                            <div class="separator-radio">
                                                <input type="radio" name="separator-file" checked="checked" value="new-line" id="separator-file-new-line">
                                            </div>
                                            <div class="separator-label">
                                                <label for="separator-file-new-line">Nouvelle ligne</label>
                                            </div>
                                            <div class="separator-char"></div>
                                        </div>

                                        <div class="separator-row">
                                            <div class="separator-radio">
                                                <input type="radio" name="separator-file" value="char" id="separator-file-char">
                                            </div>
                                            <div class="separator-label">
                                                <label for="separator-file-char">Caractère :</label>
                                            </div>
                                            <div class="separator-char">
                                                <input type="text" name="separator-char" class="char input-small">
                                            </div>
                                        </div>
                                    </div>

                                    <br />

                                    <label for="datatype">
                                        <strong>Cette liste est composée de ...</strong>
                                    </label>
                                    <select id="datatype" name="import-data-type">
                                        <option value="fullName">Noms / Prénoms</option>
                                        <option value="login">Identifiants</option>
                                        <option value="studentId">Numéros étudiants</option>
                                    </select>

                                    <hr />

                                    <div class="alert alert-block">
                                        <strong>Attention</strong> : cette liste va écraser la comparaison que vous effectuez actuellement.
                                    </div>

                                    <input type="submit" class="btn btn-primary" value="Importer">
                                    <a href="#" onclick="$('.overlay').hide(); return false;" class="btn">Annuler</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="comparison-generator-actions">
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Actions sur la liste
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu">
                        <li>
                            <a tabindex="-1" href="#" class="import-file-btn">Importer une liste ou un fichier</a>
                        </li>
                        <li class="divider"></li>
                        <li{% if countUsers <= 1 %} class="disabled"{% endif %}>
                            <a tabindex="-1" href="{{ path('cumul_index') }}?q={{ app.user.login }}">
                                Supprimer tous les étudiants ({{ countUsers }})
                            </a>
                        </li>
                        <li class="dropdown-submenu{% if countUsers <= 1 %} disabled{% endif %}">
                            <a tabindex="-1" href="#">
                                Supprimer par branche
                            </a>
                            <ul class="dropdown-menu">
                                <li{% if countUsers <= 1 %} class="disabled"{% endif %}>
                                    {% for branch, branchLogins in removeUrlsBranchs %}
                                        <a tabindex="-1" href="?q={{ branchLogins|join(':') }}">
                                            {{ branch }} ({{ countUsers - branchLogins|length }})
                                        </a>
                                    {% endfor %}
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">
                                Ajouter tous les étudiants d'une branche
                            </a>
                            <ul class="dropdown-menu">
                                {% for branch, branchLevels in addBranchs %}
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">
                                            {{ branch }}
                                        </a>
                                        <ul class="dropdown-menu pull-left">
                                            <li>
                                                {% for level, branchLogins in branchLevels %}
                                                    <a tabindex="-1" href="?q={{ branchLogins|join(':') }}">
                                                        {% if level == 'all' %}
                                                            Tous les {{ branch }}
                                                        {% else %}
                                                            {{ branch ~ level }}
                                                        {% endif %}

                                                        ({{ branchLogins|length - countUsers }})
                                                    </a>
                                                {% endfor %}
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <h4>
                Comparaison de {{ countUsers }} emplois du temps
            </h4>

            <br />

            <div class="comparison-generator">
                {% for user in users %}
                    <div class="comparison-generator-user">
                        <img src="{{ asset('uploads/photos/' ~ user.avatar) }}" />
                        {{ user.fullName|limit(18) }}

                        {% if countUsers > 1 %}
                            <a href="?q={{ removeUrlsLogins[user.login]|join(':') }}">
                                <i class="fa fa-times"></i>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="comparison-generator-add">
                <div class="input-append">
                    <input id="generator-unique-input" class="user-autocomplete" type="text" placeholder="Nom, prénom, login, numéro étudiant">
                    <button class="generator-unique-add-button btn" type="button">Ajouter</button>
                </div>
            </div>

            <hr />

            <div class="row-fluid schedule schedule-days">
                <div class="span2 day hidden-phone">
                    {{ 'user.schedule.days.monday'|trans }}
                </div>
                <div class="span2 day hidden-phone">
                    {{ 'user.schedule.days.tuesday'|trans }}
                </div>
                <div class="span2 day hidden-phone">
                    {{ 'user.schedule.days.wednesday'|trans }}
                </div>
                <div class="span2 day hidden-phone">
                    {{ 'user.schedule.days.thursday'|trans }}
                </div>
                <div class="span2 day hidden-phone">
                    {{ 'user.schedule.days.friday'|trans }}
                </div>
                <div class="span2 day hidden-phone">
                    {{ 'user.schedule.days.sathurday'|trans }}
                </div>
                <div class="span12 day schedule-days-choose visible-phone">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-calendar"></i>
                            {{ 'user.schedule.days.monday'|trans }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li>
                                <a href="{{ path('user_schedule', {'day': 'monday'}) }}">
                                    {{ 'user.schedule.days.monday'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('user_schedule', {'day': 'tuesday'}) }}">
                                    {{ 'user.schedule.days.tuesday'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('user_schedule', {'day': 'wednesday'}) }}">
                                    {{ 'user.schedule.days.wednesday'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('user_schedule', {'day': 'thursday'}) }}">
                                    {{ 'user.schedule.days.thursday'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('user_schedule', {'day': 'friday'}) }}">
                                    {{ 'user.schedule.days.friday'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('user_schedule', {'day': 'sathurday'}) }}">
                                    {{ 'user.schedule.days.sathurday'|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <div class="schedule-hours">
                <div class="hour">08:00</div>
                <div class="hour">09:00</div>
                <div class="hour">10:00</div>
                <div class="hour">11:00</div>
                <div class="hour">12:00</div>
                <div class="hour">13:00</div>
                <div class="hour">14:00</div>
                <div class="hour">15:00</div>
                <div class="hour">16:00</div>
                <div class="hour">17:00</div>
                <div class="hour">18:00</div>
                <div class="hour">19:00</div>
                <div class="hour">20:00</div>
            </div>
            <div class="row-fluid schedule">
                {% for day, hours in comparison %}
                    <div class="span2 schedule-col schedule-col-{{ loop.index % 2 == 0 ? 'odd' : 'even' }}">
                        {% for hour, avUsers in hours %}
                            <a href="#item-{{ day }}-{{ hour }}" rel="facebox">
                                <div class="item item-void item1 tip {% if loop.index == 1 %} item-first{% endif %}"
                                    style="background: #547b9d; color: #ffffff; opacity: {{ avUsers|length / countUsers }};"
                                    title="<strong>Disponible(s) :</strong><br />{% for user in avUsers[0:5] %}
                                        {{ users[user].fullName }}<br />
                                        {% if avUsers|length > 5 and loop.index == 5 %}et {{ avUsers|length - 5 }} autres{% endif %}
                                    {% else %}Personne
                                    {% endfor %}">
                                    {{ avUsers|length }}
                                </div>
                            </a>
                            <div id="item-{{ day }}-{{ hour }}" style="display: none;">
                                <p>
                                    {{ 'cumul.main.details.title'|trans({'%day%': day, '%hour%': hour}) }}
                                </p>
                                <ul>
                                    {% for user in avUsers %}
                                        <li>{{ users[user].fullName  }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
