{% extends '::page-1col.html.twig' %}

{% block title %}{{ 'cumul.main.index.title'|trans }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/user.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/bundles/cumul.js') }}"></script>
{% endblock %}

{% block content %}
	<div class="padding20-all">
		<div class="visible-phone">
			<p class="alert">
				{{ 'cumul.main.index.warning_phones'|trans }}
			</p>
		</div>

		<p>
			{{ 'cumul.main.index.explainations'|trans|raw }}
		</p>

		<div class="row-fluid hidden-phone">
			<div class="span3 cumul-students">
				<p class="cumul-students-warning">
					{{ 'cumul.main.index.warning'|trans }}
				</p>
				<p class="cumul-students-count">
					{{ countUsers }} / 5
				</p>

				<hr />

				<ul class="cumul-students-list">
					{% for user in users %}
						<li class="cumul-student-name" id="{{ user.login }}">
							<span class="cumul-student-color student-{{ usersLetters[user.login] }}"></span>
							{{ user.fullName }}
							<a href="{{ path('cumul_index')~ '?q=' ~usersRemovedUrl[user.login] }}" class="cumul-student-remove">
								<i class="icon-remove"></i>
							</a>
						</li>
					{% endfor %}
				</ul>

				{% if countUsers < 5 %}
				<hr />

				<p>
					<form method="post" action="">
						<input autocomplete="off"
							   name="login"
							   class="user-autocomplete ui-autocomplete-input span11"
							   placeholder="{{ 'cumul.main.index.placeholder'|trans }}"
							   type="text">
						<button class="btn" type="submit">{{ 'cumul.main.index.add'|trans }}</button>
					</form>
				</p>
				{% endif %}
			</div>
			<div class="span9">
				<div class="row-fluid schedule schedule-days">
					<div class="day" style="float: left; width: {{ colSize * countUsers }}%;">
						{{ 'user.schedule.days.monday'|trans }}
					</div>
					<div class="day" style="float: left; width: {{ colSize * countUsers }}%;">
						{{ 'user.schedule.days.tuesday'|trans }}
					</div>
					<div class="day" style="float: left; width: {{ colSize * countUsers }}%;">
						{{ 'user.schedule.days.wednesday'|trans }}
					</div>
					<div class="day" style="float: left; width: {{ colSize * countUsers }}%;">
						{{ 'user.schedule.days.thursday'|trans }}
					</div>
					<div class="day" style="float: left; width: {{ colSize * countUsers }}%;">
						{{ 'user.schedule.days.friday'|trans }}
					</div>
					<div class="day" style="float: left; width: {{ colSize * countUsers }}%;">
						{{ 'user.schedule.days.sathurday'|trans }}
					</div>
				</div>

				<div class="clear"></div>

				<div class="schedule-hours">
					<div class="hour">08:00</div>
					<div class="hour">09:00</div>
					<div class="hour">10:00</div>
					<div class="hour">11:00</div>
					<div class="hour">12:00</div>
					<div class="hour">13:00</div>
					<div class="hour">14:00</div>
					<div class="hour">15:00</div>
					<div class="hour">16:00</div>
					<div class="hour">17:00</div>
					<div class="hour">18:00</div>
					<div class="hour">19:00</div>
				</div>
				<div class="row-fluid schedule">
					{% for dayCourses in courses %}
						{% for login, items in dayCourses %}
							<div class="schedule-col {% if lastUser.login == login %}cumul-day{% endif %}" style="float: left; width: {{ colSize }}%;">
								{% for item in items %}
									{% if item.type == 'void' %}
										<div class="item item-void item1 {% if loop.index == 1 %} item-first{% endif %}"></div>
									{% else %}
										<div class="item student-{{ usersLetters[login] }} cumul-student-course cumul-student-course-{{ login }} item{{ item.size }}
										 {% if loop.index == 1 %} item-first{% endif %}
										 {% if item.course.week != 'T' %} item-not-weekly{% endif %} tip"
											 title="
										 <strong>{{ users[login].fullName }}</strong><br />
										 {{ item.course.uv }} - {{ item.course.room }} - {{ item.course.type }}
										 {% if item.course.week != 'T' %}
										 <br />
										 {{ 'cumul.main.index.week'|trans ~ ' ' ~ item.course.week }}
										 {% endif %}">
										</div>
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
