{% set message = false %}
{% if app.session.flashBag.has('message') %}
    {% set message = app.session.flashBag.get('message') %}
{% endif %}
<!DOCTYPE html>
<html lang="fr" class="bg-soft-grey">
    <head>
        <meta charset="utf-8" />

        <title>{% block title %}{% endblock %} - {{ 'base.title'|trans }}</title>

        <meta name="description" content="{% block meta_desc %}{{ 'base.meta'|trans }}{% endblock %}" />
        <meta name="apple-mobile-web-app-title" content="EtuUTT">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="application-name" content="EtuUTT">

        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-touch-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-touch-icon-57x57.png') }}">

        <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16">
        <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('favicon-96x96.png') }}" sizes="96x96">

        {% if is_granted('ROLE_STUDENT') %}
            {% stylesheets
                'assets/vendor/jquery-ui/themes/smoothness/jquery-ui.min.css'
                'assets/vendor/bootstrap/docs/assets/css/bootstrap.css'
                'assets/vendor/bootstrap/docs/assets/css/bootstrap-responsive.css'
                'assets/vendor/tipsy/src/stylesheets/tipsy.css'
                'assets/vendor/facebox/src/facebox.css'
                'assets/vendor/swipebox/src/css/swipebox.min.css'
                'assets/vendor/jquery-impromptu/dist/jquery-impromptu.min.css'
                'assets/vendor/highlightjs/styles/solarized-dark.css'
                'assets/vendor/videojs/dist/video-js.css'
                'assets/scss/boot-p.scss'
                'assets/scss/developpers.scss'
                'assets/vendor/selectize/dist/css/selectize.bootstrap2.css'

                filter='scssphp'
                output='assets/min/etuutt-p.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
                <!-- ETUDIANT -->
            {% endstylesheets %}
            {% if not app.request.cookies.has('disable_responsive') %}
                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

                {% stylesheets 'assets/scss/responsive-p.scss' filter='scssphp' output='assets/min/responsive-p.css' %}
                    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
                {% endstylesheets %}
            {% endif %}
        {% else %}
            {% stylesheets
                'assets/vendor/jquery-ui/themes/smoothness/jquery-ui.min.css'
                'assets/vendor/bootstrap/docs/assets/css/bootstrap.css'
                'assets/vendor/bootstrap/docs/assets/css/bootstrap-responsive.css'
                'assets/vendor/tipsy/src/stylesheets/tipsy.css'
                'assets/vendor/facebox/src/facebox.css'
                'assets/vendor/swipebox/src/css/swipebox.min.css'
                'assets/vendor/jquery-impromptu/dist/jquery-impromptu.min.css'
                'assets/vendor/highlightjs/styles/solarized-dark.css'
                'assets/vendor/videojs/dist/video-js.css'
                'assets/scss/boot.scss'
                'assets/scss/developpers.scss'
                'assets/vendor/selectize/dist/css/selectize.bootstrap2.css'

                filter='scssphp'
                output='assets/min/etuutt.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
                <!-- PAS ETUDIANT -->
            {% endstylesheets %}
            {% if not app.request.cookies.has('disable_responsive') %}
                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

                {% stylesheets 'assets/scss/responsive.scss' filter='scssphp' output='assets/min/responsive.css' %}
                    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
                {% endstylesheets %}
            {% endif %}
        {% endif %}


        {# CSS CDN #}
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        {% block stylesheets %}{% endblock %}

        <!--[if lt IE 9]>
            <script type="text/javascript" src="{{ asset('assets/vendor/html5shiv/dist/html5shiv.min.js') }}"></script>
        <![endif]-->
    </head>
	<body class="bg-soft-grey no-mathjax">
        <div id="loader" class="overlay">
            <div class="loader">
                <img src="{{ asset('assets/img/loader-big.gif') }}" />
            </div>
        </div>

		{% block layout %}{% endblock %}

        {# JS CDN #}
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.7/tinymce.min.js"></script>

	    {% javascripts
	        'assets/vendor/jquery/jquery.min.js'
	        'assets/vendor/jquery-ui/ui/minified/jquery-ui.custom.min.js'
	        'assets/vendor/bootstrap/docs/assets/js/bootstrap.min.js'
	        'assets/vendor/facebox/src/facebox.js'
	        'assets/vendor/tipsy/src/javascripts/jquery.tipsy.js'
	        'assets/vendor/jquery-ui-touch-punch-improved/jquery.ui.touch-punch-improved.js'
	        'assets/vendor/jquery-cycle2/build/jquery.cycle2.min.js'
	        'assets/vendor/jquery-cycle2/build/plugin/jquery.cycle2.center.min.js'
	        'assets/vendor/moment/min/moment.min.js'
	        'assets/vendor/moment/locale/fr.js'
	        'assets/vendor/highlightjs/highlight.pack.min.js'
	        'assets/vendor/videojs/dist/video.js'
	        'bundles/fosjsrouting/js/router.js'
	        'assets/js/routes.js'
	        'assets/js/common.js'
	        'assets/js/editor.js'
            'assets/vendor/selectize/dist/js/selectize.min.js'

	        filter=''
	        output='assets/min/etuutt.js'
	    %}
            <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}

        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>


        <!-- Matomo -->
	    <script type="text/javascript">
            var _paq = window._paq = window._paq || [];
	        _paq.push(["setDomains", ["*.etu.utt.fr"]]);
	        // you can set up to 5 custom variables for each visitor
	        {% if is_granted('ROLE_STUDENT') %}
	            _paq.push(["setCustomVariable", 1, "type", "student", "visit"]);
	        {% elseif is_granted('ROLE_STAFFUTT') %}
	            _paq.push(["setCustomVariable", 1, "type", "staffutt", "visit"]);
	        {% elseif is_granted('ROLE_ORGA') %}
	            _paq.push(["setCustomVariable", 1, "type", "orga", "visit"]);
	        {% elseif is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
	            _paq.push(["setCustomVariable", 1, "type", "other", "visit"]);
	        {% else %}
	            _paq.push(["setCustomVariable", 1, "type", "visitor", "visit"]);
	        {% endif %}
	        _paq.push(['trackPageView']);
	        _paq.push(['enableLinkTracking']);
            (function() {
                var u="//matomo.uttnetgroup.fr/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '1']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
	    </script>
	    <!-- End Matomo Code -->

	    {% block js_libs %}{% endblock %}

	    {% block checkout_notifications %}{% endblock %}

	    {% block javascripts %}{% endblock %}

	</body>
</html>
