
{% set message = false %}

{% if app.session.flashBag.has('message') %}
	{% set message = app.session.flashBag.get('message') %}
{% endif %}

<!DOCTYPE html>
<html lang="fr" class="bg-soft-grey">
	<head>
		<meta charset="utf-8" />

		<title>{% block title %}{{ 'home.index.page.title'|trans }}{% endblock %} - {{ 'base.title'|trans }}</title>

		<meta name="description" content="{{ 'base.title'|trans }}" />

		<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-responsive.min.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/boot.css') }}" type="text/css" />

		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" type="text/css" />
		<link rel="stylesheet" href="{{ asset('redactor-js/redactor/redactor.css') }}" />
		<link rel="stylesheet" href="{{ asset('tipsy/src/tipsy.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('facebox/src/facebox.css') }}" type="text/css" />

		{% if not app.request.cookies.has('disable_responsive') %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="{{ asset('css/responsive.css') }}" type="text/css" />
		{% endif %}

		{% block stylesheets %}{% endblock %}
	</head>
	<body class="bg-soft-grey">
		<header class="bg-dark-blue fixed head">
			<div class="container" id="top">
				<div class="pull-left title">
					<h1 class="seo-title">{{ block('title') }} - {{ 'base.title'|trans }}</h1>

					<a href="{{ path('homepage') }}">
						<img src="{{ asset('img/logo.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="logo" />
					</a>
				</div>

				<nav class="pull-left">
					<ul class="list-horizontal list-horizontal-linked menu" id="head-menu-list">
						<li class="first{% block main_menu_link_homepage %}{% endblock %}">
							{% if etu.notifs.new_count == 0 %}
							<span id="head-menu-home-pins" class="pins pins-alert pins-head pins-head-hidden">0</span>
							{% else %}
							<span id="head-menu-home-pins" class="pins pins-alert pins-head">{{ etu.notifs.new_count }}</span>
							{% endif %}

							<a href="{{ path('homepage') }}">
								<i class="icon icon-head icon-head-home"></i>
								<span class="menu-link-text">{{ 'base.menu.home'|trans }}</span>
								<div class="clear"></div>
							</a>
						</li>
						{% if etu.modules.isEnabled('events') %}
						<li class="{% block main_menu_link_events %}{% endblock %}">
							<a href="{{ path('events_index') }}">
								<i class="icon icon-head icon-head-events"></i>
								<span class="menu-link-text">{{ 'base.menu.events'|trans }}</span>
								<div class="clear"></div>
							</a>
						</li>
						{% endif %}
						{% if etu.modules.isEnabled('forum') %}
						<li class="{% block main_menu_link_forums %}{% endblock %}">
							<a href="{{ path('forum_index') }}">
								<i class="icon icon-head icon-head-forums"></i>
								<span class="menu-link-text">{{ 'base.menu.forums'|trans }}</span>
								<div class="clear"></div>
							</a>
						</li>
						{% endif %}
						{% if etu.modules.isEnabled('assos') %}
						<li class="last hidden-for-phones{% block main_menu_link_assos %}{% endblock %}">
							<a href="{{ path('orgas_index') }}">
								<i class="icon icon-head icon-head-associations"></i>
								<span class="menu-link-text">{{ 'base.menu.associations'|trans }}</span>
								<div class="clear"></div>
							</a>
						</li>
						{% endif %}
						<li class="display-for-phones last" id="more">
							<a href="#">
								<i class="icon icon-head icon-head-plus"></i>
								<span class="menu-link-text">{{ 'base.menu.more'|trans }}</span>
								<div class="clear"></div>
							</a>
						</li>
						{% if not app.user %}
							<li class="last connect_link">
								<a href="{{ path('user_connect') }}">
									<i class="icon icon-head icon-head-connexion"></i>
									<span class="menu-link-text">{{ 'base.menu.connexion'|trans }}</span>
									<div class="clear"></div>
								</a>
							</li>
						{% endif %}
					</ul>
				</nav>

				<div class="pull-right userbox">
					{% if app.user %}
						{% if app.user.isOrga %}
							<img src="{{ asset('logos/'~app.user.logo) }}" alt="{{ app.user.fullName }}" title="{{ app.user.fullName }}" class="pull-left avatar" />
						{% else %}
							<img src="{{ asset('photos/'~app.user.avatar) }}" alt="{{ app.user.fullName }}" title="{{ app.user.fullName }}" class="pull-left avatar" />
						{% endif %}

					<a href="#" class="userbox-link">
						<i class="icon-chevron-down userbox-link-icon"></i>

						<span class="hidden-for-1024">
							{{ app.user.fullName }}<br />
							<span class="color-soft">
								{% if app.user.isStudent %}
									{{ 'base.user.types.student'|trans }}
								{% elseif app.user.isOrga %}
									{{ 'base.user.types.orga'|trans }}
								{% else %}
									{{ 'base.user.types.external'|trans }}
								{% endif %}
							</span>
						</span>
					</a>

					<div class="userbox-menu">
						<div class="userbox-display-for-1024 display-for-1024">
							{{ app.user.fullName }}<br />
							<span class="color-soft">
								{% if app.user.isOrga %}
									{{ 'base.user.types.orga'|trans }}
								{% elseif app.user.keepActive %}
									{{ 'base.user.types.external'|trans }}
								{% elseif app.user.isStudent %}
									{{ 'base.user.types.student'|trans }}
								{% else %}
									{{ 'base.user.types.external'|trans }}
								{% endif %}
							</span>
						</div>

						{% if not app.user.isOrga %}
							{{ render_user_menu() }}

							{% if app.user.isAdmin %}
								<hr class="separator" />

								<ul class="list-vertical list-vertical-linked">
									<li>
										<a href="{{ path('admin_index') }}">
											<img src="{{ asset('img/icons/gear.png') }}" class="etu-img-icon" />
											{{ 'base.user.menu.admin'|trans }}
										</a>
									</li>
								</ul>
							{% elseif app.user.hasPermission('pages.admin') %}
								<hr class="separator" />

								<ul class="list-vertical list-vertical-linked">
									<li>
										<a href="{{ path('admin_pages') }}">
											<img src="{{ asset('img/icons/book.png') }}" class="etu-img-icon" />
											{{ 'base.user.menu.pages'|trans }}
										</a>
									</li>
								</ul>
							{% endif %}
						{% else %}
							{{ render_orga_menu() }}
						{% endif %}
					</div>
					{% endif %}
				</div>
			</div>
		</header>

		{# Overlay #}
		<div id="overlay"></div>

		{# Mobile "Plus" menu #}
		<div id="menu-mobile">
			{% block mobile_menu %}
				{{ render_sidebar_mobile() }}
			{% endblock %}

			<ul class="list-vertical list-vertical-linked overlay-menu">
				<li class="first">
					<a href="#" class="change-locale">
						{{ 'base.footer.change_locale'|trans }}
					</a>
				</li>
				<li>
					<a href="{{ path('desktop_version') }}">
						{{ 'base.footer.desktop_version'|trans }}
					</a>
				</li>
			</ul>

			<p class="clear footer-description footer-description-mobiles">
				{{ 'base.footer.mobile_text'|trans|raw }}<br />
				{% include '::version.html.twig' %}
			</p>
		</div>

		{# Change the locale (available languages) #}
		<div id="change-locale-choices">
			<ul class="list-vertical list-vertical-linked overlay-menu">
				<li class="first">
					<a href="{{ path('change_locale', {'lang': 'fr'}) }}">
						<img src="{{ asset('img/lang/fr.png') }}" />
						Français
					</a>
				</li>
				<li>
					<a href="{{ path('change_locale', {'lang': 'en'}) }}">
						<img src="{{ asset('img/lang/en.png') }}" />
						English
					</a>
				</li>
				<li>
					<a href="{{ path('change_locale', {'lang': 'es'}) }}">
						<img src="{{ asset('img/lang/es.png') }}" />
						Español
					</a>
				</li>
			</ul>
		</div>

		{% block page %}{% endblock %}

		<script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
		<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" type="text/javascript"></script>
		<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>

		{% block js_libs %}
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
		<script src="{{ asset('redactor-js/redactor/redactor.min.js') }}" type="text/javascript"></script>
		<script src="{{ asset('redactor-js/redactor/langs/fr.js') }}" type="text/javascript"></script>
		<script src="{{ asset('facebox/src/facebox.js') }}" type="text/javascript"></script>
		<script src="{{ asset('tipsy/src/jquery.tipsy.js') }}" type="text/javascript"></script>
		<script src="{{ asset('js/common.js') }}" type="text/javascript"></script>
		{% endblock %}

		{% block checkout_notifications %}
			{% if app.user and not app.user.isOrga %}
				<script type="text/javascript">
					window.setInterval(function(){
						// Find new notifications
						$.getJSON(Routing.generate('notifs_new'), function(data) {
							if (typeof data.status != 'undefined' && data.status == 200) {
								if (data.result.count > 0) {
									$('#head-menu-home-pins').text(data.result.count);
									$('#head-menu-home-pins').show();
									setCountTitle(data.result.count);
								} else {
									$('#head-menu-home-pins').hide();
									removeCountTitle();
								}
							}
						});
					}, 10 * 1000); // 10 seconds
				</script>
			{% endif %}
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</body>
</html>
