{% extends '::base.html.twig' %}

{% block page %}
	<section class="page">
		<div class="container page-container">

			<h2 class="page-title source-sans-pro">
				{% block titleIcon %}
					<img src="{{ asset('src/img/titles/flux.png') }}" alt="{{ 'base.page_icon.alt'|trans }}" title="{{ 'base.page_icon.alt'|trans }}" class="page-title-icon" />
				{% endblock %}

				{{ block('title') }}
			</h2>

			{% if message %}
				<div class="page-alert-mobile alert alert-{{ message.type }}">
					{{ message.message|trans }}
				</div>
			{% endif %}

			<div class="content">
				{% block content %}{% endblock %}
			</div>

			<div class="sidebar">
				{% block sidebar %}
					{{ render_sidebar() }}
				{% endblock %}
			</div>

			<footer class="footer">
				<p>
                    {#
					<a href="#" class="footer-link change-locale">
						{{ 'base.footer.change_locale'|trans }}
					</a>
                    #}
					<br />
					<a href="{{ path('page_view', {'slug': 'mentions-legales'}) }}" id="next-change-locale-link" class="footer-link">
						{{ 'base.footer.legalities'|trans }}
					</a>
					<br />
					<a href="{{ path('page_view', {'slug': 'nous-aider'}) }}" class="footer-link">
						{{ 'base.footer.help_us'|trans }}
					</a>
					<br />
					<a href="{{ path('devs_panel_index') }}" class="footer-link">
						{{ 'base.footer.developers'|trans }}
					</a>
					{% if app.request.cookies.has('disable_responsive') %}
						<br />
						<a href="{{ path('mobile_version') }}" class="footer-link">
							{{ 'base.footer.mobile_version'|trans }}
						</a>
					{% endif %}
				</p>
				<p class="clear footer-description">
					{{ 'base.footer.text'|trans|raw }}
					<br /><br />
					{% include '::version.html.twig' %}
				</p>
			</footer>

		</div>
	</section>
{% endblock %}
