{% extends '::base.html.twig' %}

{% block page %}
	<section class="page">
		<div class="container page-container">

			<h2 class="page-title source-sans-pro">
				{% block titleIcon %}
					<img src="{{ asset('img/titles/flux.png') }}" alt="{{ 'base.page_icon.alt'|trans }}" title="{{ 'base.page_icon.alt'|trans }}" class="page-title-icon" />
				{% endblock %}

				{{ block('title') }}
			</h2>

			{% if message %}
				<div class="page-alert-mobile alert alert-{{ message.type }} display-for-1024">
					{{ message.message|trans }}
				</div>
			{% endif %}

			<div class="content">
				{% block content %}{% endblock %}
			</div>

			<div class="sidebar">
				{{ render_sidebar() }}

				<!--<div style="margin-top: 15px; text-align:center;">
					<strong>Par l'UTT Net Group</strong>
					<br />
					<img src="{{ asset('img/ung-logo.png') }}" style="max-width: 80px; margin-top:10px;" />
				</div>-->
			</div>

			<footer class="footer">
				<p>
					<a href="#" class="footer-link change-locale">
						{{ 'base.footer.change_locale'|trans }}
					</a>
					<br />
					<a href="" id="next-change-locale-link" class="footer-link">
						{{ 'base.footer.legalities'|trans }}
					</a>
					<br />
					<a href="" class="footer-link">
						{{ 'base.footer.help_us'|trans }}
					</a>
					<br />
					<a href="" class="footer-link">
						{{ 'base.footer.developers'|trans }}
					</a>
				</p>
				<p class="clear footer-description">
					{{ 'base.footer.text'|trans|raw }}
				</p>
			</footer>

		</div>
	</section>
{% endblock %}