{% extends '::base.html.twig' %}

{% block page %}
	<section class="page">
		<div class="container page-container">

			<h2 class="page-title source-sans-pro">
				{% block titleIcon %}
					<img src="{{ asset('src/img/titles/flux.png') }}" alt="{{ 'base.page_icon.alt'|trans }}" title="{{ 'base.page_icon.alt'|trans }}" class="page-title-icon" />
				{% endblock %}

				{{ block('title') }}
			</h2>

			{% if message %}
				<div class="page-alert-mobile alert alert-{{ message.type }}">
					{{ message.message|trans }}
				</div>
			{% endif %}

			<div class="content content-full">
				{% block content %}{% endblock %}
			</div>

		</div>
	</section>

	<footer class="container footer-bottom">
		<p>
            {#
			<a href="#" class="footer-link change-locale">
				{{ 'base.footer.change_locale'|trans }}
			</a>
            #}
			<a href="{{ path('page_view', {'slug': 'mentions-legales'}) }}" id="next-change-locale-link" class="footer-link">
				{{ 'base.footer.legalities'|trans }}
			</a>
			<a href="{{ path('page_view', {'slug': 'nous-aider'}) }}" class="footer-link">
				{{ 'base.footer.help_us'|trans }}
			</a>
			<a href="{{ path('devs_panel_index') }}" class="footer-link">
				{{ 'base.footer.developers'|trans }}
			</a>
			{% if app.request.cookies.has('disable_responsive') %}
			<a href="{{ path('mobile_version') }}" class="footer-link">
				{{ 'base.footer.mobile_version'|trans }}
			</a>
			{% endif %}
			<span class="pull-right">
				{{ 'base.footer.1col_text'|trans|raw }} - {% include '::version.html.twig' %}
			</span>
		</p>
	</footer>
{% endblock %}
