{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'events.main.index.title'|trans }}{% endblock %}

{% block sidebar %}
	{% if app.user %}
		{% if currentCategory == 'all' %}
			{{ render_subscribe_button('event', 0) }}
		{% else %}
			{{ render_subscribe_button('event-category', currentCategoryId) }}
		{% endif %}
	{% endif %}

	{{ parent() }}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		var events = $('.event');

		$(function() {
			events.hover(function() {
				$(this).find('.event-tooltip').show();
			}, function() {
				$(this).find('.event-tooltip').hide();
			});
		});
	</script>
{% endblock %}

{% block content %}
	{% set events = calendr_events(month) %}

	<ul class="nav nav-tabs page-tabs">
		{% for availableCategory in availableCategories %}
		<li>
			<a href="{{ path('events_index', {'category': availableCategory, 'month': month.begin.format('m-Y')}) }}">
				{% if availableCategory == currentCategory %}
					<strong>{{ ('events.categories.'~availableCategory)|trans }}</strong>
				{% else %}
					{{ ('events.categories.'~availableCategory)|trans }}
				{% endif %}
			</a>
		</li>
		{% endfor %}
	</ul>

	<div class="padding20-sides">
		<div class="chooser row-fluid">
			<div class="span1">
				<a href="{{ path('events_index', {'month': previous|date('m-Y')}) }}" class="btn pull-left"> << </a>
			</div>
			<div class="span2"></div>
			<div class="span6 chooser-current">
				<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						{{ ('events.main.months.'~month.begin.format('M')|lower)|trans }} {{ month.begin.format('Y') }}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						{% for m in monthsList %}
							<li>
								<a href="{{ path('events_index', {'month': m|date('m-Y')}) }}">
									{{ ('events.main.months.'~m.format('M')|lower)|trans }}
									{{ m.format('Y') }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="span3 chooser-type">
				<div class="btn-group">
					<a href="{{ path('events_index', {'month': next|date('m-Y')}) }}" class="btn"> >> </a>
				</div>
			</div>
		</div>

		<br />

		<table class="table table-bordered table-hover events-table events-table-month">
			<tr>
				<th>{{ 'events.main.days.mon'|trans }}</th>
				<th>{{ 'events.main.days.tue'|trans }}</th>
				<th>{{ 'events.main.days.wed'|trans }}</th>
				<th>{{ 'events.main.days.thu'|trans }}</th>
				<th>{{ 'events.main.days.fri'|trans }}</th>
				<th>{{ 'events.main.days.sat'|trans }}</th>
				<th>{{ 'events.main.days.sun'|trans }}</th>
			</tr>

			{% for week in month %}
				<tr>
					{% for day in week %}
						{% set tooltipRight =
								loop.index % 7 == 5
								or loop.index % 7 == 6
								or loop.index % 7 == 0
						%}
						<td>
							{% if month.contains(day.begin) %}
								<div class="event-day">{{ day.begin.format('d') }}</div>

								<div class="clear"></div>

								{% for event in events.find(day) %}
									{% if currentCategory == 'all' or event.category == currentCategory %}
										<a href="{{ path('events_view', {'id': event.id, 'slug': event.title|slugify}) }}"
										   class="event event-{{ event.category }}"><!--
										   --><div class="event-tooltip{% if tooltipRight %} event-tooltip-right{% endif %}">
												<img src="{{ asset('events/'~(event.title|slugify)~'-'~event.id~'.png') }}" class="pull-left event-tooltip-image" />

												<p class="event-tooltip-meta">
													<strong>{{ event.title }}</strong><br />
													{{ 'events.main.index.category_orga'|trans({
														'%orga%': event.orga.name,
														'%category%': ('events.categories.'~event.category)|trans
													}) }}
												</p>
												</div><!--
										   --></a>
									{% endif %}
								{% endfor %}
							{% else %}
								&nbsp;
							{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}

		</table>
	</div>
{% endblock %}
