{% extends '@EtuUser/Memberships/layout.html.twig' %}
{% set tab = 'memberships_orga_daymail' %}


{% block title %}{{ membership.organization.name }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/orga.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block javascripts %}
    {% if wantPreview %}
    <script type="text/javascript">
        $(function() {
            var url = '{{ path('memberships_orga_daymail_preview', {'login': orga.login, 'day': currentDay|date('d-m-Y')}) }}';

            $.facebox(
                '<p style="text-align:center;"><br /><img src="{{ asset('assets/img/loader-big.gif') }}" /><br /><br /></p>'
            );

            $.get(url, function(data) {
                $.facebox(data);
            });
        });
    </script>
    {% endif %}
{% endblock %}

{% block membership_content %}
    {{ form_start(form) }}

        <div class="control-group">
            <label class="control-label">{{ 'daymail.memberships.daymail.date.label'|trans }}</label>
            <div class="controls">
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        {{ ('daymail.memberships.daymail.days.'~currentDay|date('D')|lower)|trans }}
                        {{ currentDay|date('d') }}
                        {{ ('daymail.memberships.daymail.months.'~currentDay|date('M')|lower)|trans }}
                        {{ currentDay|date('Y') }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for code, day in available %}
                            {% if code == 'divider' %}
                                <li class="divider"></li>
                            {% else %}
                            <li>
                                <a href="{{ path('memberships_orga_daymail', {'login': orga.login, 'day': code}) }}">
                                    {% if day.old %}
                                        <em>
                                    {% endif %}

                                    {{ ('daymail.memberships.daymail.days.'~day|date('D')|lower)|trans }}
                                    {{ day|date('d') }}
                                    {{ ('daymail.memberships.daymail.months.'~day|date('M')|lower)|trans }}
                                    {{ day|date('Y') }}

                                    {% if day.name is defined %}
                                        <span class="muted">- {{ day.name }}</span>
                                    {% endif %}

                                    {% if day.old %}
                                        </em>
                                    {% endif %}
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        {% if canEdit %}
        {{ form_row(form.title) }}
        {{ form_row(form.body) }}

        <div class="control-group">
            <div class="controls">
                {{ form_rest(form) }}

                {% if daymail.id > 0 %}
                    <button type="submit" class="btn">
                        {{ 'daymail.memberships.daymail.edit'|trans({'%day%': currentDay|date('d/m/Y')}) }}
                    </button>
                    <button type="submit" class="btn" name="_preview">
                        {{ 'daymail.memberships.daymail.preview'|trans({'%day%': currentDay|date('d/m/Y')}) }}
                    </button>
                    <a href="{{ path('memberships_orga_daymail_remove', {'login': login, 'day': day}) }}"
                       class="btn btn-link pull-right">
                        {{ 'daymail.memberships.daymail.remove'|trans({'%day%': currentDay|date('d/m/Y')}) }}
                    </a>
                {% else %}
                    <button type="submit" class="btn">
                        {{ 'daymail.memberships.daymail.create'|trans({'%day%': currentDay|date('d/m/Y')}) }}
                    </button>
                {% endif %}
            </div>
        </div>
        {% else %}
            <hr />

            <h4>{{ daymail.title }}</h4>

            {{ daymail.body|raw }}
        {% endif %}
    {{ form_end(form) }}
{% endblock %}
