{% extends '::page-2cols.html.twig' %}

{% block title %}{{ membership.organization.name }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/orga.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<div class="padding20-all">
		<div class="row-fluid">
			<div class="span3 memberships">
				<ul class="nav nav-list">
					{% for m in memberships %}
						<li{% if membership.id == m.id %} class="active"{% endif %}>
							<a href="{{ path('memberships_orga', {'login': m.organization.login}) }}">
								{{ m.organization.name }}<br />
								{% if membership.id == m.id %}
									{{ ('user.orga.role.'~m.role)|trans }}
								{% else %}
									<span class="muted">{{ ('user.orga.role.'~m.role)|trans }}</span>
								{% endif %}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>

			<div class="span9">
				<ul class="nav nav-tabs">
					<li>
						<a href="{{ path('memberships_orga', {'login': membership.organization.login}) }}">
							{{ 'user.memberships.menu.position'|trans }}
						</a>
					</li>
					{% if membership.hasPermission('edit_desc') %}
					<li>
						<a href="{{ path('memberships_orga_desc', {'login': membership.organization.login}) }}">
							{{ 'user.memberships.menu.orga'|trans }}
						</a>
					</li>
					{% endif %}

					{% if membership.hasPermission('deleguate') %}
					<li>
						<a href="{{ path('memberships_orga_permissions', {'login': membership.organization.login}) }}">
							{{ 'user.memberships.menu.permissions'|trans }}
						</a>
					</li>
					{% endif %}

					{% if membership.hasPermission('notify') %}
					<li>
						<a href="{{ path('memberships_orga_notifications', {'login': membership.organization.login}) }}">
							{{ 'user.memberships.menu.notifications'|trans }}
						</a>
					</li>
					{% endif %}

					{% if membership.hasPermission('edit_desc') %}
					<li>
						<a href="{{ path('memberships_orga_events', {'login': membership.organization.login}) }}">
							{{ 'user.memberships.menu.event'|trans }}
						</a>
					</li>
					{% endif %}

					{% if membership.hasPermission('daymail') %}
					<li class="active">
						<a href="{{ path('memberships_orga_daymail', {'login': membership.organization.login}) }}">
							{{ 'user.memberships.menu.daymail'|trans }}
						</a>
					</li>
					{% endif %}
				</ul>

				<form method="post">
					{{ form_errors(form) }}

					<div class="control-group">
						<label class="control-label">{{ 'daymail.memberships.daymail.date.label'|trans }}</label>
						<div class="controls">
							<div class="btn-group">
								<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
									{{ ('daymail.memberships.daymail.days.'~currentDay|date('D')|lower)|trans }}
									{{ currentDay|date('d') }}
									{{ ('daymail.memberships.daymail.months.'~currentDay|date('M')|lower)|trans }}
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									{% for code, day in available %}
										{% if code == 'divider' %}
											<li class="divider"></li>
										{% else %}
										<li>
											<a href="{{ path('memberships_orga_daymail', {'login': orga.login, 'day': code}) }}">
												{% if day.old %}
													<em class="muted">
												{% endif %}

												{{ ('daymail.memberships.daymail.days.'~day|date('D')|lower)|trans }}
												{{ day|date('d') }}
												{{ ('daymail.memberships.daymail.months.'~day|date('M')|lower)|trans }}

												{% if day.old %}
													</em>
												{% endif %}
											</a>
										</li>
										{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>

					{% if canEdit %}
					<div class="control-group">
						<label class="control-label">{{ 'daymail.memberships.daymail.title.label'|trans }}</label>
						<div class="controls">
							{{ form_widget(form.title, {'attr': {'class': 'span8'}}) }}
						</div>
						<span class="help-block">{{ form_errors(form.title) }}</span>
					</div>

					<div class="control-group">
						<label class="control-label">
							{{ 'daymail.memberships.daymail.body.label'|trans }}
							<span class="pull-right">
								{% include 'EtuModuleUploadBundle::upload_link.html.twig' %}
							</span>
						</label>
						<div class="controls">
							{{ form_widget(form.body) }}
						</div>
						<span class="help-block">{{ form_errors(form.body) }}</span>
					</div>

					<div class="control-group">
						<div class="controls">
							{{ form_rest(form) }}

							<button type="submit" class="btn">
								{{ 'daymail.memberships.daymail.submit'|trans }}
							</button>

							<a class="btn" href="#"
							   onclick="window.open('{{ path('memberships_orga_daymail_preview', {'login': orga.login, 'day': currentDay|date('d-m-Y')}) }}', '', 'width=800, height=500, top=150, left=150, toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, copyhistory=no, resizable=no'); return false;">
								{{ 'daymail.memberships.daymail.preview'|trans }}
							</a>
						</div>
					</div>
					{% else %}
						<hr />

						<h4>{{ daymail.title }}</h4>

						{{ daymail.body|raw }}
					{% endif %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}