<ul class="nav nav-tabs page-tabs">
    <li class="pull-right{% if active == 'alerts' %} active page-tabs-resolved-active{% endif %}">
        <a href="{{ path('covoiturage_my_propose') }}">
            {{ 'covoit.menu.alerts'|trans }}
        </a>
    </li>
    <li class="pull-right{% if active == 'private' %} active page-tabs-resolved-active{% endif %}">
        <a href="{{ path('covoiturage_my_index') }}">
            {{ 'covoit.menu.my'|trans }}
        </a>
    </li>
    <li class="pull-right{% if active == 'home' %} active page-tabs-resolved-active{% endif %}">
        <a href="{{ path('covoiturage_index') }}">
            {{ 'covoit.menu.home'|trans }}
        </a>
    </li>
</ul>