{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'uvs.main.index.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/uvs.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <div class="padding20-all">
        {% include 'EtuModuleUVBundle:Main:chooser.html.twig' %}

        <h4>{{ 'uvs.main.index.my'|trans }}</h4>

        <br />

        <ul class="uvs-list">
            {% for uv in my %}
                <li>
                    <a href="{{ path('uvs_view', {'slug': uv.slug, 'name': uv.name|slugify}) }}">
                        <img src="{{ asset('assets/img/uvs/'~uv.category~'.png') }}"
                             class="uvs-list-icon"
                             alt="({{ uv.category|upper }})"
                             title="{{ uv.category|upper }}" />
                        {{ uv.code }} - {{ uv.name }} {{ uv.isOld ? 'uvs.main.search.old'|trans : '' }}
                    </a>
                </li>
            {% else %}
                <li>{{ 'uvs.main.index.noResult'|trans }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
