{% extends '::base.html.twig' %}

{% block title %}Duck Hunt !{% endblock %}

{% block page %}
	<section class="page">
		<div class="container page-container">
			<div class="align-center" style="padding: 125px 0 25px 0;">
				{% if ung %}
					<h3>UNG en vue !</h3>
					<p>
						Sois cool développeur du site étu, laisse-en aux autres ;) !
					</p>
				{% else %}
					{% if not catched %}
						<img src="{{ asset('img/duck_hunt_missed.jpg') }}" />

						<h3>Tu as manqué le canard !</h3>
						<p>
							Un autre étudiant a été plus rapide que toi, désolé !
						</p>
					{% else %}
						<img src="{{ asset('img/duck_hunt.jpg') }}" />

						<h3>Tu as attrapé le canard !</h3>
						<p>
							Félicitations, un badge te sera remis dans quelques jours !
						</p>
					{% endif %}
				{% endif %}
			</div>

			<div class="clear"></div>
		</div>
	</section>

	<footer class="container footer-bottom">
		<p>
			<a href="#" class="footer-link change-locale">
				{{ 'base.footer.change_locale'|trans }}
			</a>
			<a href="" id="next-change-locale-link" class="footer-link">
				{{ 'base.footer.legalities'|trans }}
			</a>
			<a href="" class="footer-link">
				{{ 'base.footer.help_us'|trans }}
			</a>
			<a href="" class="footer-link">
				{{ 'base.footer.developers'|trans }}
			</a>
			<span class="pull-right">
				{{ 'base.footer.1col_text'|trans|raw }} - {% include '::version.html.twig' %}
			</span>
		</p>
	</footer>
{% endblock %}
