{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'core.main.index.title'|trans }}{% endblock %}

{% block main_menu_link_homepage %} active{% endblock %}

{% block checkout_notifications %}
	<script type="text/javascript">
		window.setInterval(function(){
			// Find new notifications
			$.getJSON(Routing.generate('notifs_new'), function(data) {
				if (typeof data.status != 'undefined' && data.status == 200) {
					if (data.result.count > 0) {
						$('#head-menu-home-pins').text(data.result.count);
						$('#head-menu-home-pins').show();
						setCountTitle(data.result.count);
						$('#alert-new-notifs-count').text(data.result.count);
						$('#alert-new-notifs').show();
					} else {
						$('#head-menu-home-pins').hide();
						removeCountTitle();
						$('#alert-new-notifs').hide();
					}
				}
			});
		}, 10 * 1000); // 10 seconds
	</script>
{% endblock %}

{% block javascripts %}
	{% if notifs|length == 25 %}
	<script type="text/javascript">
		// Inifinite scroll
		var page = 1,
			requesting = false,
			loader = $('#flux-loader'),
			end = $('#flux-end'),
			flux = $('#flux-notifs');

		$(window).scroll(function () {
			if ($(window).height() + $(window).scrollTop() == $(document).height() && ! requesting) {
				page++;
				loader.show();
				requesting = true;

				$.ajax({
					type: 'GET',
					url: Routing.generate('flux_more', {page: page}),
					success: function(html) {
						if (html != 'no_more') {
							loader.hide();
							requesting = false;
							flux.append(html);
						} else {
							loader.hide();
							end.show();
						}
					}
				});
			}
		});
	</script>
	{% endif %}
	<script type="text/javascript" src="{{ asset('js/lib/jquery-impromptu.js') }}"></script>
	<script type="text/javascript">
	var tourSubmitFunc = function(e,v,m,f){
				if(v === -1){
					$.prompt.prevState();
					return false;
				}
				else if(v === 1){
					$.prompt.nextState();
					return false;
				}
	},
	tourStates = [
		{
			title: 'Bienvenue !',
			html: 'Prêt à découvrir le nouveau site étu ? C\'est parti !',
			buttons: { Next: 1 },
			focus: 0,
			position: { container: '#top', x: 200, y: 60, width: 200, arrow: 'tc' },
			submit: tourSubmitFunc
		},
		{
			title: 'Flux',
			html: 'C\'est ici que tu peux voir quand tu reçois tes notifications ! Cliques-y pour accèder à ton flux !',
			buttons: { Prev: -1, Next: 1 },
			focus: 1,
			position: { container: 'a[href="/"]', x: 170, y: 0, width: 300, arrow: 'lt' },
			submit: tourSubmitFunc
		},
		{
			title: 'Tiens toi informé !',
			html: 'Via le calendrier des associations, sois au courant de quand se déroule la prochaine nocturne, et dis à tout le monde que TOI, tu vas y participer !',
			buttons: { Done: 2 },
			focus: 0,
			position: { container: 'a[href="/events/"]', x: 370, y: 120, width: 275, arrow: 'lt' },
			submit: tourSubmitFunc
		}
	];
	$.prompt(tourStates);
	</script>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/jquery-impromptu.css') }}" type="text/css" />
{% endblock %}

{% block content %}
	{% if not notifs %}
		<div class="no-notif padding20-all">
			<h4>{{ 'core.main.index.no_notif_message'|trans }}</h4>
			<p>
				{{ 'core.main.index.no_notif_description'|trans }}
			</p>
			<p class="pull-right">
				<a href="{{ path('page_view', {'slug': 'les-abonnements'}) }}">
					{{ 'core.main.index.learn_more'|trans }}
				</a>
			</p>
			<div class="clear"></div>
		</div>
	{% else %}
		<div class="flux">
			<div id="alert-new-notifs">
				<a href="{{ path('homepage') }}" class="alert-new-notifs">
					<span id="alert-new-notifs-count">0</span> {{ 'core.main.index.new_notifs'|trans }}
				</a>
			</div>

			<div class="flux-notifs" id="flux-notifs">
			{% for notif in notifs %}
				{{ render_notif(notif) }}
			{% endfor %}
			</div>
		</div>

		<div class="flux-loading" id="flux-loader">
			<img src="{{ asset('img/loader.gif') }}" alt="{{ 'core.main.index.loading'|trans }}" title="{{ 'core.main.index.loading'|trans }}"/>
		</div>

		<div class="flux-end" id="flux-end">
			<img src="{{ asset('img/logo-shadow.png') }}" alt="{{ 'core.main.index.logo'|trans }}" title="{{ 'core.main.index.logo'|trans }}"/>
		</div>
	{% endif %}
{% endblock %}