{% extends '::page-1col.html.twig' %}

{% block title %}{{ 'core.main.indexAnonymous.title'|trans }}{% endblock %}

{% block main_menu_link_homepage %} active{% endblock %}

{% block content %}
	<div class="padding20-sides">
		<h3>{{ 'core.main.indexAnonymous.welcome'|trans }}</h3>

		<p>
			{{ 'core.main.indexAnonymous.desc'|trans|raw }}
		</p>
		<br />
		<div class="row-fluid">
			{% if etu.modules.isEnabled('events') %}
			<div class="span4">
				<h4>{{ 'core.main.indexAnonymous.events'|trans }}</h4>

				<hr />

				{% for event in events %}
					<a href="{{ path('events_view', {'id': event.id, 'slug': event.title|slugify}) }}" class="homepage-event">
						<img src="{{ asset('events/'~(event.title|slugify)~'-'~event.id~'.png') }}" class="pull-left event-tooltip-image" />

						<div class="homepage-event-meta">
							<h5>{{ event.title|limit(27) }}</h5>

							<small class="muted">
								{{ 'core.main.indexAnonymous.date'|trans({'%date%': event.begin|date('d/m/Y')}) }}
							</small>
						</div>

						<div class="clear"></div>
					</a>
				{% endfor %}

				<hr />

				<p class="pull-right">
					<a href="{{ path('events_index') }}">
						{{ 'core.main.indexAnonymous.allEvents'|trans }}
					</a>
				</p>
			</div>
			<div class="span8">
			{% else %}
			<div class="span12">
			{% endif %}
				<h4>Actualités</h4>

				<div class="well">
					<h5>
						Le Gala UTT !
						<small class="pull-right">Le 31 mars à 14h12</small>
					</h5>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, consequuntur culpa delectus
						eaque esse inventore iure nulla optio quaerat quam, quo, repudiandae ullam. Adipisci dicta
						dolorem expedita quos reiciendis tenetur.
					</p>
				</div>

				<div class="well">
					<h5>
						Le Gala UTT !
						<small class="pull-right">Le 30 mars à 17h10</small>
					</h5>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, consequuntur culpa delectus
						eaque esse inventore iure nulla optio quaerat quam, quo, repudiandae ullam. Adipisci dicta
						dolorem expedita quos reiciendis tenetur.
					</p>
				</div>

				<div class="well">
					<h5>
						Le Gala UTT !
						<small class="pull-right">Le 25 mars à 08h45</small>
					</h5>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, consequuntur culpa delectus
						eaque esse inventore iure nulla optio quaerat quam, quo, repudiandae ullam. Adipisci dicta
						dolorem expedita quos reiciendis tenetur.
					</p>
				</div>

				<div class="well">
					<h5>
						Le Gala UTT !
						<small class="pull-right">Le 18 mars à 18h26</small>
					</h5>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, consequuntur culpa delectus
						eaque esse inventore iure nulla optio quaerat quam, quo, repudiandae ullam. Adipisci dicta
						dolorem expedita quos reiciendis tenetur.
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
