{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'main.index.title'|trans }}{% endblock %}

{% block main_menu_link_homepage %} active{% endblock %}

{% block checkout_notifications %}
	{% if app.user and not app.user.isOrga %}
		<script>
			window.setInterval(function(){
				// Find new notifications
				$.getJSON(Routing.generate('notifs_new'), function(data) {
					if (typeof data.status != 'undefined' && data.status == 200) {
						if (data.result > 0) {
							$('#head-menu-home-pins').text(data.result);
							$('#head-menu-home-pins').show();

							setCountTitle(data.result);

							$('#alert-new-notifs-count').text(data.result);
							$('#alert-new-notifs').show();
						}
					}
				});
			}, 5 * 1000); // 10 seconds
		</script>
	{% endif %}
{% endblock %}

{% block content %}
	{% if not notifs %}
		<div class="no-notif padding20-all">
			<h4>{{ 'main.index.no_notif.message'|trans }}</h4>
			<p>
				{{ 'main.index.no_notif.suscribe'|trans }}
			</p>
			<p class="pull-right">
				<a href="">{{ 'main.index.no_notif.learn_more'|trans }}</a>
			</p>
			<div class="clear"></div>
		</div>
	{% else %}
	<div class="flux">
		<div id="alert-new-notifs">
			<a href="{{ path('homepage') }}" class="alert-new-notifs">
				<span id="alert-new-notifs-count">0</span> {{ 'main.index.new_notifs'|trans }}
			</a>
		</div>

		{% for notif in notifs %}
			{{ render_notif(notif) }}
		{% endfor %}

		<!--
		<div class="super-notifs">
			<a href="" class="notif super-notif">
				<img src="{{ asset('img/notifs/event.png') }}" />

				<h4 class="notif-title">
					Nouvel évènement de
					<span class="notif-data">BDE</span> :
					<span class="notif-data">Soirée des finaux</span>
					(super-notification)
				</h4>

				<div class="clear"></div>
			</a>
		</div>

		<a href="" class="notif notif-new">
			<img src="{{ asset('img/notifs/mail.png') }}" />

			<h4 class="notif-title">
				Vous avez <span class="notif-data">3</span> nouveaux e-mails
			</h4>

			<div class="notif-date hidden">
				Il y a 4 minutes
			</div>

			<div class="clear"></div>
		</a>

		<a href="" class="notif notif-new">
			<img src="{{ asset('img/notifs/event.png') }}" />

			<h4 class="notif-title">
				Nouvel évènement de
				<span class="notif-data">BDE</span> :
				<span class="notif-data">Remise des diplômes</span>
			</h4>

			<div class="notif-date">
				Il y a 1 heure
			</div>

			<div class="clear"></div>
		</a>

		<a href="" class="notif">
			<img src="{{ asset('img/notifs/uv.png') }}" />

			<h4 class="notif-title">
				Nouveau commentaire de
				<span class="notif-data">Boris Guifot</span> dans l'UV
				<span class="notif-data">LO02</span>
			</h4>

			<div class="notif-date">
				Il y a 3 heures
			</div>

			<div class="clear"></div>
		</a>

		<a href="" class="notif">
			<img src="{{ asset('img/notifs/forum.png') }}" />

			<h4 class="notif-title">
				Nouveaux messages de
				<span class="notif-data">Marie-Laure Vistos</span> et
				<span class="notif-data">Lucas Soulier</span> dans
				<span class="notif-data">Ancien Poly</span>
			</h4>

			<div class="notif-date">
				Le 30 décembre 2012 à 12h14
			</div>

			<div class="clear"></div>
		</a>

		<a href="" class="notif">
			<img src="{{ asset('img/notifs/mail.png') }}" />

			<h4 class="notif-title">
				Vous avez <span class="notif-data">3</span> nouveaux e-mails
			</h4>

			<div class="notif-date">
				Il y a 4 minutes
			</div>

			<div class="clear"></div>
		</a>

		<a href="" class="notif">
			<img src="{{ asset('img/notifs/event.png') }}" />

			<h4 class="notif-title">
				Nouvel évènement de
				<span class="notif-data">BDE</span> :
				<span class="notif-data">Remise des diplômes</span>
			</h4>

			<div class="notif-date">
				Il y a 1 heure
			</div>

			<div class="clear"></div>
		</a>

		<a href="" class="notif">
			<img src="{{ asset('img/notifs/uv.png') }}" />

			<h4 class="notif-title">
				Nouveau commentaire de
				<span class="notif-data">Boris Guifot</span> dans l'UV
				<span class="notif-data">LO02</span>
			</h4>

			<div class="notif-date">
				Il y a 3 heures
			</div>

			<div class="clear"></div>
		</a>

		<a href="" class="notif">
			<img src="{{ asset('img/notifs/forum.png') }}" />

			<h4 class="notif-title">
				Nouveaux messages de
				<span class="notif-data">Marie-Laure Vistos</span> et
				<span class="notif-data">Lucas Soulier</span> dans
				<span class="notif-data">Ancien Poly</span>
			</h4>

			<div class="notif-date">
				Le 30 décembre 2012 à 12h14
			</div>

			<div class="clear"></div>
		</a>
		-->

	</div>
	{% endif %}
{% endblock %}