{% extends 'EtuCoreBundle:Admin:layout.html.twig' %}
{% import '@EtuModuleUV/Main/comment.twig' as viewComment %}

{% block title %}{{ 'uvs.admin.index.title'|trans }}{% endblock %}

{% block content %}
    <ul class="nav nav-tabs page-tabs">
        <li>
            <a href="{{ path('admin_uvs_index') }}">
                {{ 'uvs.admin.back'|trans }}
            </a>
        </li>
    </ul>

    <div class="padding20-sides">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        <hr />

        {% for comment in pagination %}
            {{ viewComment.commentaire(comment) }}
        {% endfor %}

        <hr />

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
