{% extends '::developpers.html.twig' %}

{% block content %}
    <div class="padding20-all">
        <ul class="breadcrumb">
            <li><a href="{{ path('doc_index') }}">Documentation Développeurs</a> <span class="divider">/</span></li>
            <li class="active">REST API <span class="divider">/</span></li>
            <li class="active">Installation</li>
        </ul>

        {% if app.request.locale != 'fr' %}
            <div class="alert alert-warning">
                The EtuUTT developpers documentation is not available in your language.
                For the moment, it exists only in French.
            </div>
        {% endif %}

        <h3>Installation et configuration</h3>

        <hr />

        <p class="align-right">
            <a href="{{ path('doc_rest_usage') }}">Chapitre suivant : Utilisation <i class="icon-chevron-right"></i></a>
        </p>

        <hr />

        <p>
            L'API EtuUTT est une API REST classique qui permettra une fois terminée d'accéder à toutes les fonctionnalités
            du site étudiant par voie logicielle.
        </p>
        <p>
            Pour le moment, cette API en est à ses tous débuts et elle ne propose que la liste publique des utilisateurs
            et des associations. Cependant, à terme, tous les modules seront accessibles.
        </p>

        <hr />

        <h4>Fonctionnement et implémentation</h4>

        <br />

        <p>
            EtuUTT API utilise HTTP au maximum :
        </p>

        <ul>
            <li>
                Chaque manipulation de donnée se fait grâce à la méthode HTTP appropriée
                (<code>GET</code>, <code>POST</code>, <code>PUT</code>, ...) ;
            </li>
            <li>
                L'authentification de l'application se fait grâce à un header HTTP ;
            </li>
            <li>
                Le format de donnée voulu (<code>JSON</code>, <code>XML</code>, ...) est spécifié dans le header HTTP adapté ;
            </li>
        </ul>

        <p>
            Vous aurez donc besoin d'utiliser un client HTTP complet dans le language de programmation de votre choix.
            Tous les exemples de la documentation seront écrits en PHP et utiliseront
            <a href="http://guzzle.readthedocs.org/en/latest/">Guzzle</a>.
        </p>

        <hr />

        <h4>Installation et configuration</h4>

        <br />

        <p>
            Aucune installation spécifique n'est requise mis à part si vous avez besoin d'installer votre client HTTP.
            Il vous faut cependannt configurer ce client HTTP pour utiliser l'API.
        </p>

        <p class="alert alert-info">
            Si vous souhaitez seulement tester l'API, vous pouvez utiliser la
            <a href="{{ path('nelmio_api_doc_index') }}">Sandbox EtuUTT</a>.
            Choisissez une ressource et cliquez sur Sandbox.
        </p>

        <br />

        <h5>Obtenir un token d'identification</h5>

        <p>
            Pour le moment et tant que l'API ne sera pas terminée, seule
            l'<a href="{{ path('orgas_view', {'login': 'ung'}) }}">UTT Net Group</a> sera apte à distribuer des
            tokens d'identification.
        </p>
        <p>
            Pour utiliser l'API, vous devez donc contacter l'UNG : <a href="mailto:ung@utt.fr">ung@utt.fr</a> ou aller en
            salle associative et trouver des membres de l'association.
        </p>

        <br />

        <h5>Utiliser le token d'identification</h5>

        <p>
            Une fois créé, votre token d'identification vous permet d'accéder à l'API. Pour cela, vous devez passer deux
            headers à votre requête :
        </p>

        <ul>
            <li><code>Etu-UTT-Token</code> doit être votre token d'application ;</li>
            <li><code>Accept</code> doit être le format que vous voulez recevoir : <code>json</code> ou <code>xml</code> ;</li>
        </ul>

        <br />

        <p>
            Ce qui donnerait en PHP :
        </p>

        <pre>&lt;?php

$client = new GuzzleHttp\Client();

$request = $client-&gt;createRequest('GET', 'https://etu.utt.fr/api/users');
$request-&gt;setHeader('Etu-UTT-Token', 'VotreTokenDIdentification');
$request-&gt;setHeader('Accept', 'json');

$response = $client-&gt;send($request);

echo $response-&gt;getBody();</pre>

        <br />

        <p>
            Vous êtes désormais prêt à utiliser l'API EtuUTT. Nous allons voir dans le prochain chapitre l'organisation
            des points d'entrée, les conventions et le format des données de l'API.
        </p>

        <hr />

        <p class="align-right">
            <a href="{{ path('doc_rest_usage') }}">Chapitre suivant : Utilisation <i class="icon-chevron-right"></i></a>
        </p>
    </div>
{% endblock %}