{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'user.profile.profile.title'|trans }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('src/img/titles/user.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<div class="padding20-all">

		<p>
			{% if app.user.profileCompletion == 100 %}
				{{ 'user.profile.profile.completed'|trans }}
			{% else %}
				{{ 'user.profile.profile.completion'|trans({'%completion%': app.user.profileCompletion}) }}
			{% endif %}

			<span class="pull-right hidden-for-phones">
				<a href="{{ path('user_view', {'login': app.user.login}) }}?from=profile">
					{{ 'user.profile.profile.viewPublic'|trans }}
				</a>
			</span>
		</p>

		<div class="progress">
			<div
				class="bar {% if app.user.profileCompletion == 100 %} bar-success{% endif %}"
				style="width: {{ app.user.profileCompletion }}%;">
				{% if app.user.profileCompletion > 10 %}
					{{ app.user.profileCompletion }} %
				{% endif %}
			</div>
		</div>

		<div class="display-for-phones">
			<a href="{{ path('user_view', {'login': app.user.login}) }}?from=profile">
				{{ 'user.profile.profile.viewPublic'|trans }}
			</a>
		</div>

		<div class="row-fluid">
			<div class="span6 block">
				<div class="block-title">{{ 'user.profile.profile.informations'|trans }}</div>

				<div class="subblock subblock-first">
					<div class="profile-infos-label hidden-for-phones">
						{{ 'user.profile.profile.name'|trans }}
					</div>
					<div class="profile-infos-value">{{ app.user.fullName }}</div>
				</div>

				<div class="subblock">
					<div class="profile-infos-label hidden-for-phones">
						{{ 'user.profile.profile.mail'|trans }}
					</div>
					<div class="profile-infos-value">{{ app.user.mail }}</div>
				</div>

				<div class="subblock">
					<div class="profile-infos-label hidden-for-phones">
						{{ 'user.profile.profile.sex'|trans }}
					</div>
					<div class="profile-infos-value">
						{% if app.user.sex %}
							{{ ('base.user.sex.'~app.user.sex)|trans }}

							{% if is_private(app.user.sexPrivacy) %}
								<i class="icon-lock tip" title="{{ 'user.privacy.private'|trans }}"></i>
							{% else %}
								<i class="icon-globe tip" title="{{ 'user.privacy.public'|trans }}"></i>
							{% endif %}
						{% else %}
							<em class="muted">{{ 'user.profile.profile.unknown'|trans }}</em>
						{% endif %}
					</div>
					<div class="clear"></div>
				</div>

				<div class="subblock">
					<div class="profile-infos-label hidden-for-phones">
						{{ 'user.profile.profile.personnalMail'|trans }}
					</div>
					<div class="profile-infos-value">
						{% if app.user.personnalMail %}
							{{ app.user.personnalMail }}
							{% if is_private(app.user.personnalMailPrivacy) %}
								<i class="icon-lock tip" title="{{ 'user.privacy.private'|trans }}"></i>
							{% else %}
								<i class="icon-globe tip" title="{{ 'user.privacy.public'|trans }}"></i>
							{% endif %}
						{% else %}
							<em class="muted">{{ 'user.profile.profile.unknown'|trans }}</em>
						{% endif %}
					</div>
					<div class="clear"></div>
				</div>

				<div class="subblock">
					<div class="profile-infos-label hidden-for-phones">
						{{ 'user.profile.profile.phoneNumber'|trans }}
					</div>
					<div class="profile-infos-value">
						{% if app.user.phoneNumber %}
							{{ app.user.phoneNumber }}

							{% if is_private(app.user.phoneNumberPrivacy) %}
								<i class="icon-lock tip" title="{{ 'user.privacy.private'|trans }}"></i>
							{% else %}
								<i class="icon-globe tip" title="{{ 'user.privacy.public'|trans }}"></i>
							{% endif %}
						{% else %}
							<em class="muted">{{ 'user.profile.profile.unknown'|trans }}</em>
						{% endif %}
					</div>
					<div class="clear"></div>
				</div>

				<div class="subblock">
					<div class="profile-infos-label hidden-for-phones">
						{{ 'user.profile.profile.adress'|trans }}
					</div>
					<div class="profile-infos-value">
						{% if app.user.adress or app.user.postalCode or app.user.city or app.user.country %}
							{% if app.user.adress %}
								{{ app.user.adress }}
								{% if is_private(app.user.adressPrivacy) %}
									<i class="icon-lock tip" title="{{ 'user.privacy.private'|trans }}"></i>
								{% else %}
									<i class="icon-globe tip" title="{{ 'user.privacy.public'|trans }}"></i>
								{% endif %}
								<br />
							{% endif %}

							{% if app.user.postalCode %}
								{{ app.user.postalCode }}
								{% if is_private(app.user.postalCodePrivacy) %}
									<i class="icon-lock tip" title="{{ 'user.privacy.private'|trans }}"></i>
								{% else %}
									<i class="icon-globe tip" title="{{ 'user.privacy.public'|trans }}"></i>
								{% endif %}
								<br />
							{% endif %}

							{% if app.user.city %}
								{{ app.user.city }}
								{% if is_private(app.user.cityPrivacy) %}
									<i class="icon-lock tip" title="{{ 'user.privacy.private'|trans }}"></i>
								{% else %}
									<i class="icon-globe tip" title="{{ 'user.privacy.public'|trans }}"></i>
								{% endif %}
								<br />
							{% endif %}

							{% if app.user.country %}
								{{ app.user.country }}
								{% if is_private(app.user.countryPrivacy) %}
									<i class="icon-lock tip" title="{{ 'user.privacy.private'|trans }}"></i>
								{% else %}
									<i class="icon-globe tip" title="{{ 'user.privacy.public'|trans }}"></i>
								{% endif %}
							{% endif %}
						{% else %}
							<em class="muted">{{ 'user.profile.profile.unknown'|trans }}</em>
						{% endif %}
					</div>
					<div class="clear"></div>
				</div>

				<div class="subblock">
					<div class="profile-infos-label hidden-for-phones">
						{{ 'user.profile.profile.birthday'|trans }}
					</div>
					<div class="profile-infos-value">
						{% if app.user.birthday %}
							{{ app.user.birthday|date('d/m/Y') }}

							{% if is_private(app.user.birthdayPrivacy) %}
								<i class="icon-lock tip" title="{{ 'user.privacy.private'|trans }}"></i>
							{% else %}
								<i class="icon-globe tip" title="{{ 'user.privacy.public'|trans }}"></i>
							{% endif %}

							({{ 'user.profile.profile.age'|trans({'%age%': app.user.age}) }}

							{% if is_private(app.user.birthdayPrivacy) and not app.user.birthdayDisplayOnlyAge %}
								<i class="icon-lock tip" title="{{ 'user.privacy.private'|trans }}"></i>
							{% else %}
								<i class="icon-globe tip" title="{{ 'user.privacy.public'|trans }}"></i>
							{% endif %})
						{% else %}
							<em class="muted">{{ 'user.profile.profile.unknown'|trans }}</em>
						{% endif %}
					</div>
					<div class="clear"></div>
				</div>

				<p class="profile-block-action">
					<a href="{{ path('user_profile_edit') }}" class="btn">
						{{ 'user.profile.profile.edit'|trans }}
					</a>
				</p>
			</div>

			<div class="span6">
                <div class="block">
                    <div class="block-title">{{ 'user.profile.profile.trombi'|trans }}</div>

                    <div class="subblock subblock-first">
                        <div class="profile-infos-label hidden-for-phones">
                            {{ 'user.profile.profile.surname'|trans }}
                        </div>
                        <div class="profile-infos-value">
                            {% if app.user.surnom %}
                                {{ app.user.surnom }}
                                <i class="icon-globe tip" title="{{ 'user.privacy.public'|trans }}"></i>
                            {% else %}
                                <em class="muted">{{ 'user.profile.profile.unknown'|trans }}</em>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="subblock">
                        <div class="profile-infos-label hidden-for-phones">
                            {{ 'user.profile.profile.jadis'|trans }}
                        </div>
                        <div class="profile-infos-value">
                            {% if app.user.jadis %}
                                {{ app.user.jadis|limit(100) }}
                                <i class="icon-globe tip" title="{{ 'user.privacy.public'|trans }}"></i>
                            {% else %}
                                <em class="muted">{{ 'user.profile.profile.unknown'|trans }}</em>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="subblock">
                        <div class="profile-infos-label hidden-for-phones">
                            {{ 'user.profile.profile.passions'|trans }}
                        </div>
                        <div class="profile-infos-value">
                            {% if app.user.passions %}
                                {{ app.user.passions|limit(100) }}
                                <i class="icon-globe tip" title="{{ 'user.privacy.public'|trans }}"></i>
                            {% else %}
                                <em class="muted">{{ 'user.profile.profile.unknown'|trans }}</em>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                    </div>

                    <p class="profile-block-action">
                        <a href="{{ path('user_trombi_edit') }}" class="btn">
                            {{ 'user.profile.profile.edit'|trans }}
                        </a>
                    </p>
                </div>

                {% if hasApps %}
                    <div class="block">
                        <div class="block-title">{{ 'user.profile.profile.apps'|trans }}</div>

                        <p class="padding20-sides">
                            {{ 'user.profile.profile.apps_explain'|trans }}
                        </p>

                        <ul class="nav nav-list">
                            {% for authorization in apps %}
                                {% set client = authorization.client %}

                                <li>
                                    <a href="javascript:void(0);"
                                       onclick="$('#revoke-{{ client.clientId }}').show(); return false;">
                                        <img src="{{ asset('uploads/apps/' ~ client.icon) }}" class="api-app-image-icon" />
                                        {{ client.name }}
                                    </a>

                                    <div id="revoke-{{ client.clientId }}" class="overlay">
                                        <div class="confirmation">
                                            <p>
                                                L'application <strong>{{ client.name }}</strong> peut lire les données
                                                suivantes de votre compte :
                                            </p>

                                            <ul>
                                                {% for scope in authorization.scopes %}
                                                    <li>{{ scope.description }}</li>
                                                {% endfor %}
                                            </ul>

                                            <hr />

                                            <a href="{{ path('user_profile_revoke_app', { 'clientId': client.clientId }) }}" class="btn btn-primary">
                                                {{ 'user.profile.profile.revoke_app'|trans }}
                                            </a>
                                            <a href="javascript:void(0);" class="btn btn-default"
                                               onclick="$('#revoke-{{ client.clientId }}').hide(); return false;">
                                                {{ 'user.profile.profile.revoke_cancel'|trans }}
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                    </div>
                {% endif %}
            </div>
		</div>

		<div class="block">
			<div class="block-title">{{ 'user.profile.profile.badges'|trans }}</div>

            {% if app.user.badgesList %}
                {% for name, serie in app.user.badgesList %}
                    <ul class="badges-list">
                        {% for level, userBadge in serie %}
                            {% if userBadge.owned %}
                                <li>
                                    <img src="{{ asset('src/img/badges/'~userBadge.badge.picture~'.png') }}" class="tip"
                                         title="<strong style='font-size: 13px;'>{{ userBadge.badge.name }}</strong><br />{{ userBadge.badge.description }}" />
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="clear"></div>
                    <hr />
                {% endfor %}

                <ul class="badges-list">
                    {% for name, serie in app.user.badgesList %}
                        {% for level, userBadge in serie %}
                            {% if not userBadge.owned %}
                                <li>
                                    <img src="{{ asset('src/img/badges/riddle_00.png') }}" class="tip not-owned"
                                         title="<strong style='font-size: 13px;'>{{ userBadge.badge.name }}</strong>" />
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
                <div class="clear"></div>
            {% endif %}
		</div>
	</div>
{% endblock %}
