{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'base.user.menu.account'|trans }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/user.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<div class="padding20-all">

		<p>
			{% if app.user.profileCompletion == 100 %}
				{{ 'user.profile.completed'|trans }}
			{% else %}
				{{ 'user.profile.completion'|trans({'%completion%': app.user.profileCompletion}) }}
			{% endif %}

			<span class="pull-right">
				<a href="{{ path('user_view', {'login': app.user.login}) }}">
					{{ 'user.profile.viewPublic'|trans }}
				</a>
			</span>
		</p>

		<div class="progress">
			<div
				class="bar {% if app.user.profileCompletion == 100 %} bar-success{% endif %}"
				style="width: {{ app.user.profileCompletion }}%;">
				{% if app.user.profileCompletion > 10 %}
					{{ app.user.profileCompletion }} %
				{% endif %}
			</div>
		</div>

		<div class="row-fluid">
			<div class="span6 block">
				<div class="block-title">{{ 'user.profile.titles.informations'|trans }}</div>

				<div class="subblock subblock-first">
					<div class="profile-infos-label hidden-for-phones">
						{{ 'user.profileEdit.name'|trans }}
					</div>
					<div class="profile-infos-value">{{ app.user.fullName }}</div>
				</div>

				<div class="subblock">
					<div class="profile-infos-label hidden-for-phones">
						{{ 'user.profileEdit.mail'|trans }}
					</div>
					<div class="profile-infos-value">{{ app.user.mail }}</div>
				</div>

				{% if app.user.sex %}
					<div class="subblock">
						<div class="profile-infos-label hidden-for-phones">
							{{ 'user.profileEdit.sex'|trans }}
						</div>
						<div class="profile-infos-value">
							{{ ('base.user.sex.'~app.user.sex)|trans }}

							{% if is_private(app.user.sexPrivacy) %}
								<i class="icon-lock" title="{{ 'user.privacy.private'|trans }}"></i>
							{% else %}
								<i class="icon-globe" title="{{ 'user.privacy.public'|trans }}"></i>
							{% endif %}
						</div>
						<div class="clear"></div>
					</div>
				{% endif %}

				{% if app.user.personnalMail %}
					<div class="subblock">
						<div class="profile-infos-label hidden-for-phones">
							{{ 'user.profileEdit.personnalMail'|trans }}
						</div>
						<div class="profile-infos-value">
							{{ app.user.personnalMail }}
							{% if is_private(app.user.personnalMailPrivacy) %}
								<i class="icon-lock" title="{{ 'user.privacy.private'|trans }}"></i>
							{% else %}
								<i class="icon-globe" title="{{ 'user.privacy.public'|trans }}"></i>
							{% endif %}
						</div>
						<div class="clear"></div>
					</div>
				{% endif %}

				{% if app.user.phoneNumber %}
					<div class="subblock">
						<div class="profile-infos-label hidden-for-phones">
							{{ 'user.profileEdit.phoneNumber'|trans }}
						</div>
						<div class="profile-infos-value">
							{{ app.user.phoneNumber }}

							{% if is_private(app.user.phoneNumberPrivacy) %}
								<i class="icon-lock" title="{{ 'user.privacy.private'|trans }}"></i>
							{% else %}
								<i class="icon-globe" title="{{ 'user.privacy.public'|trans }}"></i>
							{% endif %}
						</div>
						<div class="clear"></div>
					</div>
				{% endif %}

				{% if app.user.adress %}
					<div class="subblock">
						<div class="profile-infos-label hidden-for-phones">
							{{ 'user.profileEdit.adress'|trans }}
						</div>
						<div class="profile-infos-value">
							{{ app.user.adress }}
							{% if is_private(app.user.adressPrivacy) %}
								<i class="icon-lock" title="{{ 'user.privacy.private'|trans }}"></i>
							{% else %}
								<i class="icon-globe" title="{{ 'user.privacy.public'|trans }}"></i>
							{% endif %}
							<br />

							{{ app.user.postalCode }}
							{% if is_private(app.user.postalCodePrivacy) %}
								<i class="icon-lock" title="{{ 'user.privacy.private'|trans }}"></i>
							{% else %}
								<i class="icon-globe" title="{{ 'user.privacy.public'|trans }}"></i>
							{% endif %}
							<br />

							{{ app.user.city }}
							{% if is_private(app.user.cityPrivacy) %}
								<i class="icon-lock" title="{{ 'user.privacy.private'|trans }}"></i>
							{% else %}
								<i class="icon-globe" title="{{ 'user.privacy.public'|trans }}"></i>
							{% endif %}
							<br />

							{{ app.user.country }}
							{% if is_private(app.user.countryPrivacy) %}
								<i class="icon-lock" title="{{ 'user.privacy.private'|trans }}"></i>
							{% else %}
								<i class="icon-globe" title="{{ 'user.privacy.public'|trans }}"></i>
							{% endif %}
						</div>
						<div class="clear"></div>
					</div>
				{% endif %}

				{% if app.user.birthday %}
					<div class="subblock">
						<div class="profile-infos-label hidden-for-phones">
							{{ 'user.profileEdit.birthday'|trans }}
						</div>
						<div class="profile-infos-value">
							{{ app.user.birthday|date('d/m/Y') }}

							{% if is_private(app.user.birthdayPrivacy) %}
								<i class="icon-lock" title="{{ 'user.privacy.private'|trans }}"></i>
							{% else %}
								<i class="icon-globe" title="{{ 'user.privacy.public'|trans }}"></i>
							{% endif %}

							({{ 'user.profile.age'|trans({'%age%': app.user.age}) }}

							{% if is_private(app.user.birthdayPrivacy) and not app.user.birthdayDisplayOnlyAge %}
								<i class="icon-lock" title="{{ 'user.privacy.private'|trans }}"></i>
							{% else %}
								<i class="icon-globe" title="{{ 'user.privacy.public'|trans }}"></i>
							{% endif %})
						</div>
						<div class="clear"></div>
					</div>
				{% endif %}

				<p class="profile-block-action">
					<a href="{{ path('user_profile_edit') }}" class="btn">
						{{ 'user.profile.edit'|trans }}
					</a>
				</p>
			</div>

			<div class="span6 block">
				<div class="block-title">{{ 'user.profile.titles.trombi'|trans }}</div>

				{% set first = true %}

				{% if app.user.surnom %}
					{% set first = false %}

					<div class="subblock subblock-first">
						<div class="profile-infos-label hidden-for-phones">
							{{ 'user.trombiEdit.surnom'|trans }}
						</div>
						<div class="profile-infos-value">
							{{ app.user.surnom }}
							<i class="icon-lock" title="{{ 'user.privacy.private'|trans }}"></i>
						</div>
						<div class="clear"></div>
					</div>
				{% endif %}

				{% if app.user.jadis %}
					{% if first %}
						{% set first = false %}
						<div class="subblock subblock-first">
					{% else %}
						<div class="subblock">
					{% endif %}

						<div class="profile-infos-label hidden-for-phones">
							{{ 'user.trombiEdit.jadis'|trans }}
						</div>
						<div class="profile-infos-value">
							{{ app.user.jadis|limit(100) }}
							<i class="icon-lock" title="{{ 'user.privacy.private'|trans }}"></i>
						</div>
						<div class="clear"></div>
					</div>
				{% endif %}

				{% if app.user.passions %}
					{% if first %}
						{% set first = false %}
						<div class="subblock subblock-first">
					{% else %}
						<div class="subblock">
					{% endif %}

						<div class="profile-infos-label hidden-for-phones">
							{{ 'user.trombiEdit.passions'|trans }}
						</div>
						<div class="profile-infos-value">
							{{ app.user.passions|limit(100) }}
							<i class="icon-lock" title="{{ 'user.privacy.private'|trans }}"></i>
						</div>
						<div class="clear"></div>
					</div>
				{% endif %}

				{% if not app.user.surnom and not app.user.jadis and not app.user.passions %}
					<div class="subblock subblock-first">
						Vous n'avez pas encore personnalisé votre fiche trominoscope.
						N'hésitez pas à le faire dès que possible !
					</div>
				{% endif %}

				<p class="profile-block-action">
					<a href="{{ path('user_trombi_edit') }}" class="btn">
						{{ 'user.profile.edit'|trans }}
					</a>
				</p>
			</div>
		</div>

		<div class="block">
			<div class="block-title">{{ 'user.profile.titles.badges'|trans }}</div>

			<ul>
			{% for badge in app.user.badges %}
				<li>{{ badge }}</li>
			{% else %}
				<li>Aucun badge pour le moment. Participez pour en gagner !</li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}