{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'user.profile.profileEdit.title'|trans }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('src/img/titles/user.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('src/js/bundles/user.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
	<div style="display: none;">
		<form id="avatar-upload-form" action="{{ path('user_profile_avatar') }}" {{ form_enctype(avatarForm) }} target="avatar-upload-frame" method="post">
			{{ form_rest(avatarForm) }}
			<input id="avatar-upload-submit" type="submit" value="Upload" />
		</form>
		<iframe id="avatar-upload-frame" name="avatar-upload-frame" src="#"></iframe>
	</div>

	<ul class="nav nav-tabs page-tabs">
		<li>
			<a href="{{ path('user_profile') }}">
				<i class="icon-chevron-left"></i>
				{{ 'user.profile.profileEdit.back'|trans }}
			</a>
		</li>
	</ul>

	<div class="padding20-all">
		<form method="post">
			{{ form_errors(form) }}

			<div class="row-fluid">
				<div class="span4"></div>
				<div class="span2">
					<a href="#" id="avatar-upload-link" title="{{ 'user.profile.profileEdit.avatar'|trans }}">
						<div class="profileEdit-avatar-actions">
							<i class="icon-pencil"></i>
						</div>
						<img src="{{ asset('uploads/photos/'~app.user.avatar) }}" class="profileEdit-avatar"
							 alt="{{ app.user.fullName }}" id="avatar-image" />
					</a>
				</div>
				<div class="span6 profileEdit-fixedValue">
					<p>
						<strong>{{ app.user.fullName }}</strong>
						<br />
						<small class="muted">
							<em>
								{{ app.user.login }}
								{% if app.user.studentId %}
									- {{ app.user.studentId }}
								{% endif %}
							</em>
						</small>
					</p>

					{% if app.user.niveau or app.user.filiere or app.user.formation %}
					<p>
						{{ app.user.branch~app.user.niveau }} {{ app.user.filiere }} ({{ app.user.formation }})
					</p>
					{% endif %}

					{% if app.user.mail %}
					<p>
						<a href="mailto:{{ app.user.mail }}">{{ app.user.mail }}</a>
					</p>
					{% endif %}
				</div>
			</div>

			<hr />

			<p class="pull-right muted" style="text-align: right;">
				<small>
					{{ 'user.privacy.public'|trans }} : {{ 'user.privacy.publicMore'|trans }}<br />
					{{ 'user.privacy.private'|trans }} : {{ 'user.privacy.privateMore'|trans }}
				</small>
			</p>

			<div class="clear"></div>

			<div class="row-fluid">
				<div class="span1"></div>
				<div class="span5">
					<div class="control-group">
						<label class="control-label">{{ form_label(form.phoneNumber, 'user.profile.profileEdit.phoneNumber'|trans) }}</label>
						<div class="controls">
							{{ form_widget(form.phoneNumber) }}
							{{ form_widget(form.phoneNumberPrivacy) }}
							<span class="text-alert">{{ form_errors(form.phoneNumber) }}</span>
							<span class="text-alert">{{ form_errors(form.phoneNumberPrivacy) }}</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form.sex, 'user.profile.profileEdit.sex'|trans) }}</label>
						<div class="controls">
							{{ form_widget(form.sex) }}
							{{ form_widget(form.sexPrivacy) }}
							<span class="text-alert">{{ form_errors(form.sex) }}</span>
							<span class="text-alert">{{ form_errors(form.sexPrivacy) }}</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form.nationality, 'user.profile.profileEdit.nationality'|trans) }}</label>
						<div class="controls">
							{{ form_widget(form.nationality) }}
							{{ form_widget(form.nationalityPrivacy) }}
							<span class="text-alert">{{ form_errors(form.nationality) }}</span>
							<span class="text-alert">{{ form_errors(form.nationalityPrivacy) }}</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form.personnalMail, 'user.profile.profileEdit.personnalMail'|trans) }}</label>
						<div class="controls">
							{{ form_widget(form.personnalMail) }}
							{{ form_widget(form.personnalMailPrivacy) }}
							<span class="text-alert">{{ form_errors(form.personnalMail) }}</span>
							<span class="text-alert">{{ form_errors(form.personnalMailPrivacy) }}</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form.birthday, 'user.profile.profileEdit.birthday'|trans) }}</label>
						<div class="controls">
							{{ form_widget(form.birthday) }}
							{{ form_widget(form.birthdayPrivacy) }}
							<span class="text-alert">{{ form_errors(form.birthday) }}</span>
							<span class="text-alert">{{ form_errors(form.birthdayPrivacy) }}</span>
						</div>
					</div>
				</div>
				<div class="span5">
					<div class="control-group">
						<label class="control-label">{{ form_label(form.address, 'user.profile.profileEdit.address'|trans) }}</label>
						<div class="controls">
							{{ form_widget(form.address) }}
							{{ form_widget(form.addressPrivacy) }}
							<span class="text-alert">{{ form_errors(form.address) }}</span>
							<span class="text-alert">{{ form_errors(form.addressPrivacy) }}</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form.postalCode, 'user.profile.profileEdit.postalCode'|trans) }}</label>
						<div class="controls">
							{{ form_widget(form.postalCode) }}
							{{ form_widget(form.postalCodePrivacy) }}
							<span class="text-alert">{{ form_errors(form.postalCode) }}</span>
							<span class="text-alert">{{ form_errors(form.postalCodePrivacy) }}</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form.city, 'user.profile.profileEdit.city'|trans) }}</label>
						<div class="controls">
							{{ form_widget(form.city) }}
							{{ form_widget(form.cityPrivacy) }}
							<span class="text-alert">{{ form_errors(form.city) }}</span>
							<span class="text-alert">{{ form_errors(form.cityPrivacy) }}</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form.country, 'user.profile.profileEdit.country'|trans) }}</label>
						<div class="controls">
							{{ form_widget(form.country) }}
							{{ form_widget(form.countryPrivacy) }}
							<span class="text-alert">{{ form_errors(form.country) }}</span>
							<span class="text-alert">{{ form_errors(form.countryPrivacy) }}</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ 'user.profile.profileEdit.birthdayOnlyAge.label'|trans }}</label>
						<div class="controls">
							{{ form_widget(form.birthdayDisplayOnlyAge) }}
							<span class="text-alert">{{ 'user.profile.profileEdit.birthdayOnlyAge.desc'|trans }}</span>
						</div>
					</div>
				</div>
				<div class="span1"></div>
			</div>

			<hr />

			<div class="row-fluid">
				<div class="span1"></div>
				<div class="span5">
					<div class="control-group">
						<label class="control-label">{{ 'user.profile.profileEdit.website'|trans }}</label>
						<div class="controls">
							{{ form_widget(form.website) }}
							<span class="text-alert">{{ form_errors(form.website) }}</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ 'user.profile.profileEdit.facebook'|trans }}</label>
						<div class="controls">
							{{ form_widget(form.facebook) }}
							<span class="text-alert">{{ form_errors(form.facebook) }}</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ 'user.profile.profileEdit.twitter'|trans }}</label>
						<div class="controls">
							{{ form_widget(form.twitter) }}
							<span class="text-alert">{{ form_errors(form.twitter) }}</span>
						</div>
					</div>
				</div>
				<div class="span5">
					<div class="control-group">
						<label class="control-label">{{ 'user.profile.profileEdit.linkedin'|trans }}</label>
						<div class="controls">
							{{ form_widget(form.linkedin) }}
							<span class="text-alert">{{ form_errors(form.linkedin) }}</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ 'user.profile.profileEdit.viadeo'|trans }}</label>
						<div class="controls">
							{{ form_widget(form.viadeo) }}
							<span class="text-alert">{{ form_errors(form.viadeo) }}</span>
						</div>
					</div>
				</div>
				<div class="span1"></div>
			</div>

			<div class="align-center">
				{{ form_rest(form) }}
				<button type="submit" class="btn btn-primary">
					{{ 'user.profile.profileEdit.edit'|trans }}
				</button>
			</div>
		</form>
	</div>
{% endblock %}
