{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'user.profile.profileEdit.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/user.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/bundles/user.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    {# Avatar form #}
    <div style="display: none;">
        {{ form_start(avatarForm) }}
        {{ form_widget(avatarForm) }}
        {{ form_end(avatarForm) }}
        <iframe id="avatar-upload-frame" name="avatar-upload-frame" src="#"></iframe>
    </div>

    <ul class="nav nav-tabs page-tabs">
        <li>
            <a href="{{ path('user_profile') }}">
                <i class="icon-chevron-left"></i>
                {{ 'user.profile.profileEdit.back'|trans }}
            </a>
        </li>
    </ul>

    <div class="padding20-all">
        <div class="row-fluid">
            <div class="span2 offset4">
                <a href="#" id="avatar-upload-link" title="{{ 'user.profile.profileEdit.avatar'|trans }}">
                    <div class="profileEdit-avatar-actions">
                        <i class="icon-pencil"></i>
                    </div>
                    <img src="{{ path('user_view_image_profil', {'avatar': app.user.avatar}) }}" class="profileEdit-avatar"
                         alt="{{ app.user.fullName }}" id="avatar-image" />
                </a>
            </div>
            <div class="span6 profileEdit-fixedValue">
                <p>
                    <strong>{{ app.user.fullName }}</strong>
                    <br />
                    <small class="muted">
                        <em>
                            {{ app.user.login }}
                            {% if app.user.studentId %}
                                - {{ app.user.studentId }}
                            {% endif %}
                        </em>
                    </small>
                </p>

                {% if app.user.niveau or app.user.filiere or app.user.formation %}
                <p>
                    {{ app.user.branch~app.user.niveau }} {{ app.user.filiere }} ({{ app.user.formation }})
                </p>
                {% endif %}

                {% if app.user.mail %}
                <p>
                    <a href="mailto:{{ app.user.mail }}">{{ app.user.mail }}</a>
                </p>
                {% endif %}
            </div>
        </div>

        <hr />

        <p class="pull-right muted" style="text-align: right;">
            <small>
                {{ 'user.privacy.public'|trans }} : {{ 'user.privacy.publicMore'|trans }}<br />
                {{ 'user.privacy.private'|trans }} : {{ 'user.privacy.privateMore'|trans }}
            </small>
        </p>

        <div class="clear"></div>

        {{ form_start(form) }}

            <div class="row-fluid">
                <div class="span6 privacy-layout">
                    <div class="field">{{ form_row(form.personnalMail) }}</div>
                    <div class="privacy">{{ form_row(form.personnalMailPrivacy) }}</div>
                </div>
                <div class="span6 privacy-layout">
                    <div class="field">{{ form_row(form.phoneNumber) }}</div>
                    <div class="privacy">{{ form_row(form.phoneNumberPrivacy) }}</div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6">
                    {{ form_row(form.daymail) }}
                </div>
            </div>
        <div class="row-fluid">
            <div class="span6">
                {{ form_row(form.schedulePrivacy) }}
            </div>
        </div>
            <hr/>

            <div class="row-fluid">
                <div class="span6 privacy-layout">
                    <div class="field">{{ form_row(form.address) }}</div>
                    <div class="privacy">{{ form_row(form.addressPrivacy) }}</div>
                </div>
                <div class="span6 privacy-layout">
                    <div class="field">{{ form_row(form.postalCode) }}</div>
                    <div class="privacy">{{ form_row(form.postalCodePrivacy) }}</div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6 privacy-layout">
                    <div class="field">{{ form_row(form.city) }}</div>
                    <div class="privacy">{{ form_row(form.cityPrivacy) }}</div>
                </div>
                <div class="span6 privacy-layout">
                    <div class="field">{{ form_row(form.country) }}</div>
                    <div class="privacy">{{ form_row(form.countryPrivacy) }}</div>
                </div>
            </div>
            <hr/>

            <div class="row-fluid">
                <div class="span6 privacy-layout">
                    <div class="field">{{ form_row(form.nationality) }}</div>
                    <div class="privacy">{{ form_row(form.nationalityPrivacy) }}</div>
                </div>
                <div class="span6 privacy-layout">
                    <div class="field">{{ form_row(form.birthday) }}</div>
                    <div class="privacy">{{ form_row(form.birthdayPrivacy) }}</div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6 privacy-layout">
                    <div class="field">{{ form_row(form.sex) }}</div>
                    <div class="privacy">{{ form_row(form.sexPrivacy) }}</div>
                </div>
                <div class="span6">
                    {{ form_row(form.birthdayDisplayOnlyAge) }}
                </div>
            </div>
            <hr/>

            <div class="row-fluid">
                <div class="span6">
                    {{ form_row(form.website) }}
                </div>
                <div class="span6">
                    {{ form_row(form.facebook) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    {{ form_row(form.twitter) }}
                </div>
                <div class="span6">
                    {{ form_row(form.linkedin) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    {{ form_row(form.viadeo) }}
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
