{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'user.profile.trombiEdit.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/user.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs page-tabs">
        <li>
            <a href="{{ path('user_profile') }}">
                <i class="icon-chevron-left"></i>
                {{ 'user.profile.trombiEdit.back'|trans }}
            </a>
        </li>
    </ul>

    <div class="padding20-sides">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
