
<div class="home-block home-block-notifs">
    {% if notifications|length == 0 %}
        <div class="no-notif">
            <h4>{{ 'core.main.index.no_notif_message'|trans }}</h4>
            <p>
                {{ 'core.main.index.no_notif_description'|trans }}
            </p>
            <p class="pull-right">
                <a href="{{ path('page_view', {'slug': 'les-abonnements'}) }}">
                    {{ 'core.main.index.learn_more'|trans }}
                </a>
            </p>
            <div class="clear"></div>
        </div>
    {% else %}
        <div class="flux">
            <div class="flux-notifs" id="flux-notifs">
                {% for notification in notifications %}
                    {{ render_notif(notification) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>