<div class="home-block home-block-reviews">
    <h4>Dernières annales de vos UVs</h4>

    <ul>
        {% for review in reviews %}
            <li>
                <a href="{{ path("user_view_fichier_annale", {'filename': review.filename}) }}">
                    {{ review.typeTransKey|trans }}
                    <span class="muted">
                            de
                        {{ review.uv.code }}
                        ({{ review.semester }})
                        </span>
                </a>
            </li>
        {% endfor %}
    </ul>

    <p class="more-link">
        <a href="{{ path('uvs_index') }}">
            Voir mes UEs
        </a>
    </p>
</div>
