{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'argentique.admin.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('src/img/titles/argentique.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendor/Justified-Gallery/dist/css/justifiedGallery.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/jstree/dist/themes/default/style.css') }}" />
{% endblock %}

{% block javascripts %}
    <script>
        var collectionsTree = {{ tree|json_encode|raw }};
    </script>
    <script src="{{ asset('vendor/Justified-Gallery/dist/js/jquery.justifiedGallery.min.js') }}"></script>
    <script src="{{ asset('vendor/blueimp-file-upload/js/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('vendor/jstree/dist/jstree.js') }}"></script>
    <script src="{{ asset('src/js/bundles/argentique_admin.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="padding20-all argentique-admin">
        <div id="argentique-manage-collections" class="modal hide fade"
             tabindex="-1" role="dialog" aria-labelledby="argentique-manage-collections-title" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="argentique-manage-collections-title">Modifier les collections</h3>
            </div>
            <div class="modal-body">
                <p>
                    <small class="muted"><em>Limité à deux niveaux de profondeur</em></small><br />
                    <small class="muted"><em>L'ordre n'est pas enregistré</em></small>
                </p>

                <div class="argentique-manage-collections-root">
                    Gallerie Argentique
                </div>
                <div id="write-tree"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-link" data-dismiss="modal" aria-hidden="true">Annuler</button>
                <button class="btn btn-primary">Appliquer les changements</button>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4">
                <h4>Envoyer des photos</h4>

                <div id="dropzone">
                    <input id="fileupload" type="file" name="files[]" data-url="{{ path('argentique_admin_upload') }}" multiple />
                    <button type="button" class="btn btn-primary">Sélectionner des fichiers</button>
                    <br />
                    ou cliquez-déposez ici
                </div>

                <hr />

                <h4>
                    Collections

                    <button class="btn tip argentique-admin-add-collection" title="Modifier les collections"
                            role="button" data-toggle="modal" data-target="#argentique-manage-collections">
                        <i class="fa fa-edit"></i>
                    </button>
                </h4>

                <div id="read-tree"></div>
            </div>
            <div class="span8">
                <div id="explainations">
                    <p>
                        <small class="muted">Choisissez une collection à afficher</small>
                    </p>
                </div>

                <div id="photos-loader" style="display: none">
                    <img src="{{ asset('src/img/loader-smooth.gif') }}" />
                </div>

                <div id="photos" style="display: none"></div>
            </div>
        </div>
    </div>
{% endblock %}
