{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'argentique.admin.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/argentique.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <div class="padding20-all argentique-admin">
        <h4>Administrer la gallerie Argentique - Mode d'emploi</h4>
        <br />

        <h5>Fonctionnement de la gallerie</h5>

        <p>
            Les dossiers que vous créés dans cet espace où vous venez de vous connecter seront transformés en
            "Collections" sur le site étudiant, et les images en JPG ou JPEG seront considérés comme des photos.
        </p>
        <p>
            De cette manière, vous pouvez créer / modifier / supprimer les dossiers / les images de cet espace pour
            créer / modifier / supprimer les collections / les photos de la gallerie du site étudiant.
        </p>
        <br />

        <h5>Recommandations</h5>

        <p>
            Il est essentiel de garder un usage agréable du site aux étudiants, il faut donc suivre
            ces quelques recommandations :
        </p>

        <ul>
            <li>Créez une collection à la racine pour chaque semestre (A2012, P2014, ...)</li>
            <li>Créez une sous-collection pour chaque événement, sans le bon semestre évidemment</li>
            <li>N'envoyez pas de photos de plus de 2500 pixels de hauteur ou de largeur, cela ralentirait la gallerie</li>
        </ul>

        <iframe id="file_manager" src="{{ path('file_manager', {module:1, conf:'argentique'}) }}" width="100%" height="800" frameborder="0"></iframe>

    </div>
{% endblock %}
