{% extends '::page-2cols.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bundles/argentique.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block title %}{{ 'argentique.admin.manage.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('img/titles/argentique.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% macro display_tree(galleries) %}
    {% for gallery in galleries %}
        <li>
            {{ gallery.name }}

            {% if gallery.children %}
                <ul>
                    {{ _self.display_tree(gallery.children) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% block content %}
    {{ _self.display_tree(galleries) }}
{% endblock %}
