{% extends '::page-2cols.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('src/js/bundles/argentique_admin.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}{{ 'argentique.admin.synchronize.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('src/img/titles/argentique.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <div class="argentique-admin-sync">
        <div class="starting">
            <p>
                <img src="{{ asset('src/img/loader-big.gif') }}" />
            </p>
            <p>
                {{ 'argentique.admin.synchronize.starting'|trans }}
            </p>
        </div>

        <div class="importing" style="display: none;">
            <p>
                {{ 'argentique.admin.synchronize.importing'|trans }}
            </p>

            <p class="stats">
                <span class="current">0</span> /
                <span class="total">0</span>
                {{ 'argentique.admin.synchronize.photos'|trans }}
            </p>

            <div class="progress">
                <div class="bar" style="width: 0;"></div>
            </div>

            <div class="logs">
                <ul>
                    <li class="log-success">
                        Synchrnosation démarrée
                    </li>
                </ul>
            </div>
        </div>

        <div class="ending" style="display: none;">
            <p>
                <img src="{{ asset('src/img/loader-big.gif') }}" />
            </p>
            <p>
                {{ 'argentique.admin.synchronize.ending'|trans }}
            </p>
        </div>

        <div class="no_photo" style="display: none;">
            <p>
                {{ 'argentique.admin.synchronize.no_photo'|trans }}
            </p>
            <p>
                <a href="{{ path('argentique_index') }}" class="btn btn-default">
                    {{ 'argentique.admin.synchronize.no_photo_back'|trans }}
                </a>
            </p>
        </div>
    </div>
{% endblock %}
