{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'user.schedule.course.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/user.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <div class="padding20-all">
        <p>
            {{ 'user.schedule.course.desc'|trans({
                '%uv%': course.uv,
                '%type%': course.type,
                '%day%': ('user.schedule.days_lower.'~course.day)|trans,
                '%start%': course.start
            }) }}

            <span class="pull-right">
                <a href="{{ path('uvs_goto', {'code': course.uv}) }}">{{ 'user.schedule.course.uv'|trans }}</a>
            </span>

            <br/>
            <a href="{{ path('uvs_goto_courses', {'code': course.uv}) }}">{{ 'user.schedule.course.other'|trans }}</a>
            <br/>
            <a href="{{ path('cumul_index') }}?q={{ cumulLogins }}">{{ 'user.schedule.course.cumul'|trans }}</a>
        </p>

        <p class="align-center">
            {{ 'user.schedule.course.students'|transchoice(students|count, {'%count%': students|count}) }}
        </p>

        <ul id="search-results" class="asso-members">
            <ul class="asso-members">
                {% for student in students %}
                    {% set formationArray = [] %}
                    {% for key, value in student.user.formationList %}
                        {%  set formationArray = formationArray|merge([student.user.branchList[key]~student.user.niveauList[key]~' '~student.user.filiereList[key]~' '~'('~student.user.formationList[key]~')']) %}
                    {% endfor %}
                    <li class="asso-members-item asso-members-item-member">
                        <a href="{{ path('user_view', {'login': student.user.login}) }}">
                            <img src="{{ path('user_view_image_profil', {'avatar': student.user.avatar}) }}" alt="{{ student.user.fullName }}" title="{{ student.user.fullName }}" />
                            <h5>{{ student.user.fullName }}</h5>
                            <p>
                                {{ formationArray | join('\n') | nl2br }}
                            </p>

                            <div class="clear"></div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </ul>
    </div>
{% endblock %}
