{% extends '::page-1col.html.twig' %}

{% block title %}{{ 'user.schedule.scheduleEdit.title'|trans }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('src/img/titles/user.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('vendor/bootstrap/docs/assets/js/bootstrap.min.js') }}"></script>

	<script type="text/javascript">
		$(function() {
			$('.schedule-col').sortable({ items: ".item" });
		});
	</script>
{% endblock %}

{% block content %}
	<style>
		.ui-selecting { background: #FECA40; }
		.ui-selected { background: #F39814; color: white; }
	</style>

	<ul class="nav nav-tabs page-tabs">
		<li>
			<a href="{{ path('user_schedule') }}">
				<i class="icon-chevron-left"></i> {{ 'user.schedule.scheduleEdit.back'|trans }}
			</a>
		</li>
	</ul>

	<div class="padding20-sides">
		<div class="clear"></div>

		<div class="row-fluid schedule schedule-days">
			<div class="span2 day hidden-phone">
				{{ 'user.schedule.days.monday'|trans }}
			</div>
			<div class="span2 day hidden-phone">
				{{ 'user.schedule.days.tuesday'|trans }}
			</div>
			<div class="span2 day hidden-phone">
				{{ 'user.schedule.days.wednesday'|trans }}
			</div>
			<div class="span2 day hidden-phone">
				{{ 'user.schedule.days.thursday'|trans }}
			</div>
			<div class="span2 day hidden-phone">
				{{ 'user.schedule.days.friday'|trans }}
			</div>
			<div class="span2 day hidden-phone">
				{{ 'user.schedule.days.sathurday'|trans }}
			</div>
		</div>

		<div class="clear"></div>

		<div class="schedule-hours">
			<div class="hour">08:00</div>
			<div class="hour">09:00</div>
			<div class="hour">10:00</div>
			<div class="hour">11:00</div>
			<div class="hour">12:00</div>
			<div class="hour">13:00</div>
			<div class="hour">14:00</div>
			<div class="hour">15:00</div>
			<div class="hour">16:00</div>
			<div class="hour">17:00</div>
			<div class="hour">18:00</div>
			<div class="hour">19:00</div>
		</div>
		<div id="schedule" class="row-fluid schedule">
			{% for day, dayCourses in courses %}
				<div class="span2 schedule-col hidden-phone">
					{% for hour, item in dayCourses %}
						{% if item.type == 'void' %}
							<div class="item item-void item1{% if loop.index == 1 %} item-first{% endif %}"></div>
						{% elseif item.type == 'course' %}
							<div class="item item-course item{{ item.size }} {% if loop.index == 1 %} item-first{% endif %}">
								<div class="schedule-edit-actions">
									<a href="" class="tip" title="Modifier cet élément"><!--
										--><i class="icon-edit icon-white"></i><!--
									--></a>
									<a href="" class="tip" title="Supprimer cet élément"><!--
										--><i class="icon-remove icon-white"></i><!--
									--></a>
								</div>

								<span class="schedule-course-uv">{{ item.course.uv }}</span><br />
								<span class="schedule-course-room">{{ item.course.room }}</span>
								<span class="schedule-course-type">- {{ item.course.type }}</span>
							</div>
						{% elseif item.type == 'course_half' %}
							{% if item.courses.hasCourseBothWeeks %}
								<div class="item item-half item-half-left item-course item-half-course item{{ item.size }}
									{% if loop.index == 1 %} item-first{% endif %}">
									<div class="schedule-edit-actions">
										<a href="" class="tip" title="Modifier cet élément"><!--
										--><i class="icon-edit icon-white"></i><!--
									--></a>
										<a href="" class="tip" title="Supprimer cet élément"><!--
										--><i class="icon-remove icon-white"></i><!--
									--></a>
									</div>

									<span class="schedule-course-uv">{{ item.courses.courseWeekA.uv }}</span> (A)<br />
									<span class="schedule-course-room">{{ item.courses.courseWeekA.room }}</span>
									<span class="schedule-course-type">- {{ item.courses.courseWeekA.type }}</span>
								</div>
								<div class="item item-half item-half-right item-course item-half-course item{{ item.size }}
									{% if loop.index == 1 %} item-first{% endif %}">
									<div class="schedule-edit-actions">
										<a href="" class="tip" title="Modifier cet élément"><!--
										--><i class="icon-edit icon-white"></i><!--
									--></a>
										<a href="" class="tip" title="Supprimer cet élément"><!--
										--><i class="icon-remove icon-white"></i><!--
									--></a>
									</div>

									<span class="schedule-course-uv">{{ item.courses.courseWeekB.uv }}</span> (B)<br />
									<span class="schedule-course-room">{{ item.courses.courseWeekB.room }}</span>
									<span class="schedule-course-type">- {{ item.courses.courseWeekB.type }}</span>
								</div>
								<div class="clear-right"></div>
							{% elseif item.courses.hasCourseWeekA %}
								<div class="item item-half item-half-left item-course item-half-course item{{ item.size }}
									{% if loop.index == 1 %} item-first{% endif %}">
									<div class="schedule-edit-actions">
										<a href="" class="tip" title="Modifier cet élément"><!--
										--><i class="icon-edit icon-white"></i><!--
									--></a>
										<a href="" class="tip" title="Supprimer cet élément"><!--
										--><i class="icon-remove icon-white"></i><!--
									--></a>
									</div>

									<span class="schedule-course-uv">{{ item.courses.courseWeekA.uv }}</span> (A)<br />
									<span class="schedule-course-room">{{ item.courses.courseWeekA.room }}</span>
									<span class="schedule-course-type">- {{ item.courses.courseWeekA.type }}</span>
								</div>
								<div class="item item-half item-half-right item-void item{{ item.size }}
									{% if loop.index == 1 %} item-first{% endif %}"></div>
								<div class="clear-right"></div>
							{% elseif item.courses.hasCourseWeekB %}
								<div class="item item-half item-half-left item-void item{{ item.size }}
									{% if loop.index == 1 %} item-first{% endif %}"></div>
								<div class="item item-half item-half-right item-course item-half-course item{{ item.size }}
									{% if loop.index == 1 %} item-first{% endif %}">
									<div class="schedule-edit-actions">
										<a href="" class="tip" title="Modifier cet élément"><!--
										--><i class="icon-edit icon-white"></i><!--
									--></a>
										<a href="" class="tip" title="Supprimer cet élément"><!--
										--><i class="icon-remove icon-white"></i><!--
									--></a>
									</div>

									<span class="schedule-course-uv">{{ item.courses.courseWeekB.uv }}</span> (B)<br />
									<span class="schedule-course-room">{{ item.courses.courseWeekB.room }}</span>
									<span class="schedule-course-type">- {{ item.courses.courseWeekB.type }}</span>
								</div>
								<div class="clear-right"></div>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
