{% extends '::page-1col.html.twig' %}

{% block title %}{{ 'user.schedule.schedule.title'|trans }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('src/img/titles/user.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	{#
	<ul class="nav nav-tabs page-tabs hidden-phone">
		<li class="pull-right">
			<a href="{{ path('user_schedule_edit') }}">
				<i class="icon-edit"></i> {{ 'user.schedule.schedule.edit'|trans }}
			</a>
		</li>
		<li class="pull-right">
			<a href="{{ path('user_schedule_print') }}" target="_blank">
				<i class="icon-print"></i> {{ 'user.schedule.schedule.print'|trans }}
			</a>
		</li>
	</ul>
	#}

	<ul class="nav nav-tabs page-tabs">
		<li class="pull-right">
			<a href="{{ path('user_schedule_export') }}">
				{{ 'user.schedule.schedule.export'|trans }}
			</a>
		</li>
	</ul>

	<div class="padding20-all">
		<div class="row-fluid schedule schedule-days">
			<div class="span2 day hidden-phone">
				{{ 'user.schedule.days.monday'|trans }}
			</div>
			<div class="span2 day hidden-phone">
				{{ 'user.schedule.days.tuesday'|trans }}
			</div>
			<div class="span2 day hidden-phone">
				{{ 'user.schedule.days.wednesday'|trans }}
			</div>
			<div class="span2 day hidden-phone">
				{{ 'user.schedule.days.thursday'|trans }}
			</div>
			<div class="span2 day hidden-phone">
				{{ 'user.schedule.days.friday'|trans }}
			</div>
			<div class="span2 day hidden-phone">
				{{ 'user.schedule.days.sathurday'|trans }}
			</div>
			<div class="span12 day schedule-days-choose visible-phone">
				<div class="dropdown">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-calendar"></i>
						{{ ('user.schedule.days.'~currentDay)|trans }}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li>
							<a href="{{ path('user_schedule', {'day': 'monday'}) }}">
								{{ 'user.schedule.days.monday'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path('user_schedule', {'day': 'tuesday'}) }}">
								{{ 'user.schedule.days.tuesday'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path('user_schedule', {'day': 'wednesday'}) }}">
								{{ 'user.schedule.days.wednesday'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path('user_schedule', {'day': 'thursday'}) }}">
								{{ 'user.schedule.days.thursday'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path('user_schedule', {'day': 'friday'}) }}">
								{{ 'user.schedule.days.friday'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path('user_schedule', {'day': 'sathurday'}) }}">
								{{ 'user.schedule.days.sathurday'|trans }}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="clear"></div>

		<div class="schedule-hours">
			<div class="hour">08:00</div>
			<div class="hour">09:00</div>
			<div class="hour">10:00</div>
			<div class="hour">11:00</div>
			<div class="hour">12:00</div>
			<div class="hour">13:00</div>
			<div class="hour">14:00</div>
			<div class="hour">15:00</div>
			<div class="hour">16:00</div>
			<div class="hour">17:00</div>
			<div class="hour">18:00</div>
			<div class="hour">19:00</div>
			<div class="hour">20:00</div>
		</div>
		<div class="row-fluid schedule">
			{% for day, dayCourses in courses %}
				<div class="span2 schedule-col schedule-col-{{ loop.index % 2 == 0 ? 'odd' : 'even' }}
							{% if day != currentDay %}
								hidden-phone
							{% else %}
								phoneDay
							{% endif %}
				">
					{% for hour, item in dayCourses %}
						{% if item.type == 'void' %}
							<div class="item item-void item1 {% if loop.index == 1 %} item-first{% endif %}"></div>
						{% elseif item.type == 'course' %}
							<div class="item item-course item{{ item.size }}
									{% if loop.index == 1 %} item-first{% endif %}">
								<a href="{{ path('schedule_course', {'id': item.course.id}) }}">
									<span class="schedule-course-uv">{{ item.course.uv }}</span>
									<br />
									<span class="schedule-course-room">{{ item.course.room }}</span>
									<span class="schedule-course-type">- {{ item.course.type }}</span>
								</a>
							</div>
						{% elseif item.type == 'course_half' %}
							{% if item.courses.hasCourseBothWeeks %}
								<div class="item item-half item-half-left item-course item-half-course item{{ item.size }}
									{% if loop.index == 1 %} item-first{% endif %}">
									<a href="{{ path('schedule_course', {'id': item.courses.courseWeekA.id}) }}">
										<span class="schedule-course-uv">{{ item.courses.courseWeekA.uv }} (A)</span>
										<br />
										<span class="schedule-course-room">{{ item.courses.courseWeekA.room }}</span>
										<span class="schedule-course-type">- {{ item.courses.courseWeekA.type }}</span>
									</a>
								</div>
								<div class="item item-half item-half-right item-course item-half-course item{{ item.size }}
									{% if loop.index == 1 %} item-first{% endif %}">
									<a href="{{ path('schedule_course', {'id': item.courses.courseWeekB.id}) }}">
										<span class="schedule-course-uv">{{ item.courses.courseWeekB.uv }} (B)</span>
										<br />
										<span class="schedule-course-room">{{ item.courses.courseWeekB.room }}</span>
										<span class="schedule-course-type">- {{ item.courses.courseWeekB.type }}</span>
									</a>
								</div>
								<div class="clear-right"></div>
							{% elseif item.courses.hasCourseWeekA %}
								<div class="item item-half item-half-left item-course item-half-course item{{ item.size }}
									{% if loop.index == 1 %} item-first{% endif %}">
									<a href="{{ path('schedule_course', {'id': item.courses.courseWeekA.id}) }}">
										<span class="schedule-course-uv">{{ item.courses.courseWeekA.uv }} (A)</span>
										<br />
										<span class="schedule-course-room">{{ item.courses.courseWeekA.room }}</span>
										<span class="schedule-course-type">- {{ item.courses.courseWeekA.type }}</span>
									</a>
								</div>
								<div class="item item-half item-half-right item-void item{{ item.size }}
									{% if loop.index == 1 %} item-first{% endif %}"></div>
								<div class="clear-right"></div>
							{% elseif item.courses.hasCourseWeekB %}
								<div class="item item-half item-half-left item-void item{{ item.size }}
									{% if loop.index == 1 %} item-first{% endif %}"></div>
								<div class="item item-half item-half-right item-course item-half-course item{{ item.size }}
									{% if loop.index == 1 %} item-first{% endif %}">
									<a href="{{ path('schedule_course', {'id': item.courses.courseWeekB.id}) }}">
										<span class="schedule-course-uv">{{ item.courses.courseWeekB.uv }} (B)</span>
										<br />
										<span class="schedule-course-room">{{ item.courses.courseWeekB.room }}</span>
										<span class="schedule-course-type">- {{ item.courses.courseWeekB.type }}</span>
									</a>
								</div>
								<div class="clear-right"></div>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
