{% extends 'EtuCoreBundle:Admin:layout.html.twig' %}

{% block title %}{{ 'user.admin.userAvatar.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('src/img/titles/gear.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs page-tabs">
        <li>
            <a href="{{ path('admin_user_edit', {'login': user.login}) }}">
                <i class="icon-chevron-left"></i>
                {{ 'user.admin.userAvatar.back'|trans }}
            </a>
        </li>
    </ul>

    <div class="padding20-sides profile-avatar">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            <img src="{{ asset('uploads/photos/'~user.avatar) }}" alt="{{ user.fullName }}" title="{{ user.fullName }}" />

            <p>
                <br />
                <label>{{ form_label(form.file, 'user.admin.userAvatar.file'|trans) }}</label>
                {{ form_widget(form.file) }}
                <br />
                <span class="help-block">{{ form_errors(form.file) }}</span>
            </p>

            <div class="controls">
                {{ form_rest(form) }}

                <button type="submit" class="btn">{{ 'user.admin.userAvatar.submit'|trans }}</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
