{% extends 'EtuCoreBundle:Admin:layout.html.twig' %}

{% block title %}{{ 'user.admin.userPermissions.title'|trans }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('src/img/titles/gear.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('src/js/bundles/user.js') }}" type="text/javascript"></script>

	<script type="text/javascript">
		$('#isAdmin').click(function() {
			if ($(this).is(':checked')) {
				$('.permission').attr('disabled', 'disabled');
			} else {
				$('.permission').removeAttr('disabled');
			}
		});
	</script>
{% endblock %}

{% block content %}
	<ul class="nav nav-tabs page-tabs">
		<li>
			<a href="{{ path('user_view', {'login': user.login}) }}?from=admin">
				<i class="icon-chevron-left"></i>
				{{ 'user.admin.userPermissions.back'|trans }}
			</a>
		</li>
	</ul>

	<div class="padding20-sides">
		<form method="post" class="form-horizontal">
			<div class="row-fluid">
				<div class="span4">
					<div class="profileEdit-avatar">
						<img src="{{ asset('uploads/photos/'~user.avatar) }}" alt="{{ user.fullName }}" title="{{ user.fullName }}" />
					</div>
				</div>
				<div class="span8">
					<p>
						<strong>{{ user.fullName }} ({{ user.login }})</strong>
					</p>
					<br />
					<div class="control-group">
						<label class="control-label" for="isAdmin">Administrateur global</label>
						<div class="controls">
							<input type="checkbox" id="isAdmin" name="isAdmin"{% if user.isAdmin %} checked="checked"{% endif %} />
						</div>
					</div>

					<p class="pull-right">
						<button type="submit" class="btn btn-primary">{{ 'user.admin.userPermissions.submit'|trans }}</button>
					</p>
				</div>
			</div>

			<hr />

			<div class="row-fluid">
				<div class="span6">
					{% for permission in permissions1 %}
						<div class="control-group">
							<label class="control-label" style="width: 60%; padding-right: 2%;" for="permissions[{{ permission.definition.name }}]">
								{{ permission.definition.description }}
							</label>
							<div class="controls">
								<input type="checkbox" class="permission" name="permissions[{{ permission.definition.name }}]"
										{% if permission.checked %} checked="checked"{% endif %}
										{% if user.isAdmin %} disabled="disabled"{% endif %}
										/>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="span6">
					{% for permission in permissions2 %}
						<div class="control-group">
							<label class="control-label" style="width: 60%; padding-right: 2%;" for="permissions[{{ permission.definition.name }}]">
								{{ permission.definition.description }}
							</label>
							<div class="controls">
								<input type="checkbox" class="permission" name="permissions[{{ permission.definition.name }}]"
										{% if permission.checked %} checked="checked"{% endif %}
										{% if user.isAdmin %} disabled="disabled"{% endif %}
										/>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<hr />

			<p class="pull-right">
				<input type="hidden" name="sent" value="true" />

				<button type="submit" class="btn btn-primary">{{ 'user.admin.userPermissions.submit'|trans }}</button>
			</p>
		</form>
	</div>
{% endblock %}