{% extends '::page-2cols.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/uvs.png') }}" alt="{{ 'technograph.main.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs page-tabs">
        <li>
            <a href="{{ path('technograph_index') }}">
                <i class="icon-chevron-left"></i>
                {{ 'technograph.main.view.back'|trans }}
            </a>
        </li>
        {% if is_granted('ROLE_TECHNOGRAPH_ADMIN') %}
          <li class="pull-right">
              <a href="{{ path('technograph_article_edit', {'id': article.id}) }}">
                  <i class="icon-pencil"></i>
                  {{ 'technograph.main.view.edit'|trans }}
              </a>
          </li>
        {% endif %}
    </ul>

    {% if article.publishedAt == null %}
      <div class="alert alert-warning" role="alert">
        {{ 'technograph.main.view.notPublished'|trans }}
      </div>
    {% endif %}
    <div class="padding20-all">
      {{ article.body|raw }}
      <br>
      <br>
      <br>
      {% if article.publishedAt == null %}
        <p class="text-right"><em>Créé le {{ article.createdAt|date('d/m/Y H:i') }} par {{ article.author.fullname }}</em></p>
      {% else %}
        <p class="text-right"><em>Publié le {{ article.publishedAt|date('d/m/Y H:i') }} par {{ article.author.fullname }}</em></p>
      {% endif %}
    </div>
{% endblock %}
