{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'buckutt.main.index.title'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bundles/buckutt.css') }}" type="text/css" />
{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/buckutt.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<ul class="nav nav-tabs page-tabs">
		<li>
			<a href="{{ path('buckutt_history') }}">
				{{ 'buckutt.main.menu.history'|trans }}
			</a>
		</li>
		<li>
			<a href="{{ path('buckutt_reload') }}">
				{{ 'buckutt.main.menu.reload'|trans }}
			</a>
		</li>
        <li class="active page-tabs-resolved-active">
            <a href="{{ path('buckutt_admin') }}">
                {{ 'buckutt.main.menu.admin'|trans }}
            </a>
        </li>
		<li class="pull-right">
			<a href="{{ path('buckutt_connect', {'action': 'disconnect'}) }}">
				{{ 'buckutt.main.menu.logout'|trans }}
			</a>
		</li>
	</ul>

	<div class="padding20-sides">
		<div class="row-fluid">
			<div class="span6">
				<fieldset>
					<legend>{{ 'buckutt.main.admin.changePin.title'|trans }}</legend>

					<p class="alert alert-info buckutt-explainations">
						{{ 'buckutt.main.admin.changePin.constraint'|trans }}
					</p>

					<form method="post" action="{{ path('buckutt_admin') }}">
						<div>
							{{ form_label(formPin.oldpin, 'buckutt.main.admin.changePin.label.old'|trans) }}
							{{ form_widget(formPin.oldpin) }}
						</div>
						<div>
							{{ form_label(formPin.newpin, 'buckutt.main.admin.changePin.label.new'|trans) }}
							{{ form_widget(formPin.newpin) }}
						</div>
						<div>
							{{ form_label(formPin.newpin2, 'buckutt.main.admin.changePin.label.confirm'|trans) }}
							{{ form_widget(formPin.newpin2) }}
						</div>
						{{ form_rest(formPin) }}
						<button type="submit" class="btn">
							{{ 'buckutt.main.admin.changePin.change'|trans }}
						</button>
					</form>
					<p class="buckutt-explainations">
						{{ 'buckutt.main.admin.changePin.security'|trans }}
					</p>
				</fieldset>
			</div>

			<div class="span6">
				<fieldset>
					<legend>{{ 'buckutt.main.admin.block.title'|trans }}</legend>
					<p class="buckutt-explainations">
						{{ 'buckutt.main.admin.block.explaination'|trans }}
					</p>
					<p class="alert alert-error buckutt-explainations">
						{{ 'buckutt.main.admin.block.warning'|trans }}
					</p>
					<form method="post" action="{{ path('buckutt_admin') }}">
						<div>
							{{ form_label(formBlock.pin, 'buckutt.main.admin.block.label.pin'|trans) }}
							{{ form_widget(formBlock.pin) }}
						</div>
						{{ form_rest(formBlock) }}
						<button type="submit" class="btn">
							{{ 'buckutt.main.admin.block.block'|trans }}
						</button>
					</form>
				</fieldset>
			</div>
		</div>
	</div>
{% endblock %}
