{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'buckutt.main.index.title'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bundles/buckutt.css') }}" type="text/css" />
{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/buckutt.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<ul class="nav nav-tabs page-tabs">
		<li>
			<a href="{{ path('buckutt_history') }}">
				{{ 'buckutt.main.menu.history'|trans }}
			</a>
		</li>
		<li>
			<a href="{{ path('buckutt_reload') }}">
				{{ 'buckutt.main.menu.reload'|trans }}
			</a>
		</li>
        <li class="active page-tabs-resolved-active">
            <a href="{{ path('buckutt_admin') }}">
                {{ 'buckutt.main.menu.admin'|trans }}
            </a>
        </li>
		<li class="pull-right">
			<a href="{{ path('buckutt_connect', {'action': 'disconnect'}) }}">
				{{ 'buckutt.main.menu.logout'|trans }}
			</a>
		</li>
	</ul>

	<div class="padding20-sides">

		<div class="buckutt-admin-menu">
            <fieldset>
                <legend>Changer mon code PIN</legend>
                <p>Le nouveau code PIN doit contenir 4 chiffres, ni plus ni moins.</p>
                <form method="post" action="{{ path('buckutt_admin') }}">
                    <div>
                        {{ form_label(formPin.oldpin, "Ancien code PIN") }}
                        {{ form_widget(formPin.oldpin) }}
                    </div>
                    <div>
                        {{ form_label(formPin.newpin, "Nouveau code PIN") }}
                        {{ form_widget(formPin.newpin) }}
                    </div>
                    <div>
                        {{ form_label(formPin.newpin2, "Resaisir le nouveau code PIN") }}
                        {{ form_widget(formPin.newpin2) }}
                    </div>
                    {{ form_rest(formPin) }}
                    <button type="submit" class="btn">Changer</button>
                </form>
                <p>
                    Pour des raisons de sécurité, ton nouveau code PIN ne peut pas être un quadruplé
                    (ex: 0000, 1111, etc), 1234 ou 4321.<br />
                    Evite de mettre ta date de naisssance ou quoi que ce soit de trop évident.
                </p>
            </fieldset>
            <br />
            <fieldset>
                <legend>Bloquer mon compte</legend>
                <p>
                    Je bloque mon comtpe en cas de perte ou de vol de ma carte.<br />
                    ATTENTION : Tu ne pourras pas débloquer ton compte tout seul !<br />
                    Par soucis de sécurité ton seul recours, sera de passer au BDE pour le débloquer.
                </p>
                <form method="post" action="{{ path('buckutt_admin') }}">
                    <div>
                        {{ form_label(formBlock.pin, "Par mesure de sécurité entre ton code PIN") }}
                        {{ form_widget(formBlock.pin) }}
                    </div>
                    {{ form_rest(formBlock) }}
                    <button type="submit" class="btn">Bloquer mon compte</button>
                </form>
            </fieldset>
		</div>
	</div>
{% endblock %}
