{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'buckutt.main.index.title'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bundles/buckutt.css') }}" type="text/css" />
{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/buckutt.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<ul class="nav nav-tabs page-tabs">
		<li class="active page-tabs-resolved-active">
			<a href="{{ path('buckutt_history') }}">
				{{ 'buckutt.main.menu.history'|trans }}
			</a>
		</li>
		<li>
			<a href="{{ path('buckutt_reload') }}">
				{{ 'buckutt.main.menu.reload'|trans }}
			</a>
		</li>
        <li>
            <a href="{{ path('buckutt_admin') }}">
                {{ 'buckutt.main.menu.admin'|trans }}
            </a>
        </li>
		<li class="pull-right">
			<a href="{{ path('buckutt_connect', {'action': 'disconnect'}) }}">
				{{ 'buckutt.main.menu.logout'|trans }}
			</a>
		</li>
	</ul>

	<div class="padding20-sides">
		<div class="buckutt-credit">
			<h3>Crédit : {{ credit }} €</h3>
		</div>

		<div class="buckutt-history">
			{% for item in history %}
			<div class="buckutt-history-item buckutt-history-{{ item.type }}">
				<strong class="buckutt-history-item-amount">
					{% if item.type == 'buy' %}
						<span class="text-error">- {{ item.amount }} €</span>
					{% else %}
						<span class="text-success">+ {{ item.amount }} €</span>
					{% endif %}

					<span class="buckutt-history-item-object">
						{% if item.type == 'buy' %}{{ item.object }}{% else %}Rechargement{% endif %}
					</span>
				</strong>
				<span class="buckutt-history-item-date">
					{{ item.date|date('d/m/Y H:i') }}

					<span class="buckutt-history-item-point">
						{{ item.point }}
					</span>
				</span>
			</div>
			{% else %}
			<p>
				Aucune action trouvée cette année.
			</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}
