{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'buckutt.main.index.title'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bundles/buckutt.css') }}" type="text/css" />
{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/buckutt.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<ul class="nav nav-tabs page-tabs">
		<li class="active page-tabs-resolved-active">
			<a href="{{ path('buckutt_history') }}">
				{{ 'buckutt.main.menu.history'|trans }}
			</a>
		</li>
		<li>
			<a href="{{ path('buckutt_reload') }}">
				{{ 'buckutt.main.menu.reload'|trans }}
			</a>
		</li>
		<li class="pull-right">
			<a href="{{ path('buckutt_connect', {'action': 'disconnect'}) }}">
				{{ 'buckutt.main.menu.logout'|trans }}
			</a>
		</li>
	</ul>

    <p>
        Bonjour {{ name }}<br />
        Tu as {{ credit }} € sur ton comtpe
    </p>
    <p>
        Historique des transactions du {{ history_date.start }} au {{ history_date.end }}
    </p>
    <ul id="buckutt-history" class="buckutt-history-results">
        {% if history|length == 0 %}
            <p>
                Aucun achat ou rechargement effectué entre ces dates
            </p>
        {% endif %}
        {% for hi in history %}
        <li class="buckutt-history-results-{{ hi.type }}">
            <p>
                {% if hi.type == 0 %}
                    {{ hi.date }} - {{ hi.amount }} €
                    <br />
                    {{ hi.object }}
                    <br />
                    {{ hi.point }} - {{ hi.fundation }}
                {% else %}
                    {{ hi.date }} - {{ hi.amount }} €
                    <br />
                    {{ hi.point }}
                {% endif %}
            </p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
