{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'buckutt.main.index.title'|trans }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/buckutt.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<ul class="nav nav-tabs page-tabs">
		<li>
			<a href="{{ path('buckutt_history') }}">
				{{ 'buckutt.main.menu.history'|trans }}
			</a>
		</li>
		<li class="active page-tabs-resolved-active">
			<a href="{{ path('buckutt_reload') }}">
				{{ 'buckutt.main.menu.reload'|trans }}
			</a>
		</li>
		<li>
			<a href="{{ path('buckutt_admin') }}">
				{{ 'buckutt.main.menu.admin'|trans }}
			</a>
		</li>
		<li class="pull-right">
			<a href="{{ path('buckutt_connect', {'action': 'disconnect'}) }}">
				{{ 'buckutt.main.menu.logout'|trans }}
			</a>
		</li>
	</ul>

	<div class="padding20-sides">
		{% if step == 1 %}
			<p>
				{{ 'buckutt.main.reload.explainations.1'|trans({'%credit%': credit}) }}<br />
				{{ 'buckutt.main.reload.explainations.2'|trans({'%amount%': amount}) }}<br />
				{{ 'buckutt.main.reload.explainations.3'|trans({'%amount_total%': amount_total}) }}
			</p>
			<br />
			{{ htmlForm|raw }}
		{% else %}
			<div class="align-center">
				<form method="post" action="{{ path('buckutt_reload', {'step': 1}) }}">
					<h4>{{ 'buckutt.main.reload.choose'|trans }}</h4>
					{{ form_widget(form.amount) }}
					<div class="buckutt-reload-submit">
						{{ form_rest(form) }}
						<button type="submit" class="btn">{{ 'buckutt.main.reload.reload'|trans }}</button>
					</div>
				</form>
			</div>

			<p class="alert alert-info buckutt-explainations">
				{{ 'buckutt.main.reload.infos'|trans({
					'%max_amount%': max_amount,
					'%possible_amount%': possible_amount
				}) }}
			</p>
		{% endif %}
	</div>
{% endblock %}
