{% extends 'EtuCoreBundle:Admin:layout.html.twig' %}
{% import '@EtuModuleUV/Main/comment.twig' as viewComment %}

{% block title %}{{ 'uvs.admin.index.title'|trans }}{% endblock %}

{% block content %}
    <div class="padding20-all">
        <div class="row-fluid">
            <div class="span6">
                <h4>{{ 'uvs.admin.index.lastsReviews'|trans }}</h4>

                <a href="{{ path('admin_uvs_reviews') }}">{{ 'uvs.admin.index.reviews'|trans }}</a>

                <hr />

                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ 'uvs.admin.index.review'|trans }}</th>
                        <th>{{ 'uvs.admin.index.actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for review in reviews %}
                        <tr class="{% if review.validated %}alert-success{% else %}alert-error{% endif %}">
                            <td>
                                <a href="{{ path("user_view_fichier_annale", {'filename': review.filename}) }}">
                                    {{ ('uvs.reviews.'~review.type)|trans }}
                                    {{ review.semester }}
                                    {{ review.uv.code }}
                                </a>
                            </td>
                            <td>
                                {% if not review.validated %}
                                <a href="{{ path('admin_uvs_review_validate', {'id': review.id}) }}">
                                    {{ 'uvs.admin.index.validate'|trans }}</a> -
                                {% else %}
                                    <a href="{{ path('admin_uvs_review_unvalidate', {'id': review.id}) }}">
                                        {{ 'uvs.admin.index.unvalidate'|trans }}</a> -
                                {% endif %}
                                <a href="{{ path('admin_uvs_review_delete', {'id': review.id}) }}">
                                    {{ 'uvs.admin.index.delete'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="span6">
                <h4>{{ 'uvs.admin.index.lastsComments'|trans }}</h4>

                <a href="{{ path('admin_uvs_comments') }}">{{ 'uvs.admin.index.comments'|trans }}</a>

                <hr />

                {% for comment in comments %}
                    {{ viewComment.commentaire(comment) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
