{% extends '::page-2cols.html.twig' %}

{% block title %}{{ page.title ?? 'Nouvelle page du wiki' }}{% endblock %}

{% block meta_desc %}{{ page.title ?? 'Nouvelle page du wiki' }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('src/img/titles/page.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs page-tabs">
        {% if rights.canGoHome(app.request.get('category')) and page.getSlug() != 'home'%}
            <li>
                <a href="{{ path('wiki_view', {'slug': 'home', 'category': app.request.get('category')})}}">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    {{ 'wiki.main.menu.home'|trans }}
                </a>
            </li>
        {%endif%}
        <li>
            <a href="{{ path('wiki_list', {'category': app.request.get('category')})}}">
                <i class="fa fa-list" aria-hidden="true"></i>
                {{ 'wiki.main.menu.list'|trans }}
            </a>
        </li>
        {% if rights.canRead(page) and page.getSlug() %}
            <li class="pull-right">
                <a href="{{ path('wiki_view', {'slug': page.getSlug(), 'category': app.request.get('category')})}}">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                    {{ 'wiki.main.menu.view'|trans }}
                </a>
            </li>
        {% endif %}
        {% if rights.canEdit(page) and page.getSlug() %}
            <li class="pull-right active page-tabs-resolved-active">
                <a href="{{ path('wiki_edit', {'slug': page.getSlug(), 'category': app.request.get('category')})}}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    {{ 'wiki.main.menu.edit'|trans }}
                </a>
            </li>
        {% endif %}
        {% if rights.canCreate(app.request.get('category')) %}
            <li class="pull-right {% if not page.getSlug() %}active page-tabs-resolved-active{% endif %}">
                <a href="{{ path('wiki_new', {'slug': app.request.get('slug'), 'category': app.request.get('category')})}}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    {{ 'wiki.main.menu.new'|trans }}
                </a>
            </li>
        {% endif %}
    </ul>

        <div class="padding20-sides">

        {{ form_start(form) }}
            {% if form.preslug is defined %}
                <div class="row-fluid">
                    <div class="span6">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="span6">
                        {{ form_row(form.preslug) }}
                    </div>
                </div>
            {% else %}
                {{ form_row(form.title) }}
            {% endif %}
            <span class="pull-right">
                {% include 'EtuModuleUploadBundle::upload_link.html.twig' %}
            </span>
            {{ form_row(form.content) }}
            <div class="row-fluid">
                <div class="span6">
                    {{ form_row(form.readRight) }}
                </div>
                {% if form.editRight is defined %}
                    <div class="span6">
                        {{ form_row(form.editRight) }}
                    </div>
                {% endif %}
            </div>
        {{ form_end(form) }}

        </div>
{% endblock %}
