{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'wiki.main.index.title'|trans }}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/bundles/wiki.css') }}" type="text/css" />
{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/wiki.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	{% if wiki_can_edit(app.user, page) %}
		<ul class="nav nav-tabs page-tabs">
			<li class="pull-right">
				<a href="{{ path('wiki_index_edit') }}">{{ 'wiki.menu.edit'|trans }}</a>
			</li>
			<li class="pull-right active page-tabs-resolved-active">
				<a href="{{ path('wiki_index') }}">{{ 'wiki.menu.read'|trans }}</a>
			</li>
		</ul>

		<div class="padding20-sides">
	{% else %}
		<div class="padding20-all">
	{% endif %}

		<div class="row-fluid">
			<div class="span3 wiki-categories">
				<ul class="nav nav-list">
					<li class="nav-header">{{ 'wiki.main.index.title'|trans }}</li>
				</ul>

				<ul class="nav nav-list">
					{% for orga in userOrgas %}
						<li>
							<a href="{{ path('wiki_orga_index', {'login': orga.login}) }}">
								{{ orga.name }}
							</a>
						</li>
					{% endfor %}
					<li class="divider"></li>
					{% for orga in orgas %}
						<li>
							<a href="{{ path('wiki_orga_index', {'login': orga.login}) }}">
								{{ orga.name }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>

			<div class="span9">
				{{ page.revision.body|bbcode_filter('default_filter') }}
			</div>
		</div>
	</div>
{% endblock %}
