{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'wiki.main.index.title'|trans }}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/bundles/wiki.css') }}" type="text/css" />
{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/wiki.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	{% if wiki_can_edit(app.user, page) %}
		<ul class="nav nav-tabs page-tabs">
			<li class="pull-right">
				<a href="{{ path('wiki_index_edit') }}">{{ 'wiki.main.menu.edit'|trans }}</a>
			</li>
			<li class="pull-right active page-tabs-resolved-active">
				<a href="{{ path('wiki_index') }}">{{ 'wiki.main.menu.read'|trans }}</a>
			</li>
		</ul>

		<div class="padding20-sides">
	{% else %}
		<div class="padding20-all">
	{% endif %}

		<div class="row-fluid">
			<div class="span3 wiki-categories">
				<ul class="nav nav-list">
					<li class="nav-header">Wikis des associations</li>
				</ul>

				<div class="wiki-actions">
					<div class="wiki-action btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							Créer
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="">Catégorie</a></li>
							<li><a href="">Page</a></li>
						</ul>
					</div>

					<div class="wiki-action">
						<a class="btn" href="#">
							Modifier
						</a>
					</div>

					<div class="clear"></div>
				</div>

				<ul class="nav nav-list">
					{% for orga in userOrgas %}
						<li>
							<a href="">
								{{ orga.name }}
							</a>
						</li>
					{% endfor %}
					<li class="divider"></li>
					{% for orga in orgas %}
						<li>
							<a href="">
								{{ orga.name }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>

			<div class="span9">
				{{ page.revision.body|raw }}
			</div>
		</div>
	</div>
{% endblock %}