{% extends '::page-2cols.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block icontitle %}{{ 'wiki.main.view.title'|trans({'%orga%': (page.organization ? page.organization.name : 'UTT')}) }}{% endblock %}

{% block meta_desc %}{{ page.title }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/page.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    {% include "@EtuModuleWiki/Main/part_headbar.html.twig" with {'action': 'read'}  %}
    <div class="padding20-sides mathjax">
        <h2>{{ page.title }}</h2>
        {{ (page.content??'')|purify }}
    </div>

    {% if pagelist|count %}
    <hr/>
    <div class="padding20-sides">
        <ul>
            {% set lvl = 0 %}
            {% set li = 0 %}
            {% for slug, array in pagelist %}
                {% if lvl == array.level %}
                    {% if li %} </li> {% endif %}
                    <li><a href="{{ path('wiki_view', {'slug': slug, 'organization': array.organization.login ?? 'general' })}}">{{array.title}}</a>
                    {% set li = 1 %}
                {% elseif lvl > array.level %}
                    {% for i in (array.level+1)..lvl %}
                        {% if li %} </li> {% set li = 0 %}{% endif %}
                        </ul>
                    {% endfor %}
                    {% set lvl = array.level %}
                    <li><a href="{{ path('wiki_view', {'slug': slug, 'organization': array.organization.login ?? 'general' })}}">{{array.title}}</a>
                {% elseif lvl < array.level %}
                    {% for i in (lvl+1)..array.level %}
                        <ul>
                    {% endfor %}
                    {% set lvl = array.level %}
                    <li><a href="{{ path('wiki_view', {'slug': slug, 'organization': array.organization.login ?? 'general' })}}">{{array.title}}</a>
                    {% set li = 1 %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <hr/>
    <div class="muted align-right padding20-all">
        <small>
            {{ 'wiki.main.view.last-edit'|trans }} <a href="{{ path('user_view', { 'login' : page.author.login }) }}">{{ page.author.fullName }}</a> : {{ page.createdAt|localizeddate('short','short') }}<br/>
            {% if page.organization %}
                {{ 'wiki.main.view.can-edit'|trans }} <em>{{ ('wiki.main.right-orga.'~page.editRight)|trans({'%orga%': page.organization}) }}</em><br/>
            {% else %}
                {{ 'wiki.main.view.can-edit'|trans }} <em>{{ ('wiki.main.right.'~page.editRight)|trans }}</em><br/>
            {% endif %}

            {% if page.organization %}
                {{ 'wiki.main.view.can-read' |trans }} <em>{{ ('wiki.main.right-orga.'~page.editRight)|trans({'%orga%': page.organization}) }}</em>
            {% else %}
                {{ 'wiki.main.view.can-read' |trans }} <em>{{ ('wiki.main.right.'~page.editRight)|trans }}</em>
            {% endif %}

        </small>
    </div>
{% endblock %}
