{% extends '::page-2cols.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block meta_desc %}{{ page.title }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/page.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    {% include "@EtuModuleWiki/Main/part_headbar.html.twig" with {'action': 'read'}  %}
    <div class="padding20-sides mathjax">
        {{ (page.content??'')|purify }}
    </div>
    <div class="muted align-right padding20-all">
        <small>
            {{ 'wiki.main.view.last-edit'|trans }} <a href="{{ path('user_view', { 'login' : page.author.login }) }}">{{ page.author.fullName }}</a> : {{ page.createdAt|localizeddate('short','short') }}<br/>
            {% if page.organization %}
                {{ 'wiki.main.view.can-edit'|trans }} <em>{{ ('wiki.main.right-orga.'~page.editRight)|trans({'%orga%': page.organization}) }}</em><br/>
            {% else %}
                {{ 'wiki.main.view.can-edit'|trans }} <em>{{ ('wiki.main.right.'~page.editRight)|trans }}</em><br/>
            {% endif %}

            {% if page.organization %}
                {{ 'wiki.main.view.can-read' |trans }} <em>{{ ('wiki.main.right-orga.'~page.editRight)|trans({'%orga%': page.organization}) }}</em>
            {% else %}
                {{ 'wiki.main.view.can-read' |trans }} <em>{{ ('wiki.main.right.'~page.editRight)|trans }}</em>
            {% endif %}

        </small>
    </div>
{% endblock %}
