{% extends '::page-2cols.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/bundles/forum.css') }}" type="text/css" />
{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/forum.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block title %}{{ category.title }}{% endblock %}

{% block meta_desc %}{{ 'forum.meta'|trans }} : {{ category.title }}{% endblock %}

{% block content %}
	<ul class="breadcrumb">
		<li>
			<a href="{{ path('forum_index') }}">Forum</a>
			<span class="divider">/</span>
		</li>
		{% for parent in parents %}
		<li>
			<a href="{{ path('forum_category', {'id': parent.id, 'slug': parent.slug}) }}">
				{{ parent.title }}</a>
			<span class="divider">/</span>
		</li>
		{% endfor %}
		<li class="active">
			{{ category.title }}
		</li>
	</ul>

	<div class="padding20-sides">
		{% if forum_can_post(app.user, category) %}
			<p class="align-right">
				<a href="{{ path('forum_post', {'id': category.id, 'slug': category.slug}) }}" class="btn">
					{{'forum.main.thread.post'|trans }}
				</a>
			</p>
			<hr />
		{% endif %}

		{% if isSubCategories %}
			<table class="forum-table">
				<tr>
					<th class="forum-table-legend">{{ 'forum.main.index.forum'|trans }}</th>
					<th class="forum-table-legend forum-table-count">{{ 'forum.main.index.nbThreads'|trans }}</th>
					<th class="forum-table-legend forum-table-count">{{ 'forum.main.index.nbMessages'|trans }}</th>
					<th class="forum-table-legend">{{ 'forum.main.index.lastMessage'|trans }}</th>
				</tr>
			{% for subCategory in subCategories %}
				{% if forum_can_read(app.user, category) %}
					<tr class="forum-table-list">
						<td class="forum-table-category">
							{% if app.user and subCategory.getCategoryViewed().count == 0 %}
								<span class="label label-info">{{'forum.main.index.new'|trans}}</span>
							{% endif %}
							<a href="{{ path('forum_category', {'id': subCategory.id, 'slug': subCategory.slug}) }}"
							   class="forum-table-category-link">{{ subCategory.title }}</a>
							<br />
							<span class="forum-table-category-description">
								{{ subCategory.description }}
							</span>
						</td>
						<td class="forum-table-count">{{ subCategory.countThreads }}</td>
						<td class="forum-table-count">{{ subCategory.countMessages }}</td>
						<td class="forum-table-lastMessage">
							{% if subCategory.getLastMessage() == NULL %}
								{{ 'forum.main.index.noMessage'|trans }}
							{% else %}
								{{ 'forum.main.thread.in'|trans }} <a href="{{ path('forum_thread', {'id': subCategory.getLastMessage().getThread().getId(), 'slug': subCategory.getLastMessage().getThread().getSlug(), 'page': (subCategory.getLastMessage().getThread().getCountMessages()/10)|ceil}) }}#{{ subCategory.getLastMessage().getId() }}">{{ subCategory.getLastMessage().getThread().getTitle() }}</a><br />{{ 'forum.main.thread.datePrefix'|trans }} {{ subCategory.getLastMessage().createdAt|date('forum.main.thread.dateFormat'|trans) }}  {{ 'forum.main.thread.dateHour'|trans }} {{ subCategory.getLastMessage().createdAt|date("H:i") }} {{ 'forum.main.thread.by'|trans|lower }} <a href="{{ path('user_view', {'login': subCategory.getLastMessage().author.getLogin()}) }}">{{ subCategory.getLastMessage().author.getFullName() }}</a>
							{% endif %}
						</td>
					</tr>
				{% endif %}
			{% endfor %}
			</table>
			<hr />
		{% endif %}

		{% if category.depth > 0 %}
			{# display navigation #}
			<div class="navigation">
				{{ knp_pagination_render(threads) }}
			</div>

			<table class="forum-table">
				<tr>
					<th class="forum-table-legend">{{ 'forum.main.thread.thread'|trans }}</th>
					<th class="forum-table-legend forum-table-count">{{ 'forum.main.thread.date'|trans }}</th>
					<th class="forum-table-legend forum-table-count">{{ 'forum.main.thread.messages'|trans }}</th>
					<th class="forum-table-legend">{{ 'forum.main.thread.lastMessage'|trans }}</th>
				</tr>
			{% if noThreads %}
				<tr class="catTitle">
					<td colspan="4">{{'forum.main.index.noMessage'|trans }}</td>
				</tr>
			{% endif %}
			{% for thread in threads %}
				 <tr class="forum-table-list">
					<td class="forum-table-category">
						{% if app.user and thread.getViewed().count == 0 %}
							<span class="label label-info">{{'forum.main.thread.new'|trans}}</span>
						{% endif %}
						{% if thread.weight == 200 %}
							<span class="forum-sticky">{{'forum.main.thread.sticky'|trans}}:</span>
						{% elseif thread.state == 200 %}
							<span class="forum-locked">{{'forum.main.thread.locked'|trans}}:</span>
						{% endif %}
						<a href="{{ path('forum_thread', {'id': thread.id, 'slug': thread.slug}) }}"
						   class="forum-table-category-link">{{ thread.title }}</a>
						<br />
						<span class="forum-table-category-description">
							{{'forum.main.thread.by'|trans }}
							<a href="{{ path('user_view', {'login': thread.author.getLogin()}) }}">
								{{ thread.author.getFullName() }}
							</a>
						</span>
					</td>
					<td class="forum-table-date">
						{{ 'forum.main.thread.datePrefix'|trans }}
						{{ thread.createdAt|date('forum.main.thread.dateFormat'|trans) }}
						{{ 'forum.main.thread.dateHour'|trans }}
						{{ thread.createdAt|date("H:i") }}
					</td>
					<td class="forum-table-count">{{ thread.countMessages }}</td>
					<td class="forum-table-lastMessage">
						{% if thread.getLastMessage() == NULL %}
							{{ 'forum.main.index.noMessage'|trans }}
						{% else %}
							{{ 'forum.main.thread.datePrefix'|trans }} {{ thread.getLastMessage().createdAt|date('forum.main.thread.dateFormat'|trans) }}  {{ 'forum.main.thread.dateHour'|trans }} {{ thread.getLastMessage().createdAt|date("H:i") }} {{ 'forum.main.thread.by'|trans|lower }} <a href="{{ path('user_view', {'login': thread.getLastMessage().author.getLogin()}) }}">{{ thread.getLastMessage().author.getFullName() }}</a><br />
							<a href="{{ path('forum_thread', {'id': thread.getLastMessage().getThread().getId(), 'slug': thread.getLastMessage().getThread().getSlug(), 'page': (thread.getLastMessage().getThread().getCountMessages()/10)|ceil}) }}#{{ thread.getLastMessage().getId() }}">{{ 'forum.main.thread.read'|trans }}</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</table>

			{# display navigation #}
			<div class="navigation">
				{{ knp_pagination_render(threads) }}
			</div>

			{% if forum_can_post(app.user, category) %}
				<hr />
				<p class="align-right">
					<a href="{{ path('forum_post', {'id': category.id, 'slug': category.slug}) }}" class="btn">
						{{'forum.main.thread.post'|trans }}
					</a>
				</p>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}
