{% extends '::page-1col.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/bundles/forum.css') }}" type="text/css" />
{% endblock %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
	<div class="forum-breadcrumb">
		<a href="{{ path('forum_index') }}">Forum</a>
		{% for parent in parents %}
			 > <a href="{{ path('forum_category', {'id': parent.id, 'slug': parent.slug}) }}">{{ parent.title }}</a>
		{% endfor %}
	</div>

	{% if subCategories %}
		<table class="table table-bordered table-hover forum-table">
			<tr><th class="category">{{ 'forum.main.index.forum'|trans }}</th><th class="countSubjets">{{ 'forum.main.index.nbThreads'|trans }}</th><th class="countMessages">{{ 'forum.main.index.nbMessages'|trans }}</th><th class="lastMessage">{{ 'forum.main.index.lastMessage'|trans }}</th></tr>
		{% for category in subCategories %}
			{% if forum_can_read(app.user, category) %}
				<tr>
					<td class="category"><a href="{{ path('forum_category', {'id': category.id, 'slug': category.slug}) }}">{{ category.title }}</a><br />{{ category.description }}</td>
					<td class="countSubjets">{{ category.countThreads }}</td>
					<td class="countMessages">{{ category.countMessages }}</td>
					<td class="lastMessage">
						{% if category.lastMessage == NULL %}
							{{ 'forum.main.index.noMessage'|trans }}
						{% else %}
							{{ 'forum.main.thread.in'|trans }} <a href="{{ path('forum_thread', {'id': category.getLastMessage().getThread().getId(), 'slug': category.getLastMessage().getThread().getSlug(), 'page': (category.getLastMessage().getThread().getCountMessages()/10)|ceil}) }}#{{ category.getLastMessage().getId() }}">{{ category.getLastMessage().getThread().getTitle() }}</a><br />{{ 'forum.main.thread.datePrefix'|trans }} {{ category.getLastMessage().createdAt|date('forum.main.thread.dateFormat'|trans) }}  {{ 'forum.main.thread.dateHour'|trans }} {{ category.getLastMessage().createdAt|date("H:i") }} {{ 'forum.main.thread.by'|trans|lower }} <a href="{{ path('user_view', {'login': category.getLastMessage().author.getLogin()}) }}">{{ category.getLastMessage().author.getFullName() }}</a>
						{% endif %}
					</td>
				</tr>
			{% endif %}
		{% endfor %}
		</table>
	{% endif %}

	{% if category.depth > 0 %}
		{# display navigation #}
		<div class="navigation">
			{{ knp_pagination_render(threads) }}
		</div>

		<table class="table table-bordered table-hover forum-table">
			<tr><th class="subjects">{{'forum.main.thread.thread'|trans }}</th><th class="date">{{'forum.main.thread.date'|trans }}</th><th class="countMessages">{{'forum.main.thread.messages'|trans }}</th><th class="lastMessage">{{'forum.main.thread.lastMessage'|trans }}</th></tr>
		{% for thread in threads %}
			 <tr>
				<td class="subjects">
					{% if thread.sticky %}<span class="forum-sticky">{{'forum.main.thread.sticky'|trans}}:</span> {% elseif thread.state == 200 %}<span class="forum-locked">{{'forum.main.thread.locked'|trans}}:</span> {% endif %}<a href="{{ path('forum_thread', {'id': thread.id, 'slug': thread.slug}) }}">{{ thread.title }}</a><br /> <span class="by">{{'forum.main.thread.by'|trans|lower }} <a href="{{ path('user_view', {'login': thread.author.getLogin()}) }}">{{ thread.author.getFullName() }}</a></span>
				</td>
				<td class="date">
					{{ 'forum.main.thread.datePrefix'|trans }} {{ thread.createdAt|date('forum.main.thread.dateFormat'|trans) }}  {{ 'forum.main.thread.dateHour'|trans }} {{ thread.createdAt|date("H:i") }}
				</td>
				<td class="countMessages">{{ thread.countMessages }}</td>
				<td class="lastMessage">
					{% if thread.getLastMessage() == NULL %}
						{{ 'forum.main.index.noMessage'|trans }}
					{% else %}
						{{ 'forum.main.thread.datePrefix'|trans }} {{ thread.getLastMessage().createdAt|date('forum.main.thread.dateFormat'|trans) }}  {{ 'forum.main.thread.dateHour'|trans }} {{ thread.getLastMessage().createdAt|date("H:i") }} {{ 'forum.main.thread.by'|trans|lower }} <a href="{{ path('user_view', {'login': thread.getLastMessage().author.getLogin()}) }}">{{ thread.getLastMessage().author.getFullName() }}</a><br />
						<a href="{{ path('forum_thread', {'id': thread.getLastMessage().getThread().getId(), 'slug': thread.getLastMessage().getThread().getSlug(), 'page': (thread.getLastMessage().getThread().getCountMessages()/10)|ceil}) }}#{{ thread.getLastMessage().getId() }}">{{ 'forum.main.thread.read'|trans }}</a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</table>

		{# display navigation #}
		<div class="navigation">
			{{ knp_pagination_render(threads) }}
		</div>

		{% if forum_can_post(app.user, category) %}
			<a href="{{ path('forum_post', {'id': category.id, 'slug': category.slug}) }}">{{'forum.main.thread.post'|trans }}</a>
		{% endif %}
	{% endif %}
{% endblock %}
