{% extends '::page-2cols.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/bundles/forum.css') }}" type="text/css" />
{% endblock %}

{% block title %}{{ 'forum.main.edit.title'|trans }}{% endblock %}

{% block content %}
	<ul class="breadcrumb">
		<li>
			<a href="{{ path('forum_index') }}">Forum</a>
			<span class="divider">/</span>
		</li>
		{% for parent in parents %}
			<li>
				<a href="{{ path('forum_category', {'id': parent.id, 'slug': parent.slug}) }}">
					{{ parent.title }}</a>
				<span class="divider">/</span>
			</li>
		{% endfor %}
		<li class="active">
			{{ thread.title }}
		</li>
	</ul>

	<div class="padding20-sides">
		{% if typeForm == 'thread' %}
			<form class="form-horizontal" action="{{ path('forum_edit', {'messageId': messageContent.id, 'threadId': thread.id, 'slug': thread.slug}) }}" method="post" {{ form_enctype(form) }}>
				{{ form_errors(form) }}

				<div class="control-group">
					<label class="control-label">{{ form_label(form.thread.title, 'forum.main.post.threadTitle'|trans) }}</label>
					<div class="controls">
						{{ form_widget(form.thread.title) }}
						<span class="text-error">{{ form_errors(form.thread.title) }}</span>
					</div>
				</div>

				{% if forum_can_sticky(app.user, category) %}
				<div class="control-group">
					<label class="control-label">{{ form_label(form.thread.weight, 'forum.main.post.sticky'|trans) }}</label>
					<div class="controls">
						{{ form_widget(form.thread.weight) }}
						<span class="text-error">{{ form_errors(form.thread.weight) }}</span>
					</div>
				</div>
				{% endif %}

				<div class="control-group">
					<label class="control-label">{{ form_label(form.content, 'forum.main.post.content'|trans) }}</label>
					<div class="controls">
						{{ form_widget(form.content) }}
						<span class="text-error">{{ form_errors(form.content) }}</span>
					</div>
				</div>

				<div class="control-group">
					<div class="controls">
						{{ form_rest(form) }}
						<button type="submit" class="btn btn-primary">Modifier</button>
						<a href="{{ path('forum_thread', {'id': thread.id, 'slug': thread.slug}) }}"
						   class="btn">Annuler</a>
					</div>
				</div>
			</form>
		{% elseif typeForm == 'message' %}
			<form class="form-horizontal" action="{{ path('forum_edit', {'messageId': messageContent.id, 'threadId': thread.id, 'slug': thread.slug}) }}" method="post" {{ form_enctype(form) }}>
				{{ form_errors(form) }}

				<div class="control-group">
					<label class="control-label">{{ form_label(form.content, 'forum.main.post.content'|trans) }}</label>
					<div class="controls">
						{{ form_widget(form.content) }}
						<span class="text-error">{{ form_errors(form.content) }}</span>
					</div>
				</div>

				<div class="control-group">
					<div class="controls">
						{{ form_rest(form) }}
						<button type="submit" class="btn btn-primary">Modifier</button>
						<a href="{{ path('forum_thread', {'id': thread.id, 'slug': thread.slug}) }}"
						   class="btn">Annuler</a>
					</div>
				</div>
			</form>
		{% endif %}
	</div>
{% endblock %}
