{% extends '::page-1col.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/bundles/forum.css') }}" type="text/css" />
{% endblock %}

{% block title %}{{ 'forum.main.mod.title'|trans }}{% endblock %}

{% block content %}
	{% if action == 'lock' %}
		{{ 'forum.main.mod.locked'|trans }}<br />
		<a href="{{ path('forum_thread', {'id': thread.getId(), 'slug': thread.getSlug()}) }}">{{ 'forum.main.mod.back'|trans }}</a>
	{% elseif action == 'unlock' %}
		{{ 'forum.main.mod.unlocked'|trans }}<br />
		<a href="{{ path('forum_thread', {'id': thread.getId(), 'slug': thread.getSlug()}) }}">{{ 'forum.main.mod.back'|trans }}</a>
	{% endif %}
{% endblock %}
