{% extends '::page-1col.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/bundles/forum.css') }}" type="text/css" />
{% endblock %}

{% block title %}{{ 'forum.main.mod.title'|trans }}{% endblock %}

{% block content %}
	<div class="forum-breadcrumb">
		<a href="{{ path('forum_index') }}">Forum</a>
		{% for parent in parents %}
			 > <a href="{{ path('forum_category', {'id': parent.id, 'slug': parent.slug}) }}">{{ parent.title }}</a>
		{% endfor %}
		 > <a href="{{ path('forum_thread', {'id': thread.id, 'slug': thread.slug}) }}">{{ thread.title }}</a>
	</div>

	{% if action == 'lock' %}
		{{ 'forum.main.mod.locked'|trans }}<br />
		<a href="{{ path('forum_thread', {'id': thread.getId(), 'slug': thread.getSlug()}) }}">{{ 'forum.main.mod.back'|trans }}</a>
	{% elseif action == 'unlock' %}
		{{ 'forum.main.mod.unlocked'|trans }}<br />
		<a href="{{ path('forum_thread', {'id': thread.getId(), 'slug': thread.getSlug()}) }}">{{ 'forum.main.mod.back'|trans }}</a>
	{% elseif action == 'move' %}
		<form action="{{ path('forum_mod', {'action': 'move', 'threadId': thread.id, 'slug': thread.slug}) }}" method="post" {{ form_enctype(form) }}>
			<fieldset class="forum-post">
				{{ form_errors(form) }}
				<div class="forum-post-left">
					<div class="forum-post-title">
					  {{ form_label(form.category, 'forum.main.mod.where'|trans) }}
					</div>

				</div>
				<div class="forum-post-right">
					<div class="forum-post-title">
					  {{ form_errors(form.category) }}
					  {{ form_widget(form.category) }}
					</div>
					{{ form_rest(form) }}
					<input type="submit" class="btn btn-primary" />
				</div>
			</fieldset>
		</form>
	{% endif %}
{% endblock %}
