{% extends '::page-1col.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/bundles/forum.css') }}" type="text/css" />
{% endblock %}

{% block title %}{{ 'forum.main.post.title'|trans }}{% endblock %}

{% block content %}
	<div class="forum-breadcrumb">
		<a href="{{ path('forum_index') }}">Forum</a>
		{% for parent in parents %}
			 > <a href="{{ path('forum_category', {'id': parent.id, 'slug': parent.slug}) }}">{{ parent.title }}</a>
		{% endfor %}
	</div>

	<form action="{{ path('forum_post', {'id': category.id, 'slug': category.slug}) }}" method="post" {{ form_enctype(form) }}>
		<fieldset class="forum-post">
			{{ form_errors(form) }}
			<div class="forum-post-left">
				<div class="forum-post-title">
				  {{ form_label(form.title, 'forum.main.post.threadTitle'|trans) }}
				</div>

				{% if forum_can_sticky(app.user, category) %}
					<div class="forum-post-sticky">
					  {{ form_label(form.weight, 'forum.main.post.sticky'|trans) }}
					</div>
				{% endif %}

				<div class="forum-post-content">
				  {{ form_label(form.lastMessage.content, 'forum.main.post.content'|trans) }}
				</div>

			</div>
			<div class="forum-post-right">
				<div class="forum-post-title">
				  {{ form_errors(form.title) }}
				  {{ form_widget(form.title) }}
				</div>
				{% if forum_can_sticky(app.user, category) %}
					<div class="forum-post-sticky">
					  {{ form_errors(form.weight) }}
					  {{ form_widget(form.weight) }}
					</div>
				{% endif %}
				<div class="forum-post-content">
				  {{ form_errors(form.lastMessage.content) }}
				  {{ form_widget(form.lastMessage.content) }}
				</div>
				{{ form_rest(form) }}
				<input type="submit" class="btn btn-primary" />
			</div>
		</fieldset>
	</form>
{% endblock %}
