{% extends '::page-2cols.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/bundles/assos.css') }}" type="text/css" />
{% endblock %}

{% block title %}{{ 'assos.main.view.title'|trans }}{% endblock %}

{% block meta_desc %}{{ orga.descriptionShort }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/assos.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block sidebar %}
	{% if app.user %}
		{{ render_subscribe_button('orga', orga.id) }}
	{% endif %}

	{{ parent() }}
{% endblock %}

{% block content %}
	<ul class="nav nav-tabs page-tabs">
		<li>
            {% if isElus %}
			<a href="{{ path('elus_index') }}">
            {% else %}
            <a href="{{ path('orgas_index') }}">
            {% endif %}
				<i class="icon-chevron-left"></i>
				{{ 'assos.main.view.back'|trans }}
			</a>
		</li>
		{% if app.user %}
		<li class="pull-right">
			<a href="{{ path('orgas_members', {'login': orga.login}) }}">
				{{ 'assos.main.menu.members'|trans }}
			</a>
		</li>
		{% endif %}
		<li class="pull-right active page-tabs-resolved-active">
			<a href="{{ path('orgas_view', {'login': orga.login}) }}">
				{{ 'assos.main.menu.description'|trans }}
			</a>
		</li>
	</ul>

	<div class="padding20-all">

		<div class="row-fluid">
			<div class="span3">
				<div class="profileEdit-avatar">
					<img src="{{ asset('logos/'~orga.logo) }}" alt="{{ orga.name }}" title="{{ orga.name }}" />
				</div>

				<hr />

				<p>
					<strong>{{ 'assos.main.view.name'|trans }}</strong><br />
					{{ orga.name }}
				</p>

				{% if orga.president %}
					<p>
						<strong>{{ 'assos.main.members.president'|trans }}</strong><br />
						{% if app.user %}
							<a href="{{ path('user_view', {'login': orga.president.login}) }}">
								{{ orga.president.fullName }}
							</a>
						{% else %}
							{{ orga.president.fullName }}
						{% endif %}
					</p>
				{% endif %}

				{% if orga.contactMail %}
				<p>
					<strong>{{ 'assos.main.view.contactMail'|trans }}</strong><br />
					<a href="mailto:{{ orga.contactMail }}">{{ orga.contactMail }}</a>
				</p>
				{% endif %}

				{% if orga.website %}
					<p>
						<strong>{{ 'assos.main.view.website'|trans }}</strong><br />
						<a href="{{ orga.website }}">{{ orga.website }}</a>
					</p>
				{% endif %}

				{% if orga.contactPhone %}
					<p>
						<strong>{{ 'assos.main.view.contactPhone'|trans }}</strong><br />
						{{ orga.contactPhone }}
					</p>
				{% endif %}
			</div>
			<div class="span9">
				{% if orga.description %}
					{{ orga.description|bbcode_filter('default_filter') }}
				{% else %}
					{{ orga.descriptionShort }}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
