{% extends '@EtuUser/Memberships/layout.html.twig' %}
{% set tab = 'memberships_orga_events' %}

{% block title %}{{ membership.organization.name }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/orga.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block membership_content %}
    <p>
        <a href="{{ path('memberships_orga_events', {'login': orga.login}) }}">
            <i class="icon-chevron-left"></i>
            {{ 'events.memberships.edit.back'|trans }}
        </a>

        <span class="pull-right">
            {{ 'events.memberships.create.creation'|trans }}
        </span>
    </p>

    <hr />

    {{ form_start(form) }}
    {{ form_row(form.title) }}

    <hr/>

    <div class="row-fluid">
        <div class="span6">
            {{ form_row(form.begin) }}
        </div>
        <div class="span6">
            {{ form_row(form.end) }}
        </div>
    </div>

    <hr />

    <div class="row-fluid">
        <div class="span5">
            {{ form_row(form.privacy) }}
        </div>
        <div class="span7">
            <br />
            <small class="muted">
                <em>
                    {{ 'events.memberships.create.privacy.explain.1'|trans }}<br />
                    {{ 'events.memberships.create.privacy.explain.2'|trans }}
                </em>
            </small>
        </div>
    </div>

    <hr />

    <div class="row-fluid">
        <div class="span6">
            {{ form_row(form.category) }}
        </div>
        <div class="span6">
            {{ form_row(form.file) }}
        </div>
    </div>

    <hr />

    {{ form_row(form.location) }}

    {{ form_row(form.description) }}

    {{ form_end(form) }}
{% endblock %}
