<!DOCTYPE html>
<html lang="fr" style="padding: 0; margin: 0;">
<head>
	<meta charset="utf-8" />

	<title>
		Daymail du
		{{ ('daymail.memberships.daymail.days.'~daymail.date|date('D')|lower)|trans }}
		{{ daymail.date|date('d') }}
		{{ ('daymail.memberships.daymail.months.'~daymail.date|date('M')|lower)|trans }}
	</title>
</head>
<body style="padding: 0; margin: 0;">
	<table style="width: 100%; background: #f5f5f5; border-collapse: collapse;">
		<tr>
			<td style="vertical-align: top; background: #363e4a; border-collapse: collapse;">
				<table style="width: 600px; margin: 0 auto; border-collapse: collapse;">
					<tr>
						<td>
							<img alt="EtuUTT" title="Logo de EtuUTT" src="http://etu.utt.fr/src/img/logo.png" />
						</td>
						<td style="text-align: right; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; color: white;">
							Daymail du
							{{ ('daymail.memberships.daymail.days.'~daymail.date|date('D')|lower)|trans }}
							{{ daymail.date|date('d') }}
							{{ ('daymail.memberships.daymail.months.'~daymail.date|date('M')|lower)|trans }}
						</td>
					</tr>
				</table>
			</td>
		</tr>

		{% for part in parts %}
			<!---------------- Message ---------------->
			<tr>
				<td style="vertical-align: top; padding: 50px 10px 10px 10px; background: #ffffff; color: #333333; border-collapse: collapse; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
					<table style="width: 600px; margin: 0 auto; border-collapse: collapse;">
						<tr>
							<td style="width: 60px;">
								<img style="max-height: 50px; max-width: 50px;" alt="Logo" title="Logo de {{ part.orga.name }}" src="http://etu.utt.fr/uploads/logos/{{ part.orga.logo }}" />
							</td>
							<td>
								<strong style="font-size: 16px;">{{ part.title }}</strong>
								<br />
								<em style="font-size: 13px;">
									Par {{ part.orga.name }}
									{% if part.orga.contactMail %}
										(<a href="mailto:{{ part.orga.contactMail }}">{{ part.orga.contactMail }}</a>)
									{% endif %}
								</em>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td style="vertical-align: top; padding: 20px 10px; color: #333333; text-align: justify; border-bottom: 3px solid #e5e5e5; border-collapse: collapse; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;">
					<table style="width: 600px; margin: 0 auto; border-collapse: collapse;">
						<tr>
							<td>
								{{ part.body|raw }}
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<!---------------- / Message ---------------->
		{% endfor %}

		<tr>
			<td style="vertical-align: top; padding: 20px 0 20px 0; text-align: center; background: #ffffff; color: #999999; border-collapse: collapse; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 11px;">
				<table style="width: 600px; margin: 0 auto; border-collapse: collapse;">
					<tr>
						<td>
							Généré et envoyé par le site étudiant de l'Université de Technologie de Troyes<br />
							Pour vous désinscrire, désinscrivez-vous de la liste daymail@utt.fr sur
							<a href="http://listes.utt.fr">http://listes.utt.fr</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
