
{% if items|count > 0 %}
<ul class="list-vertical list-vertical-linked sidebar-menu">
	{% for item in items %}
		<li {{ item.itemAttributesString }}>
			<a href="{{ item.url }}" {{ item.linkAttributesString }}>
				{% if item.hasIcon %}
					<img src="{{ asset('img/icons/'~item.icon) }}" class="etu-img-icon" />
				{% else %}
					<i class="etu-no-icon"></i>
				{% endif %}

				{{ item.translation|trans }}
			</a>
		</li>
	{% endfor %}
</ul>
{% endif %}