
<ul class="list-vertical list-vertical-linked overlay-menu">
	{% for item in items %}
		<li {{ item.itemAttributesString|raw }}>
			<a href="{{ item.url }}" {{ item.linkAttributesString|raw }}>
				{% if item.hasIcon %}
					<img src="{{ asset('src/img/icons/'~item.icon) }}" class="etu-img-icon" />
				{% else %}
					<i class="etu-no-icon"></i>
				{% endif %}

				{{ item.translation|trans }}
			</a>
		</li>
	{% endfor %}
</ul>