{% extends '::oauth.html.twig' %}

{% block content %}
    <div class="padding20-all">
        <br />

        <h4 class="align-center">
            L'application <strong>{{ client.name }}</strong> souhaite accéder à vos informations
        </h4>

        <br />
        <br />

        <div class="row-fluid">
            <div class="span4"></div>
            <div class="span6">
                <div class="row-fluid">
                    <div class="span4">
                        <img src="https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xpa1/t39.2081-0/p128x128/851578_455087414601994_1601110696_n.png" />
                    </div>
                    <div class="span8">
                        <p>
                            <strong>{{ client.name }}</strong><br />
                            <em>Gérée par {{ user.fullName }}</em>
                        </p>

                        <p>
                            Souhaite accéder à:
                        </p>

                        <ul>
                            <li>Vos informations publiques</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span2"></div>
        </div>

        <br />
        <br />
        <br />

        <div class="align-center">
            <p>
                Acceptez-vous de donner ces informations à l'application <strong>{{ client.name }}</strong> ?
            </p>

            <form method="post">
                {{ form_errors(form) }}

                <p>
                    {{ form_widget(form.accept) }}
                    {{ form_widget(form.cancel) }}
                </p>

                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}