{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'orga.logoUpload.title'|trans }}{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/orga.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<ul class="nav nav-tabs page-tabs">
		<li>
			<a href="{{ path('orga_admin') }}">
				<i class="icon-chevron-left"></i>
				{{ 'orga.logoUpload.back'|trans }}
			</a>
		</li>
	</ul>

	<div class="padding20-sides profile-avatar">
		<form method="post" {{ form_enctype(form) }}>
			{{ form_errors(form) }}

			<img src="{{ asset('logos/'~app.user.logo) }}" style="max-width: 100px;" alt="{{ app.user.fullName }}" title="{{ app.user.fullName }}" />

			<p>
				<br />
				<label>{{ form_label(form.file, 'orga.logoUpload.file'|trans) }}</label>
				{{ form_widget(form.file) }}
				<br />
				<span class="help-block">{{ form_errors(form.file) }}</span>
			</p>

			<div class="controls">
				{{ form_rest(form) }}

				<button type="submit" class="btn">{{ 'orga.edit.submit'|trans }}</button>
			</div>
		</form>
	</div>
{% endblock %}