{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'user.orga.avatar.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('src/img/titles/orga.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs page-tabs">
        <li>
            <a href="{{ path('orga_admin') }}">
                <i class="icon-chevron-left"></i>
                {{ 'user.orga.avatar.back'|trans }}
            </a>
        </li>
    </ul>

    <div class="padding20-sides profile-avatar">
        <img src="{{ asset('uploads/logos/'~app.user.logo) }}" style="max-width: 100px;" alt="{{ app.user.fullName }}" title="{{ app.user.fullName }}" />
        <hr/>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
