{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'user.orga.members.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('assets/img/titles/orga.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <div class="trombi-search-box">
        <h5>Ajout d'un utilisateur</h5>
        <div class="form-inline add-member-form">

            {% form_theme form 'form/theme-inline.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
                {# form_widget(form.user, {'attr': { 'placeholder': ''|trans } } ) }}
                {{ form_widget(form.role, {'attr': { 'class': 'span2' } } ) }}
                {{ form_rest(form) }}
                <button type="submit" class="btn">
                    <i class="icon-plus"></i>
                    {{ 'user.orga.members.add_member_btn'|trans }}
                </button>

                <p>
                    <span class="help-block">{{ form_errors(form.user) }}</span>
                </p>
                <p>
                    <span class="help-block">{{ form_errors(form.role) }}</span>
                </p> #}
            {{ form_end(form) }}
        </div>
        <h5>Création d'un groupe utilisateur</h5>
        <div class="form-inline add-member-form">

            {% form_theme form 'form/theme-inline.html.twig' %}
            {{ form_start(groupForm) }}
            {{ form_widget(groupForm) }}
            {{ form_end(groupForm) }}
        </div>
    </div>

    <div class="padding20-all">
        <div class="navigation">
            <p>
                Vous avez {{ orga.memberships.count }} membres dans l'association.
            </p>
        </div>
        {% for group in groups %}
        <h4>{{ group.name }} <a href="{{ url('orga_admin_group_edit', { slug: group.slug}) }}"><i class="icon-edit"></i></a>{% if group.name != "Bureau" and group.name != "Membres" %} <a href="{{ url('orga_admin_group_delete', { slug: group.slug}) }}"><i class="icon-remove"></i></a>{% endif %}</h4>
            {% if group.members.count > 0 %}
        <ul id="search-results" class="asso-members">
            {% for member in group.members %}
                <li class="asso-members-item">
                    <a href="{{ path('orga_admin_members_edit', {'login': member.user.login}) }}">
                        <img src="{{ path('user_view_image_profil', {'avatar': member.user.avatar}) }}" alt="{{ member.user.fullName }}" title="{{ member.user.fullName }}" />
                        <h5>{{ member.user.fullName }}</h5>
                        <p>
                            {{ ('user.orga.role.'~member.role)|trans }}
                        </p>

                        <div class="clear"></div>
                    </a>
                </li>
            {% endfor %}
        </ul>
            {% else %}
                <p>Aucun membre dans ce groupe</p>
            {% endif %}
        <div class="clear"></div>
        {% endfor %}

    </div>
{% endblock %}
