{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'wiki.page.delete.title'|trans }}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/bundles/wiki.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/bundles/wiki.js') }}"></script>
{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/wiki.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<ul class="nav nav-tabs page-tabs">
		<li>
			<a href="{{ path('wiki_index') }}">{{ 'wiki.main.menu.index'|trans }}</a>
		</li>
		{% if wiki_can_delete(app.user, home) %}
			<li class="pull-right active page-tabs-resolved-active">
				<a href="{{ path('wiki_page_delete', {'login': orga.login, 'id': page.id, 'slug': page.title|slugify}) }}">
					{{ 'wiki.main.menu.delete'|trans }}
				</a>
			</li>
		{% endif %}
		{% if wiki_can_edit_permissions(app.user, page) %}
			<li class="pull-right">
				<a href="{{ path('wiki_page_permissions', {'login': orga.login, 'id': page.id, 'slug': page.title|slugify}) }}">
					{{ 'wiki.main.menu.permissions'|trans }}
				</a>
			</li>
		{% endif %}
		{% if wiki_can_edit(app.user, page) %}
			<li class="pull-right">
				<a href="{{ path('wiki_page_edit', {'login': orga.login, 'id': page.id, 'slug': page.title|slugify}) }}">
					{{ 'wiki.main.menu.edit'|trans }}
				</a>
			</li>
		{% endif %}
		<li class="pull-right">
			<a href="{{ path('wiki_page', {'login': orga.login, 'id': page.id, 'slug': page.title|slugify}) }}">
				{{ 'wiki.main.menu.read'|trans }}
			</a>
		</li>
	</ul>

	<div class="padding20-sides">
		<div class="row-fluid">
			<div class="span3 wiki-categories">
				<ul class="nav nav-list">
					<li class="nav-header">{{ 'wiki.main.indexOrga.title'|trans({'%name%': orga.name}) }}</li>
					<li>
						{% include 'EtuModuleWikiBundle:Tree:children.html.twig' with {
							'tree': tree,
							'currentPage': page,
							'orga': orga,
							'depth': 0
						} %}
					</li>
				</ul>

				{% if wiki_can_create(app.user, page) %}
					<br />
					<div class="btn-group">
						<a href="{{ path('wiki_create_page', {'login': orga.login}) }}" class="btn">
							<i class="icon-plus"></i> Page
						</a>
						<a href="{{ path('wiki_create_category', {'login': orga.login}) }}" class="btn">
							<i class="icon-plus"></i> Catégorie
						</a>
					</div>
				{% endif %}
			</div>

			<div class="span9">
				<p>
					{{ 'wiki.page.delete.question'|trans({'%pageName%': page.title}) }}
				</p>
				<p>
					<a href="{{ path('wiki_page_delete', {'login': orga.login, 'id': page.id, 'slug': page.title|slugify, 'confirm': 'confirm'}) }}" class="btn btn-primary">
						{{ 'wiki.page.delete.yes'|trans }}
					</a>
					<a href="{{ path('wiki_page', {'login': orga.login, 'id': page.id, 'slug': page.title|slugify}) }}" class="btn">
						{{ 'wiki.page.delete.no'|trans }}
					</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}