{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'wiki.page.revision.title'|trans }}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/bundles/wiki.css') }}" type="text/css" />
{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/wiki.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<ul class="nav nav-tabs page-tabs">
		<li>
			<a href="{{ path('wiki_index') }}">{{ 'wiki.menu.index'|trans }}</a>
		</li>
		{% if wiki_can_delete(app.user, page) %}
			<li class="pull-right">
				<a href="{{ path('wiki_page_delete', {'login': orga.login, 'id': page.id, 'slug': page.title|slugify}) }}">
					{{ 'wiki.menu.delete'|trans }}
				</a>
			</li>
		{% endif %}
		{% if wiki_can_edit_permissions(app.user, page) %}
			<li class="pull-right">
				<a href="{{ path('wiki_page_permissions', {'login': orga.login, 'id': page.id, 'slug': page.title|slugify}) }}">
					{{ 'wiki.menu.permissions'|trans }}
				</a>
			</li>
		{% endif %}
		{% if wiki_can_edit(app.user, page) %}
			<li class="pull-right active page-tabs-resolved-active">
				<a href="{{ path('wiki_page_view', {'login': orga.login, 'id': page.id, 'slug': page.title|slugify}) }}">
					{{ 'wiki.menu.edit'|trans }}
				</a>
			</li>
		{% endif %}
		<li class="pull-right">
			<a href="{{ path('wiki_page_view', {'login': orga.login, 'id': page.id, 'slug': page.title|slugify}) }}">
				{{ 'wiki.menu.read'|trans }}
			</a>
		</li>
	</ul>

	<div class="padding20-sides">
		<div class="row-fluid">
			<div class="span3 wiki-categories">
				<ul class="nav nav-list">
					<li class="nav-header">{{ 'wiki.page.revision.revisions'|trans }}</li>
					{% for revision in revisions %}
						{% if page.revision.id == revision.id %}
							<li>
								<a href="{{ path('wiki_page_edit', {'login': orga.login, 'id': page.id, 'slug': page.title|slugify}) }}" class="tip"
										{% if revision.comment and revision.user %}
											title="{{ revision.comment }}, {{ 'wiki.page.revision.by'|trans~' '~revision.user.fullName }}"
										{% elseif revision.comment and not revision.user %}
											title="{{ revision.comment }}"
										{% elseif not revision.comment and revision.user %}
											title="{{ 'wiki.page.revision.by'|trans|ucfirst~' '~revision.user.fullName }}"
										{% endif %}
										>
									{{ time_diff(revision.date)|ucfirst }}
								</a>
							</li>
						{% elseif currentRevision.id == revision.id %}
							<li class="active">
								<a href="#" class="tip"
										{% if revision.comment and revision.user %}
											title="{{ revision.comment }}, {{ 'wiki.page.revision.by'|trans~' '~revision.user.fullName }}"
										{% elseif revision.comment and not revision.user %}
											title="{{ revision.comment }}"
										{% elseif not revision.comment and revision.user %}
											title="{{ 'wiki.page.revision.by'|trans|ucfirst~' '~revision.user.fullName }}"
										{% endif %}
										>
									{{ time_diff(revision.date)|ucfirst }}
								</a>
							</li>
						{% else %}
							<li>
								<a href="{{ path('wiki_page_revision', {'login': orga.login, 'id': page.id, 'slug': page.title|slugify, 'revisionId': revision.id}) }}" class="tip"
										{% if revision.comment and revision.user %}
											title="{{ revision.comment }}, {{ 'wiki.page.revision.by'|trans~' '~revision.user.fullName }}"
										{% elseif revision.comment and not revision.user %}
											title="{{ revision.comment }}"
										{% elseif not revision.comment and revision.user %}
											title="{{ 'wiki.page.revision.by'|trans|ucfirst~' '~revision.user.fullName }}"
										{% endif %}
										>
									{{ time_diff(revision.date)|ucfirst }}
								</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>

			<div class="span9">
				<div class="wiki-revision-infos muted">
					<p>
						<em>{{ currentRevision.comment }}</em>
					</p>
					<p>
						<em>
							{{ currentRevision.date|date('d/m/Y H:i') }}
							{% if currentRevision.user %}
								| {{ 'wiki.page.revision.by'|trans~' '~currentRevision.user.fullName }}
							{% endif %}
						</em>
					</p>
				</div>

				<hr />

				<h4>{{ page.title }}</h4>
				{{ currentRevision.body|raw }}

				<hr />

				<p>
					<a href="{{ path('wiki_page_revision', {'login': orga.login, 'id': page.id, 'slug': page.title|slugify, 'revisionId': currentRevision.id, 'confirm': 'confirm'}) }}" class="btn btn-primary">
						{{ 'wiki.page.revision.submit'|trans }}
					</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}