
{% extends 'EtuModuleUploadBundle::layout.html.twig' %}

{% block javascripts %}
<script type="text/javascript">
	$(function() {
		var inputs = $('.upload-list-url'),
			links = $('.upload-list-url-link');

		inputs.hide();

		links.click(function() {
			inputs.hide();
			var id = $(this).attr('id');
			$('#' + id + '-input').toggle().focus();
			return false;
		});

		inputs.click(function() {
			return false;
		});

		$('body').click(function() {
			inputs.hide();
		});
	});
</script>
{% endblock %}

{% block body %}
	<div class="upload-form">
		<form class="form-inline" method="post" action="" {{ form_enctype(form) }}>
			<label for="image">{{ 'upload.main.index.send'|trans }}</label><br />
			{{ form_widget(form.file) }}

			{{ form_rest(form) }}
			<button type="submit" class="btn">{{ 'upload.main.index.send_submit'|trans }}</button>
		</form>
	</div>

	<hr />

    {% if images|length > 0 %}
        {% for image in images %}
            <div class="upload-image-container">
                <div class="upload-image" style="background-image: url('{{ asset('uploads/users_files/'~app.user.login~'/'~image.name) }}');">
                    <a href="{{ path('upload_remove', {'id': image.id}) }}" title="{{ 'upload.main.index.remove'|trans }}">
                        <i class="icon-remove"></i>
                    </a>
                </div>
                <div class="upload-label">
                    <input type="text" value="http://{{ etu.domain ~ '/uploads/users_files/' ~ app.user.login ~ '/' ~ image.name }}" />
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
