
{% extends 'EtuModuleUploadBundle::layout.html.twig' %}

{% block body %}
    <div class="upload-remove">
        <img class="upload-remove-image" src="{{ asset('uploads/users_files/'~app.user.login~'/'~image.name) }}" alt="{{ image.name }}" title="{{ image.name }}" />
        <hr />
        <p>
            {{ 'upload.main.remove.question'|trans({'%name%': image.name})|raw }}
        </p>
        <p>
            <a href="{{ path('upload_remove', {'id': image.id, 'confirm': 'confirm'}) }}" class="btn btn-primary">
                {{ 'upload.main.remove.yes'|trans }}
            </a>
            <a href="{{ path('upload_index') }}" class="btn">
                {{ 'upload.main.remove.no'|trans }}
            </a>
        </p>
    </div>
{% endblock %}
