{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'covoit.index.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('img/titles/covoiturage.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs page-tabs">
        <li class="pull-right">
            <a href="{{ path('covoiturage_my_propose') }}">
                Proposer
            </a>
        </li>
        <li class="pull-right active page-tabs-resolved-active">
            <a href="{{ path('covoiturage_my_index') }}">
                Mes covoiturages
            </a>
        </li>
        <li class="pull-right">
            <a href="{{ path('covoiturage_index') }}">
                Rechecher
            </a>
        </li>
    </ul>

    <div class="padding20-sides">
        <h4>Mes covoiturages</h4>

        {% for covoit in covoits %}

        {% else %}
           <p>
               Vous n'avez participé à aucun covoiturage pour le moment !
               <a href="{{ path('covoiturage_my_propose') }}">Proposez-en un !</a>
           </p>
        {% endfor %}
    </div>
{% endblock %}
