{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'covoit.private_index.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('src/img/titles/covoiturage.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block stylesheets %}
<script type='text/javascript'>var maps = [];</script>
{% endblock %}

{% block javascripts %}
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
        google.load('visualization', '1', {'packages': ['geochart']});
        google.setOnLoadCallback(drawMaps);

        function drawMaps() {
            var map, chart;

            for (var i = 0; i < maps.length; i++) {
                map = maps[i];

                chart = new google.visualization.GeoChart(document.getElementById(map.id));
                chart.draw(google.visualization.arrayToDataTable(map.data), {
                    region: 'FR',
                    displayMode: 'markers',
                    colorAxis: {colors: ['green']},
                    legend: 'none',
                    sizeAxis: {
                        minValue: 1,
                        maxValue: 2
                    },
                    tooltip: {
                        trigger: 'none'
                    }
                });
            }
        }
    </script>
{% endblock %}

{% block content %}
    {% include 'EtuModuleCovoitBundle::menu.html.twig' with {'active': 'private'} %}

    <div class="padding20-sides">
        <p class="align-right">
            <a href="{{ path('covoiturage_my_propose') }}" class="alert-create btn btn-default">
                <i class="fa fa-plus"></i>
                {{ 'covoit.proposal.title'|trans }}
            </a>
        </p>

        {% for covoit in pagination %}
            <script type='text/javascript'>
                maps.push({
                    id: 'map-{{ covoit.id }}',
                    data: [
                        ['City',   'Position'],
                        ['{{ covoit.startCity.name }}',  1],
                        ['{{ covoit.endCity.name }}',    1]
                    ]
                });
            </script>
            <a href="{{ path('covoiturage_view', {'id': covoit.id, 'slug': covoit.startCity.slug ~ '-' ~ covoit.endCity.slug }) }}"
               class="covoit-list-item{% if today > covoit.date %} covoit-list-item-done{% endif %}">
                <div id="map-{{ covoit.id }}" class="item-map" style="width: 140px; height: 89px;"></div>

                <div class="item-block item-subscriptions">
                    <span class="item-block-info">{{ covoit.capacity - (covoit.subscriptions|length) }}</span>
                    <br />
                    {{ 'covoit.private_index.subscriptions_left'|transchoice(covoit.capacity - (covoit.subscriptions|length))|raw }}
                </div>

                <div class="item-block item-price">
                    <span class="item-block-info">
                        {{ covoit.price }} €
                    </span>
                    <br />
                    {{ 'covoit.private_index.per_place'|trans }}
                </div>

                <div class="item-block item-date">
                    <span class="item-block-info">
                        {{ covoit.date|format_date }}
                    </span>
                    <br />
                    {{ covoit.startHour|format_time(null, null, null, constant('IntlDateFormatter::SHORT')) }}
                </div>

                <div class="item-infos">
                    <h5>
                        {{ covoit.startCity.name }} <i class="fa fa-angle-right"></i>
                        {{ covoit.endCity.name }}
                    </h5>
                    <span>{{ covoit.author.fullName }}</span>
                </div>
            </a>
        {% else %}
            <p class="muted trombi-search-explainations">
                {{ 'covoit.private_index.no_covoit.text'|trans }}
                <a href="{{ path('covoiturage_my_propose') }}">
                    {{ 'covoit.private_index.no_covoit.link'|trans }}
                </a>
            </p>
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
