<!DOCTYPE html>
{% spaceless %}
<html>
	<head>
		<meta charset="UTF-8" />

		<title>{% block title %}Home{% endblock %} | Tga Audience</title>

		<link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/tgaaudience/images/favicon.png') }}" />

		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/tgaaudience/bootstrap/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/tgaaudience/css/style.css') }}" />
	</head>
	<body>
		<header class="head">
			<h1>{{ block('title') }} | Tga Audience</h1>

			<img src="{{ asset('bundles/tgaaudience/images/logo.jpg') }}" />
		</header>

		<nav class="menu">
			<div class="container">
				<div class="row">
					<div class="span12">
						<ul>
							<li{% block dashboard %}{% endblock %}>
								<a href="{{ path('tga_audience_index') }}">Dashboard</a>
							</li>
							<li{% block visitors %}{% endblock %}>
								<a href="{{ path('tga_audience_visitors') }}">Visitors</a>
							</li>
							<li{% block traffic %}{% endblock %}>
								<a href="{{ path('tga_audience_traffic') }}">Traffic sources</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>

		<div class="container content">
			{% block content %}{% endblock %}
		</div>

		<footer class="container footer">
			<ul>
				<li>
					<a href="{{ path('tga_audience_index') }}">Dashboard</a>
				</li>
				<li>
					<a href="{{ path('tga_audience_visitors') }}">Visitors</a>
				</li>
				<li>
					<a href="{{ path('tga_audience_traffic') }}">Traffic sources</a>
				</li>
				<li>
					<a href="#">
						Top
					</a>
				</li>
				<li class="pull-right">
					(c) 2012 Titouan Galopin
				</li>
			</ul>
		</footer>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script type="text/javascript" src="{{ asset('bundles/tgaaudience/bootstrap/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript">
			$('.tip').tooltip();
		</script>

		{% block javascripts %}{% endblock %}
	</body>
</html>
{% endspaceless %}