{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'bugs.bugs_admin.delete.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('src/img/titles/bugs.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs page-tabs">
        <li>
            <a href="{{ path('bugs_index') }}">{{ 'bugs.bugs.state.opened'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('bugs_closed') }}">{{ 'bugs.bugs.state.resolved'|trans }}</a>
        </li>
        {% if is_granted('ROLE_BUGS_POST') %}
            <li class="pull-right">
                <a href="{{ path('bugs_create') }}">
                    <i class="icon-plus"></i>
                    {{ 'bugs.bugs.create.title'|trans }}
                </a>
            </li>
        {% endif %}
    </ul>

    <div class="padding20-sides">
        <p>
            {{ 'bugs.bugs_admin.delete.sure'|trans({'%bugName%': bug.title}) }}
        </p>
        <p>
            <a href="{{ path('bugs_admin_delete_confirm', {'id': bug.id, 'slug': bug.title|slugify}) }}" class="btn btn-primary">
                {{ 'bugs.bugs_admin.delete.yes'|trans }}
            </a>
            <a href="{{ path('bugs_view', {'id': bug.id, 'slug': bug.title|slugify}) }}" class="btn">
                {{ 'bugs.bugs_admin.delete.no'|trans }}
            </a>
        </p>
    </div>
{% endblock %}
