{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'wiki.orga.permissions.title'|trans }}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/bundles/wiki.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/bundles/wiki.js') }}"></script>
{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/wiki.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<ul class="nav nav-tabs page-tabs">
		<li>
			<a href="{{ path('wiki_index') }}">{{ 'wiki.menu.index'|trans }}</a>
		</li>
		{% if wiki_can_edit_permissions(app.user, page) %}
			<li class="pull-right active page-tabs-resolved-active">
				<a href="{{ path('wiki_orga_permissions', {'login': orga.login}) }}">{{ 'wiki.menu.permissions'|trans }}</a>
			</li>
		{% endif %}
		{% if wiki_can_edit(app.user, page) %}
			<li class="pull-right">
				<a href="{{ path('wiki_orga_edit', {'login': orga.login}) }}">{{ 'wiki.menu.edit'|trans }}</a>
			</li>
		{% endif %}
		<li class="pull-right">
			<a href="{{ path('wiki_orga_index', {'login': orga.login}) }}">{{ 'wiki.menu.read'|trans }}</a>
		</li>
	</ul>

	<div class="padding20-sides">
		<div class="row-fluid">
			<div class="span3 wiki-categories">
				<ul class="nav nav-list">
					<li class="nav-header">{{ 'wiki.orga.index.title'|trans({'%name%': orga.name}) }}</li>
				</ul>

				<div class="wiki-actions">
					{% include 'EtuModuleWikiBundle::actions.html.twig' with {'user': app.user, 'orga': orga, 'page': page} %}
				</div>

				<div class="wiki-tree">
					<ul class="wiki-nested-list wiki-nested-list-depth-0">
						<li class="wiki-nested-item">
							<a href="{{ path('wiki_orga_index', {'login': orga.login}) }}" class="wiki-nested-link-page">
								Accueil
							</a>
						</li>
					</ul>

					{% include 'EtuModuleWikiBundle:Tree:children.html.twig' with {
						'tree': tree.categories,
						'currentPage': page,
						'orga': orga,
						'depth': 0
					} %}

					<ul class="wiki-nested-list wiki-nested-list-depth-0">
						{% for page in tree.pages %}
							<li class="wiki-nested-item">
								<a href="{{ path('wiki_page_view', {'login': orga.login, 'id': page.id, 'slug': page.title|slugify}) }}" class="wiki-nested-link-page">
									{{ page.title }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<div class="span9">
				<h3>{{ page.title }}</h3>

				<p class="alert alert-info">
					Cette page est publique et ne peut pas être cachée.
				</p>

				<form method="post" action="">
					<div class="control-group">
						{{ form_label(form.levelToEdit, 'wiki.orga.permissions.toEdit'|trans) }}
						{{ form_widget(form.levelToEdit, {'attr': {'class': 'span7'} }) }}
						<span class="help-block">{{ form_errors(form.levelToEdit) }}</span>
					</div>
					<div class="control-group">
						{{ form_label(form.levelToEditPermissions, 'wiki.orga.permissions.toEditPermissions'|trans) }}
						{{ form_widget(form.levelToEditPermissions, {'attr': {'class': 'span7'} }) }}
						<span class="help-block">{{ form_errors(form.levelToEditPermissions) }}</span>
					</div>

					{{ form_rest(form) }}

					<button type="submit" class="btn btn-primary">{{ 'wiki.orga.permissions.submit'|trans }}</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}