{% extends '::page-popup.html.twig' %}

{% block title %}{{ 'upload.main.index.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'upload.main.index.title'|trans }}</h1>
    <div class="upload-form">
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.file) }}
            {{ form_row(form.readRight) }}
            {{ form_row(form.description) }}
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

    <hr />
    {% if organization %}
        <h3>{{ 'upload.main.index.fileof'|trans }} {{ organization.fullName }}</h3>
    {% else %}
        <h3>{{ 'upload.main.index.yourfiles'|trans }}</h3>
    {% endif %}
    {% include "@EtuModuleUpload/Main/part_list.html.twig" %}
{% endblock %}
