{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'covoit.alerts.edit.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('img/titles/covoiturage.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block javascripts %}
    <script type='text/javascript' src='{{ asset('js/bundles/covoit_alerts.js') }}'></script>
{% endblock %}

{% block content %}
    {% include 'EtuModuleCovoitBundle::menu.html.twig' with {'active': 'none'} %}

    <div class="padding20-sides">
        <form method="post">
            <a href="{{ path('covoiturage_my_alerts_delete', {'id': alert.id}) }}" class="btn btn-danger pull-right">
                {{ 'covoit.alerts.edit.delete'|trans }}
            </a>

            <h4>{{ 'covoit.alerts.edit.subtitle'|trans }}</h4>

            <p>
                <em class="muted">
                    <small>
                        {{ 'covoit.alerts.create.explainations'|trans }}
                    </small>
                </em>
            </p>

            <div class="row-fluid">
                <div class="span6">
                    {{ form_row(form.startCity) }}
                    {{ form_row(form.endCity) }}
                    {{ form_row(form.priceMax) }}
                </div>
                <div class="span6">
                    <p>
                        <em class="muted"><small>{{ 'covoit.alerts.create.precise_date'|trans }}</small></em>
                    </p>

                    {{ form_row(form.startDate) }}
                    {{ form_row(form.endDate) }}
                </div>
            </div>

            {{ form_rest(form) }}

            <hr />

            <p class="align-center">
                <input type="submit" class="btn btn-primary" value="{{ 'covoit.alerts.edit.submit'|trans }}" />
                <a href="{{ path('covoiturage_my_alerts') }}" class="btn btn-default">
                    {{ 'covoit.alerts.edit.cancel'|trans }}
                </a>
            </p>
        </form>
    </div>
{% endblock %}
