{% extends '::page-2cols.html.twig' %}

{% block title %}{{ 'covoit.private_alerts.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('img/titles/covoiturage.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block javascripts %}
    <script type='text/javascript' src='{{ asset('js/bundles/covoit_alerts.js') }}'></script>
{% endblock %}

{% block content %}
    {% include 'EtuModuleCovoitBundle::menu.html.twig' with {'active': 'alerts'} %}

    <div class="padding20-sides covoit-alerts">
        <p class="align-right">
            <a href="{{ path('covoiturage_my_alerts_create') }}" class="alert-create btn btn-default">
                <i class="fa fa-plus"></i>
                {{ 'covoit.private_alerts.create'|trans }}
            </a>
        </p>

        <p>
            {{ 'covoit.alerts.index.currently'|trans }}
        </p>

        {% for alert in pagination %}
            {% set parts = [] %}

            {% if alert.startCity %}
                {% set parts = parts|merge([ ('covoit.alerts.index.startCity'|trans({'%startCity%': alert.startCity.name})) ]) %}
            {% endif %}

            {% if alert.endCity %}
                {% set parts = parts|merge([ ('covoit.alerts.index.endCity'|trans({'%endCity%': alert.endCity.name})) ]) %}
            {% endif %}

            {% if alert.startDate and not alert.endDate %}
                {% set parts = parts|merge([ ('covoit.alerts.index.datePrecise'|trans({'%date%': alert.startDate|date('d/m/Y')})) ]) %}
            {% elseif alert.startDate and alert.endDate %}
                {% set parts = parts|merge([ ('covoit.alerts.index.dateBoth'|trans({'%startDate%': alert.startDate|date('d/m/Y'), '%endDate%': alert.endDate|date('d/m/Y')})) ]) %}
            {% elseif not alert.startDate and alert.endDate %}
                {% set parts = parts|merge([ ('covoit.alerts.index.dateEnd'|trans({'%date%': alert.endDate|date('d/m/Y')})) ]) %}
            {% endif %}

            {% if alert.priceMax %}
                {% set parts = parts|merge([ ('covoit.alerts.index.priceMax'|trans({'%price%': alert.priceMax})) ]) %}
            {% endif %}

            <ul>
                <li>
                    <a href="{{ path('covoiturage_my_alerts_edit', {'id': alert.id}) }}" class="covoit-alert-list-item">
                        {{ parts|join(', ')|ucfirst }}
                    </a>
                </li>
            </ul>
        {% else %}
            <p class="muted trombi-search-explainations no-alert">
                {{ 'covoit.private_alerts.no_alert.text'|trans }}
            </p>
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
