{% extends 'EtuCoreBundle:Admin:layout.html.twig' %}

{% block title %}{{ 'logger.main.index.title'|trans }}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/bundles/logs.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$('.more').click(function() {
			$(this).parent().parent().find('.where, .trace, .less').show();
			$(this).parent().hide();
			return false;
		});
		$('.less').click(function() {
			$(this).parent().parent().parent().find('.where, .trace, .less').hide();
			$(this).parent().parent().parent().find('.more').parent().show();
			return false;
		});
	</script>
{% endblock %}

{% block titleIcon %}
	<img src="{{ asset('img/titles/gear.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
	<ul class="nav nav-tabs page-tabs">
		<li class="active page-tabs-resolved-active">
			<a href="{{ path('logger_index') }}">{{ 'logger.main.menu.errors'|trans }}</a>
		</li>
		<li>
			<a href="{{ path('logger_requests') }}">{{ 'logger.main.menu.requests'|trans }}</a>
		</li>
	</ul>

	<div class="padding20-sides">
		<p class="alert alert-info">
			{{ 'logger.main.index.desc'|trans|raw }}
		</p>

		{% for log in pagination %}
			<div class="exception">
				{% if log.exception.hasMessage %}
					<h4>{{ log.exception.message }}</h4>
				{% else %}
					<h4>{{ log.exception.class }}</h4>
				{% endif %}

				<p>
					On <strong>{{ log.url }}</strong>
					from <strong>{{ log.client }}</strong>
					at <strong>{{ log.date|date('d/m/Y H:i:s') }}</strong>
				</p>

				<p class="pull-right">
					<a href="#" class="more">More</a>
				</p>

				<div class="clear"></div>

				<p class="where">
					In <strong>{{ log.exception.file }}</strong>
					on line <strong>{{ log.exception.line }}</strong>
				</p>

				<div class="trace">
					<h5>Trace</h5>

					<ol>
						{% for line in log.exception.stringTraceLines %}
							<li>
								{% if line.type == 'external' %}
									<strong>{{ line.string }}</strong><br />
									<em>in {{ line.file }} on line {{ line.line }}</em>
								{% elseif line.type == 'internal' %}
									<strong>{{ line.string }}</strong><br />
									<em>(internal function)</em>
								{% else %}
									{{ line.string }}
								{% endif %}
							</li>
						{% endfor %}
					</ol>
				</div>

				<div class="less">
					<p class="pull-right">
						<a href="#">Less</a>
					</p>
				</div>

				<div class="clear"></div>
			</div>
		{% endfor %}

		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}