{% macro commentaire(comment) %}
{% if comment.isValide or comment.user.id == app.user.id or is_granted('ROLE_UV_REVIEW_ADMIN') %}
    <div class="uv-view-comment uv-view-reviews-reviews-{% if comment.isValide %}validated{% else %}pending{% endif %}" style="display: block;">
        {% if not comment.isAnonyme or is_granted("ROLE_UV_REVIEW_ADMIN") or comment.user.id == app.user.id %}
            <a href="{{ path('user_view', {'login': comment.user.login}) }}">
                <img src="{{ path('user_view_image_profil', {'avatar': comment.user.avatar}) }}" class="uv-view-comment-avatar" />
            </a>
            <div class="uv-view-comment-author">
                <a href="{{ path('user_view', {'login': comment.user.login}) }}">
                    {{ comment.user.fullName }}{% if comment.isAnonyme and (is_granted("ROLE_UV_REVIEW_ADMIN") or comment.user.id == app.user.id) %} - ANONYME{% endif %}
                </a>
        {% else %}
            <a>
                <img src="{{ path('user_view_image_profil', {'avatar': 'default-avatar.png'}) }}" class="uv-view-comment-avatar" />
                </a>
            <div class="uv-view-comment-author">
            <a>
                Utilisateur anonyme
            </a>
        {% endif %}
                <div class="pull-right" style="font-weight: lighter;">
                {% if is_granted("ROLE_UV_REVIEW_ADMIN") or comment.user.id == app.user.id %}
                    {% if comment.user.id == app.user.id %}
                    <a href="{{ path('uvs_edit_comment', {'id': comment.id}) }}">{{ 'uvs.admin.index.edit'|trans }}</a>
                        {% endif %}
                            <a href="{{ path('admin_uvs_comment_delete', {'id': comment.id}) }}">{{ 'uvs.admin.index.delete'|trans }}</a>
                {% endif %}
                {% if is_granted("ROLE_UV_REVIEW_ADMIN") %}
                    {% if not comment.isValide %}
                        <a href="{{ path('admin_uvs_comment_validate', {'id': comment.id}) }}">{{ 'uvs.admin.index.validate'|trans }}</a>
                    {% else %}
                        <a href="{{ path('admin_uvs_comment_unvalidate', {'id': comment.id}) }}">{{ 'uvs.admin.index.unvalidate'|trans }}</a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        <div class="uv-view-comment-date">
            {{ 'uvs.main.date.createdAt'|trans }} : {{ comment.createdAt.format('d/m/Y H:i') }}
        </div>
        <div class="uv-view-comment-date">
            {{ 'uvs.main.date.updatedAt'|trans }} : {{ comment.updatedAt.format('d/m/Y H:i') }}
        </div>
        <div class="uv-view-comment-content">
            {{ comment.body|purify }}
        </div>
    </div>
{% endif %}
{% endmacro %}