{% extends '::developpers.html.twig' %}

{% block content %}
    <div class="dev-heading">
        <h3>Bienvenue sur l'espace<br />développeurs d'EtuUTT</h3>
    </div>

    <div class="padding20-all">
        {% if app.request.locale != 'fr' %}
            <div class="alert alert-warning">
                The EtuUTT developpers panel is not available in your language.
                For the moment, it exists only in French.
            </div>
        {% endif %}

        <p>
            Vous êtes dévleoppeur ? EtuUTT met à votre disposition toute une infrastructure pour que vous
            puissisez accéder aux données étudiantes de l'UTT. Laissez libre cours à vos idées et faciliter
            la vie de chaque étudiant de l'UTT en développant des applications !
        </p>

        <hr />

        <div class="row-fluid">
            <div class="span7">
                <h4>Développer une application externe</h4>

                <p>
                    Vous pouvez utiliser l'API d'EtuUTT pour développer une application ou un site externe.
                    Vous aurez ainsi accès à un système de connexion centralisé, à des données sur les étudiants
                    et les associations, etc.
                </p>

                <p>
                    <strong>
                        <a href="http://etuutt.readthedocs.org/fr/latest/api/index.html">
                            Lire la documentation de l'API
                        </a>
                    </strong>
                </p>

                <p>
                    <strong>
                        <a href="{{ path('nelmio_api_doc_index') }}">
                            Accéder à la référence des URL de l'API
                        </a>
                    </strong>
                </p>

                <hr />

                <h4>Développer un module pour le site étudiant</h4>

                <p>
                    Vous pouvez créer votre module intégré au site étudiant et le proposer à l'UNG pour mettre en
                    avant votre association, proposer des nouvelles fonctionnalités, etc. Par exemple, Argentique
                    a un module "Galerie photo".
                </p>

                <p>
                    <strong>
                        <a href="http://etuutt.readthedocs.org/fr/latest/core/index.html">
                            Lire le guide du contributeur d'EtuUTT
                        </a>
                    </strong>
                </p>

                <hr />

                <h4>Utiliser les librairies de l'UNG</h4>

                <p>
                    Vous pouvez utiliser les librairies de l'UNG pour faciliter le développement de vos applications
                    et de vos sites internet utilisant les ressources de l'UTT.
                </p>

                <p>
                    <strong>
                        <a href="http://etuutt.readthedocs.org/fr/latest/lib/index.html">
                            Lire la documentation des librairies de l'UNG
                        </a>
                    </strong>
                </p>
            </div>
            <div class="span5">
                <h4>Mes accès API</h4>

                <ul class="nav nav-list">
                    {% for client in clients %}
                        <li>
                            <a href="{{ path('devs_panel_manage_app', { 'clientId': client.clientId }) }}">
                                <img src="{{ asset('uploads/apps/' ~ client.icon) }}" class="api-app-image-icon" />
                                {{ client.name }}
                                <small class="muted">(client_id: {{ client.clientId }})</small>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <p>
                    <br />
                    <a href="{{ path('devs_panel_create_app') }}" class="btn btn-small">Créer une application</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}