{% extends 'EtuCoreBundle:Admin:layout.html.twig' %}

{% block title %}
  {{ 'badges.admin.add.title'|trans }}
{% endblock %}


{% block content %}
    <ul class="nav nav-tabs page-tabs">
        <li>
            <a href="{{ path('admin_badges_index') }}">
                <i class="icon-chevron-left"></i>
                {{ 'badges.admin.form.back'|trans }}
            </a>
        </li>
    </ul>

    <div class="padding20-all">


        {{ form_start(form) }}

            <div class="row-fluid">
                <div class="span6 privacy-layout">
                    <div class="field">{{ form_row(form.name) }}</div>
                </div>
                <div class="span6 privacy-layout">
                    <div class="field">{{ form_row(form.description) }}</div>
                </div>
            </div>

            <hr/>

            <div class="row-fluid">
                <div class="span6 privacy-layout">
                    <div class="field">{{ form_row(form.serie) }}</div>
                </div>
            </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

