{% extends '::page-2cols.html.twig' %}

{% block javascripts %}
    {% if is_admin %}
        <script src="{{ asset('bower_components/swipebox/src/js/jquery.swipebox.min.js') }}" type="text/javascript"></script>
        <script type="text/javascript"> $( '.swipebox' ).swipebox({ hideBarsDelay : 0 }); </script>
    {% endif %}
{% endblock %}

{% block title %}{{ 'argentique.main.index.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('src/img/titles/argentique.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <div class="padding20-all argentique-index">
        <div class="row-fluid">
            <div class="span4 argentique-galleries">
                <ul>
                    {% for collection in collections %}
                        <li>
                            <strong>{{ collection.title }}</strong>

                            <ul>
                                {% for s in collection.sets %}
                                    <li>
                                        <a href="{{ path('argentique_set', {'id': s.id, 'slug': s.title|slugify}) }}">
                                            {{ s.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>

                {% if is_admin %}
                    <br />

                    <p class="align-right">
                        <a href="{{ path('argentique_admin_synchronize') }}" class="btn btn-primary">
                            {{ 'argentique.main.index.synchronize'|trans }}
                        </a>
                    </p>
                {% endif %}
            </div>
            <div class="span8">
                <h4>{{ 'argentique.main.index.lasts'|trans }}</h4>

                {% for photo in photos %}
                    <a href="{{ asset('uploads/argentique/' ~ photo.file) }}" target="_blank" class="swipebox argentique-photo"
                            title="{{ photo.title }}">
                        <img src="{{ asset('uploads/argentique/' ~ photo.icon) }}" />
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
