{% extends '::page-2cols.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bower_components/swipebox/src/js/jquery.swipebox.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        var gallery = $('.swipebox'),
                tree = {
                    cSets: $('.argentique-tree-c ul'),
                    cOpen: $('.argentique-tree-c .c-open')
                };

        gallery.swipebox({ hideBarsDelay : 0 });

        tree.cSets.hide();
        tree.cOpen.append('<i class="fa fa-caret-down"></i>');

        // Open current
        $('#{{ set.id }}').parent().show();

        tree.cOpen.click(function() {
            $(this).parent().find('ul').slideToggle();
            return false;
        });
    </script>
{% endblock %}

{% block title %}{{ 'argentique.main.index.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('src/img/titles/argentique.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <div class="padding20-all argentique-index">
        <div class="row-fluid">
            <div class="span4 argentique-galleries">
                <ul class="argentique-tree">
                    {% for collection in collections %}
                        <li class="argentique-tree-c" data-id="c-{{ collection.id }}">
                            <a href="javascript:void(0)" class="c-open">
                                <strong>{{ collection.title }}</strong>
                            </a>

                            <ul>
                                {% for s in collection.sets %}
                                    <li class="argentique-tree-s" id="{{ s.id }}">
                                        <a href="{{ path('argentique_set', {'id': s.id, 'slug': s.title|slugify}) }}">
                                            {% if s.id == set.id %}
                                                <em>{{ s.title }}</em>
                                            {% else %}
                                                {{ s.title }}
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>

                {% if is_admin %}
                    <br />

                    <p class="align-right">
                        <a href="{{ path('argentique_admin_synchronize') }}" class="btn btn-primary">
                            {{ 'argentique.main.index.synchronize'|trans }}
                        </a>
                    </p>
                {% endif %}
            </div>
            <div class="span8">
                <h4>{{ 'argentique.main.index.lasts'|trans }}</h4>

                {% for photo in photos %}
                    <a href="{{ asset('uploads/argentique/' ~ photo.file) }}" target="_blank" class="swipebox argentique-photo"
                            title="{{ photo.title }}">
                        <img src="{{ asset('uploads/argentique/' ~ photo.icon) }}" />
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
