{% extends '::page-2cols.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendor/Justified-Gallery/dist/css/justifiedGallery.min.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/Justified-Gallery/dist/js/jquery.justifiedGallery.min.js') }}"></script>
    <script src="{{ asset('vendor/swipebox/src/js/jquery.swipebox.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        var gallery = $('.argentique-gallery'),
            swipebox = $('.swipebox');

        swipebox.swipebox({ hideBarsDelay : 0 });

        gallery.justifiedGallery({
            waitThumbnailsLoad: false
        });

        window.onload = function () {
            {% for photo in photos|slice(43) %}
                gallery.append(
                    '<a href="{{ argentique_photo(photo.pathname) }}" class="swipebox">' +
                        '<img src="{{ argentique_photo(photo.pathname, { 'h': 240 }) }}" />' +
                    '</a>'
                );
            {% endfor %}

            gallery.justifiedGallery('norewind');
        };
    </script>
{% endblock %}

{% block title %}{{ 'argentique.main.index.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('src/img/titles/argentique.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <div class="padding20-all argentique-index">
        <ul class="breadcrumb">
            {% for item in breadcrumb %}
                {% if item.pathname == directory %}
                    <li class="active">{{ item.basename }}</li>
                {% else %}
                    <li>
                        {% if not item.pathname %}
                            <a href="{{ path('argentique_index') }}">
                                {{ item.basename }}<!--
                         --></a>
                        {% else %}
                            <a href="{{ path('argentique_directory', { 'directory': item.pathname }) }}">
                                {{ item.basename }}<!--
                         --></a>
                        {% endif %}
                        <span class="divider">/</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        {% if directories|length > 0 %}
            {% if not directory %}
                <h3>Collections</h3>
            {% else %}
                <h3>Sous-collections</h3>
            {% endif %}

            <div class="argentique-collections">
                {% for dir in directories %}
                    <a href="{{ path('argentique_directory', { 'directory': dir.pathname }) }}">
                        <img src="{{ argentique_collection(dir.pathname) }}" alt="Voir la collection {{ dir.basename }}" />
                        <br />
                        <span>{{ dir.basename }}</span>
                    </a>
                {% endfor %}
            </div>

            {% if photos|length > 0 %}<hr />{% endif %}
        {% endif %}

        {% if photos|length > 0 %}
            <h3>Photos</h3>

            <div class="argentique-gallery">
                {% for photo in photos|slice(0, 43) %}
                    <a href="{{ argentique_photo(photo.pathname) }}" class="swipebox">
                        <img src="{{ argentique_photo(photo.pathname, { 'h': 240 }) }}"
                                height="150px" width="{{ (photo.size.width / photo.size.ratio)|round }}px" />
                    </a>
                {% endfor %}
            </div>
        {% endif %}

    </div>
{% endblock %}
