{% extends '::page-2cols.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bundles/argentique.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
    {% if is_admin %}
        <script src="{{ asset('filedrop/src/jquery.filedrop.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/bundles/argentique.js') }}" type="text/javascript"></script>
    {% endif %}
{% endblock %}

{% block title %}{{ 'argentique.main.index.title'|trans }}{% endblock %}

{% block titleIcon %}
    <img src="{{ asset('img/titles/argentique.png') }}" alt="{{ 'base.logo.alt'|trans }}" title="{{ 'base.logo.title'|trans }}" class="page-title-icon" />
{% endblock %}

{% block content %}
    <div class="padding20-all argentique-index">
        {% for collection in collections %}
            <a href="{{ path('argentique_gallery', { 'id': collection.id, 'slug': collection.title|slugify }) }}" class="gallery-item gallery-sub">
                <div class="sub-images">
                    <img src="{{ asset('img/photos.png') }}" />
                </div>
                <div class="sub-name">
                    {{ collection.title }}
                </div>
            </a>
        {% else %}
            <p>
                Pas de collection pour le moment !
            </p>
        {% endfor %}
    </div>
{% endblock %}
