
{% if breadcrumb is defined %}
    {% set currentCategory = breadcrumb[depth] %}
{% else %}
    {% set currentCategory = false %}
{% endif %}

<ul class="wiki-nested-list wiki-nested-list-depth-{{ depth }}">
	{% for category in tree %}
		<li class="
			wiki-nested-item wiki-nested-item-category-up
			{% if not category.hasChildren %}
				wiki-nested-item-category-no-child
			{% endif %}

			{% if currentCategory and currentCategory.id == category.id %}
				wiki-nested-item-category-current
			{% endif %}
		">
			<a href="#" data-state="up" data-depth="{{ category.depth + 1 }}" class="wiki-nested-link-category">
				{{ category.title }}
			</a>

			{% if category.hasChildren %}
				{% include 'EtuModuleWikiBundle:Tree:children.html.twig' with {
					'tree': category.children,
					'depth': category.depth + 1
				} %}
			{% endif %}

			<ul class="wiki-nested-list wiki-nested-list-depth-{{ depth + 1 }}">
				{% for page in category.pages %}
					{% if currentPage is defined and currentPage.id == page.id %}
					<li class="wiki-nested-item wiki-nested-item-current" data-depth="{{ depth + 1 }}">
					{% else %}
					<li class="wiki-nested-item">
					{% endif %}
						<a href="{{ path('wiki_page_view', {'login': orga.login, 'id': page.id, 'slug': page.title|slugify}) }}" class="wiki-nested-link-page">
							{{ page.title }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</li>
	{% endfor %}
</ul>
