
<a class="notif{% if notif.isSuper %} super-notif{% elseif notif.isNew(app.user.lastVisitHome) %} notif-new{% endif %}"
    {% if notif.countEntities == 1 %}
    href="{{ path('forum_thread', {'id': notif.firstEntity.getThread().id, 'slug': notif.firstEntity.getThread().slug}) }}"
    {% else %}
    href="{{ path('forum_index') }}"
    {% endif %}>
    <img src="{{ asset('assets/img/icons-big/forum.png') }}" />

    <h4 class="notif-title">
        {% if notif.countEntities == 1 %}
            {{ 'forum.notifs.threadCreated'|trans({
                '%title%': highlight_notif_data(notif.firstEntity.getThread().title),
                '%author%': highlight_notif_data(notif.firstEntity.author.getFullName())
            })|raw }}
        {% endif %}
    </h4>

    <div class="notif-date">
        {{ time_diff(notif.date)|ucfirst }}
    </div>

    <div class="clear"></div>
</a>
